{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="govuk-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
        </div>
    </div>
</div>
    <a href="prisoner-search.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Adjustments</h1>
                <h3 class="govuk-heading-m">Remand</h3>
                <p>The adjustments have been calculated based on the information in NOMIS.
                    The rules for applying remand time can be found in <a href="#">the policy framework</a>.</p>
<!--hide this until we know what we are doing-->
<!--            <div class="govuk-inset-text">-->
<!--                Farmer create agricultural charge remove property subject to charge from holding.-->
<!--            </div>-->

                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Details</th>
                        <th class="govuk-table__header" scope="col">Days</th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <span class="govuk-hint">Case reference: T1000000</span><br>
                            Attempted Burglary<br>
                            <span class="govuk-!-padding-top-3"><b>From 1 Feb 2018 to 05 Feb 2018</b></span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell"></br>5</td>
                        <!-- Change -->
                        <td class="govuk-table__cell"><a href="edit"><br>Update</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <span class="govuk-hint">Case reference: T1000000</span><br>
                            Attempted Burglary<br>
                            <span class="govuk-!-padding-top-3"><b>From 12 Feb 18 to 17 Feb 18 </b></span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell"></br>6</td>
                        <!-- Change -->
                        <td class="govuk-table__cell"><a href="edit"><br>Update</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <span class="govuk-hint govuk-!-margin-bottom-4">Case reference: T1000300</span><br>
                            Assault by beating<br>
                            <span class="govuk-!-padding-top-3"><b>From 12 Feb 18 to 17 Feb 18</b></span>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell"><br>6</td>
                        <!-- Change -->
                        <td class="govuk-table__cell"><br><a href="edit">Update</a></td>
                    </tr>
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">11
                        </td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    </tbody>
                </table>
            <div>

            </div>
                <h3 class="govuk-heading-m">Check back records before applying remand</h3>
                <p> Some remand time may not be recorded on NOMIS.
                    Remember to check other sources such as back records before applying the remand.
                </p>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                            I have checked other sources
                        </label>
                    </div>
                </div>
                </fieldset>
            </div>

                <a href="confirmation.html" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </a>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}