{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="offence-search" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="form" action="check-answers">
                    <div class="govuk-form-group">
                        <span class="govuk-caption-l">Add an sentence</span>
                        <label class="govuk-heading-l" for="sentence-date">
                            When did Joe Bloggs commit the offence: {{ data['offence-name'] }}?
                        </label>
                        <div id="sentence-date" class="govuk-hint">
                            For example, 27 3 2007
                        </div>
<div class="govuk-date-input" id="offence-start-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="offence-start-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-start-day" name="offence-start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="offence-start-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-start-month" name="offence-start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="offence-start-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="offence-start-year" name="offence-start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-form-group govuk-!-margin-top-7">
                <h2 class="govuk-heading-m">Did the offence occur over multiple days?</h2>
                <!-- <p class="govuk-hint">This applies to offences that occur over multiple days.</p> -->
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offence-end-date" name="offence-end-date" type="radio" value="offence-end-date" data-aria-controls="conditional-end-date">
                        <label class="govuk-label govuk-radios__label" for="offence-end-date">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-end-date">
                        <div class="govuk-form-group">
                            <label class="govuk-heading-s" for="offence-end-date">
                                Offence end date
                            </label>
                            <div id="offence-start-date" class="govuk-hint">
                                For example, 27 3 2007
                            </div>
                            <div class="govuk-date-input" id="offence-end-date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="offence-end-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-end-day" name="offence-end-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="offence-end-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-end-month" name="offence-end-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="offence-end-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="offence-end-year" name="offence-end-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offence-end-date" name="offence-end-date" type="radio" value="offence-end-date">
                        <label class="govuk-label govuk-radios__label" for="offence-end-date">
                            No
                        </label>
                    </div>
                </div>
            </div>
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}