{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="sentence-date" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="form" action="consecutive-or-concurrent">
                    <div class="govuk-form-group">
                        <span class="govuk-caption-l">Add a sentence</span>
                        <label class="govuk-heading-l" for="sentence-date">
                            How long was Joe Bloggs sentenced for?
                        </label>
                        <div class="govuk-date-input" id="sentence-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="sentence-length-years">
                                        Years
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-years" name="sentence-length-years" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="sentence-length-months">
                                        Months
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-months" name="sentence-length-months" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="sentence-length-weeks">
                                        Weeks
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-weeks" name="sentence-length-weeks" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="ssentence-length-days">
                                        Days
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-days" name="sentence-length-days" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </div>
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                </form>
        </div>
    </div>
    </main>
</div>
{% endblock %}