{% extends "version-1/dps/includes/hub-layout-minus-nav2.html" %}
{% block content %}

    <a href="../remand-periods/index.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span></h1>
<p class="govuk-heading-l">Check remand details for Steve Smith</p>
                

                   <div class="govuk-body">Based on the court case information in NOMIS, this service has calculated the below remand to be applied. The rules for applying remand time can be found in the policy framework.</div>
            
            <table class="govuk-table govuk-!-margin-bottom-8">
                <caption class="govuk-table__caption govuk-table__caption--m">Remand to be applied</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">From</th>
                    <th scope="col" class="govuk-table__header">To</th>
                    <th scope="col" class="govuk-table__header">Days</th>
                    <th scope="col" class="govuk-table__header">Offence details</th>
                    <th scope="col" class="govuk-table__header" style="width: 130px;">Committed on</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">23 Nov 2023</td>
                    <td class="govuk-table__cell">22 Apr 2024</td>
                    <td class="govuk-table__cell">152</td>
                    <td class="govuk-table__cell govuk-table__header">Assault by beating of an emergency worker<br>Wound/inflict grevious bodily harm without intent</td>
                    <td class="govuk-table__cell">18 July 2021<br>18 Oct 2023 <br>to 19 Oct 2023</td>
                  </tr>
                
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total days</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell govuk-table__header">152</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                </tbody>
              </table>


<!--accordian-->

              <div class="govuk-accordion" data-module="govuk-accordion" id="all-sections-open">
                <div class="govuk-accordion__section govuk-accordion__section--expanded">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="all-sections-open-heading-1" aria-labelledby="all-sections-open-heading-1">
                        Writing well for the web
                      </span>

                    </h2>
                  </div>
                  <div id="accordion-open-content-1" class="govuk-accordion__section-content">
                    <p class="govuk-body">This is the content for Writing well for the web.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-open-heading-2">
                        Writing well for specialists
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-open-content-2" class="govuk-accordion__section-content">
                    <p class="govuk-body">This is the content for Writing well for specialists.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-open-heading-3">
                        Know your audience
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-open-content-3" class="govuk-accordion__section-content">
                    <p class="govuk-body">This is the content for Know your audience.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-open-heading-4">
                        How people read
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-open-content-4" class="govuk-accordion__section-content">
                    <p class="govuk-body">This is the content for How people read.</p>
                  </div>
                </div>
              </div>

            
                  


             
            <div class="govuk-button-group">
                <a href="hub-9-a.html" class="govuk-button" data-module="govuk-button">
                    Accept and save
                </a>
                <a href="hub-9.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                </a>
            </div>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}