{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="hub-9.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>
                RADA details
            </h1>
            <table class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Date of adjudication</th>
                    <th class="govuk-table__header" scope="col">Adjudication ID</th>
                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Added</th>
                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>

                    <th class="govuk-table__header" scope="col"> </th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        12 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        ADJ-000000
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                       added on 20 May 2023 by HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">5 </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre"><a href="rada-edit.html">Edit</a> </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        15 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        ADJ-000034
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                        added on 20 May 2023 by HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">3 </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre"><a href="">Edit</a> </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}