{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="#" class="govuk-back-link">Back</a>


            <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">
                                Changes approved
                            </h1>
                            <div class="govuk-panel__body">
                                The ADAs have been updated.
                            </div>
                        </div>
                        <p class="govuk-body">We have sent you a confirmation email.</p>
                        <h2 class="govuk-heading-m">What happens next</h2>

                        <p class="govuk-body">
                            You will now need to
                            <a href="#" class="govuk-link">calculate release dates</a>.
                        </p>
                    </div>
                </div>
            </main>

    </div>
</div>
<script src="/public/javascripts/adjustments-3.js"></script>
{% endblock %}