{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="./index.html" class="govuk-back-link">Back</a>
       <form class="form" action="/tsca-question-submit" method="post">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  
                       <h1 class="govuk-heading-l">
                                <span class="govuk-caption-xl">Adjustments</span>
                                Has the court specified how many days to count as time served and included it in the sentencing warrant?
                            </h1>
                           <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                  <div id="changedName-hint" class="govuk-hint">
                                    You will find this in the sentencing warrant
                                  </div>
                                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="tscaquestion" name="tscaselect" type="radio" value="Sentencing warrant">
                                      <label class="govuk-label govuk-radios__label" for="tscaquestion">
                                        Yes
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="tscaquestion-2" name="tscaselect" type="radio" value="PPCS">
                                      <label class="govuk-label govuk-radios__label" for="tscaquestion-2">
                                        No
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                        </div>
                  <div class="govuk-button-group">
                         <button class="govuk-button" data-module="govuk-button" type="submit">
                              Continue
                          </button>
                            <a href="./index.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
         
            
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}
Collapse










