{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="hub-9.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>Check adjudication details before submitting</h1>
                    <h2 class="govuk-heading-m">Adjudication details</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                12 May 2023
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="date-of-ada.html">
                                    Change<span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Adjudication ID
                            </dt>
                            <dd class="govuk-summary-list__value">
                                0000001
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="select-adjudication.html">
                                    Change<span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Days
                            </dt>
                            <dd class="govuk-summary-list__value">
                                25
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="select-adjudication.html">
                                    Change<span class="govuk-visually-hidden"> customer reference</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                    <h2 class="govuk-heading-m">Submit adjudication details</h2>
                    <p class="govuk-body">Your data will be saved to NOMIS. After submitting you will need to recalculate release dates for this prisoner.</p>
                    <form action="adjustments-dashboard" method="post" novalidate>
                        <input type="hidden" name="answers-checked" value="true">
                        <button class="govuk-button" data-module="govuk-button">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}