{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="govuk-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="prisoner-search-results.html " class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-6">
                    <h1 class="govuk-heading-l">
                        Adjustments summary
                    </h1>
                    <article class="moj-ticket-panel govuk-!-margin-bottom-8" aria-label="Sub navigation 1">

                        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">

                            <table class="govuk-table">
                                <caption class="govuk-table__caption govuk-table__caption--m">Calculated adjustments</caption>

                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Remand</th>
                                    <td class="govuk-table__cell">972 days</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">UAL</th>
                                    <td class="govuk-table__cell">5 days</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Total days</th>
                                    <td class="govuk-table__cell">977</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Applies to sentence</th>
                                    <td class="govuk-table__cell">18</td>
                                </tr>
                                </tbody>
                            </table>
                        </section>

                    </article>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                        <div class="govuk-grid-column-one-half">

                            <div class="govuk-summary-card ">
                                <div class="govuk-summary-card__title-wrapper">
                                    <h2 class="govuk-summary-card__title">Remand 972 days</h2>
                                    <ul class="govuk-summary-card__actions">
                                        <li class="govuk-summary-card__action"> <a class="govuk-link" href="remand.html">
                                            Add new<span class="govuk-visually-hidden"> of University of Gloucestershire</span>
                                        </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="govuk-summary-card__content">
                                    <table class="govuk-table">
                                        <caption class="govuk-table__caption govuk-table__caption--s">Summary</caption>

                                        <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">From</th>
                                            <td class="govuk-table__cell">17 Apr 2020</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">To</th>
                                            <td class="govuk-table__cell">14 Dec 2022</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Days</th>
                                            <td class="govuk-table__cell">972</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Applies to sentence</th>
                                            <td class="govuk-table__cell">18</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a class="govuk-link" href="prisoner-details-4.html">View details</a>
                                </div>
                            </div>

                        </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Unlawfully at large (UAL) 5 days</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="ual.html">
                                        Add new<span class="govuk-visually-hidden">Add new remand</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <table class="govuk-table">
                                    <caption class="govuk-table__caption govuk-table__caption--m">Remand days</caption>

                                    <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">From</th>
                                        <td class="govuk-table__cell">17 Apr 2020</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">To</th>
                                        <td class="govuk-table__cell">14 Dec 2022k</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Days</th>
                                        <td class="govuk-table__cell">972</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Applies to sentence</th>
                                        <td class="govuk-table__cell">18</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Additional days awarded (ADA)</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="ual.html">
                                            Add new<span class="govuk-visually-hidden">Add new remand</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-hint">None recorded</p>

                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Tagged bail 0 days</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="ual.html">
                                            Add new<span class="govuk-visually-hidden">Add new remand</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-hint">None recorded</p>

                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Restore additional days awarded (RADA) 0 days</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="ual.html">
                                            Add new<span class="govuk-visually-hidden">Add new remand</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-hint">None recorded</p>
                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Lawfully at large 0 days</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="ual.html">
                                            Add new<span class="govuk-visually-hidden">Add new remand</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-hint">None recorded</p>

                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Special remission 0 days</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="ual.html">
                                            Add new<span class="govuk-visually-hidden">Add new remand</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-hint">None recorded</p>

                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Time spent in custody abroad 0 days</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="ual.html">
                                            Add new<span class="govuk-visually-hidden">Add new remand</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-hint">None recorded</p>

                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-!-static-padding-5">
                            <h2 class="govuk-heading-m">Calculate release dates</h2>
                            <p>The changes may affect the release date for Joe Bloggs </p>
                        <a href="select-adjustment-type.html" id="add-adjustment-button" class="govuk-button" data-name="ADA">
                            Calculate release dates
                        </a>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}