{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="overview">Overview</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" aria-current="page" href="#2">Court cases</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="#2">Adjustments</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="#2">Release dates</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                Court cases for Joe Bloggs
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-8" data-test="prison-number"><span class="govuk-!-font-weight-bold">Prison number:</span> A5264VA</p>
            <a href="../add-court-case/search-by-name"><button class="govuk-button">Add new court case</button></a>
            <div class="govuk-!-margin-bottom-8 app-possible-prison-record" style="display: flex;">
                        <div class="govuk-grid-column-full govuk-!-margin-top-4">
                            <h3 class="govuk-heading-m">
                                Leeds Combined Court Centre
                            </h3>
                            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header" style="width: 35%;">Court case number</th>
                                        <td class="govuk-table__cell">463909453</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Court date</th>
                                        <td class="govuk-table__cell">3 September 2021</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="govuk-body">There are 3 sentences for this court case</p>
                            <p class="govuk-body"><a href="../sentence-and-offence-information/sentences-and-offences-court-case-1">See sentences and offences</a></p>
                        </div>
                    </div>
                    <div class="govuk-!-margin-bottom-8 app-possible-prison-record" style="display: flex;">
                        <div class="govuk-grid-column-full govuk-!-margin-top-4">
                            <h3 class="govuk-heading-m">
                                Manchester Crown Court (Crown Square)
                            </h3>
                            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header" style="width: 35%;">Court case number</th>
                                        <td class="govuk-table__cell">495409513</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Court date</th>
                                        <td class="govuk-table__cell">25 February 2022</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="govuk-body">There are 3 sentences for this court case</p>
                            <p class="govuk-body"><a href="">See sentences and offences</a></p>
                        </div>
                    </div>
        </div>
    </div>
</div>
{% endblock %}