{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="">
    <div class="">
        <a href="./is91-date-issued" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                     {% if data.recordDocument=="IS91"%}
 <span class="govuk-caption-xl">Record IS91 Detention Authority</span>
 {% elseif data.recordDocument=="Deportation order" %}
 <span class="govuk-caption-xl">Record deportation order</span>
 {% else %}
  <span class="govuk-caption-xl">Record immigration information</span>
  {% endif %}
                    <h1 class="govuk-heading-l">
                        
                        <p></p>
                        Confirm and save</h1>
                    <div id="dataContainer">

                    </div>
                    
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                       
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              {% if data.recordDocument=="IS91"%}
                               <p class="govuk-body govuk">Document type</p>
                                {% elseif data.recordDocument=="Deportation order" %}
                               <p class="govuk-body govuk">Document type</p>
                                 {% else %}
                                 <p class="govuk-body govuk"><b>Immigration information</b></p>
                           {% endif %}
                            </dt>
                            <dt></dt>
                            <dd  id="days" class="govuk-summary-list__value">
                               {% if data.recordDocument=="IS91"%}
                               <p class="govuk-body govuk">IS91 Detention Authority</p>
                                {% elseif data.recordDocument=="Deportation order" %}
                               <p class="govuk-body govuk">Deportation order</p>
                                 {% else %}
                                 <p class="govuk-body govuk">No longer of interest to the Home Office</p>
                           {% endif %}
                            </dd>
                            <dd id="start" class="govuk-summary-list__value"></dd>
                            
                            <dd class="govuk-summary-list__value">
                                <a href="record-immigration-detention-details.html">Edit</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                             {% if data.recordDocument=="IS91"%}
                               <p class="govuk-body govuk">Date on document</p>
                                {% elseif data.recordDocument=="Deportation order" %}
                               <p class="govuk-body govuk">Date on document</p>
                                 {% else %}
                                 <p class="govuk-body govuk"><b>Date confirmed by the Home Office</b></p>
                           {% endif %}
                             </dt>
                             <dt></dt>
                            <dd class="govuk-summary-list__value">
                                14 July 2025
                            </dd>
                            
                            <dd id="start" class="govuk-summary-list__value"></dd>
                            <dd class="govuk-summary-list__value">
                                <a href="is91-date-issued.html">Edit</a>
                            </dd>
                        </div>
                         <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                  {% if data.recordDocument=="IS91" %}
                              Home Office reference number
                              {% elseif data.recordDocument=="Deportation order" %}
                              Home Office reference number
                              {% else %}
                              Reason
                              {% endif %}
                             </dt>
                             <dt></dt>
                            <dd class="govuk-summary-list__value">
                               {%if (data.is91ref) %}
                {{data.is91ref}}
                               {% elseif (data.doref) %}
                {{data.doref}}
                {% elseif (data.statustype) %}
                {{data.statustype}}: {{data.contactByPhone}}
               
                 {% endif %}
                            </dd>
                            <dd id="start" class="govuk-summary-list__value"></dd>
                            <dd class="govuk-summary-list__value">
                                <a href="is91-reference-number.html">Edit</a>
                            </dd>
                        </div>
                       
                    </dl>
                   
                   <div class="govuk-button-group">
                          <a href="./confirmation" class="govuk-button" data-module="govuk-button">
                              Confirm and save
                          </a>
                         
                        <a href="../overview.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Cancel
                      </a>
                      </div>
                    
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}