{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="">
    <div class="">
        <a href="./check-your-answers" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    
                    <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
  Authority to detain successfully recorded
  </h1>
 <!-- <div class="govuk-panel__body">
    Your reference number<br><strong>HDJ2123F</strong>
  </div>-->
</div>
<br>
<div class="govuk-body">IS91 document successfully recorded.</div>
    <div class="govuk-heading-l">What you need to do next</div>   
    
    <p><a href="#">Add or update an alert</a></p>
    <p><a href="#">Amend release schedule</a></p>
                  
                   
                   <div class="govuk-button-group">
                          <a href="../overview2" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                             Continue to overview
                          </a>
                         
                     
                      </div>
                    
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}