{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="">
    <div class="">
        <a href="./check-your-answers" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    
                    <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    {% if data.recordDocument=="IS91" %}
                              IS91 Detention Authority successfully recorded
                              {% elseif data.recordDocument=="Deportation order" %}
                           Deportation order successfully recorded
                              {% else %}
                              No longer of interest successfully recorded
                              {% endif %}
  </h1>
 <!-- <div class="govuk-panel__body">
    Your reference number<br><strong>HDJ2123F</strong>
  </div>-->
</div>
<br>
<div class="govuk-heading-l">What you need to do next</div>   

                                {% if data.recordDocument=="IS91"%}
                               <p class="govuk-body govuk">If this person will be detained under immigration powers after their release date, you need to:</p>
                               {% elseif data.recordDocument=="Deportation order" %}
                               <p class="govuk-body govuk">If this person will be detained under immigration powers after their release date, you need to:</p>
                               {% else %}
                            <p class="govuk-body govuk">This person will not be detained under immigration powers after their release. You need to check if there are any alerts that might prevent a release.</p>
                                {% endif %}
    
     {% if data.recordDocument=="IS91" %}
    <ol class="govuk-body">1. <a href="#">Add or update an alert on the person's profile</a></ol>
     {% elseif data.recordDocument=="Deportation order" %}
     <ol class="govuk-body">1. <a href="#">Add or update an alert on the person's profile</a></ol>
     {% else %}
      <ol class="govuk-body">1. <a href="#">Check and update alerts on the person's profile</a></ol>
      {% endif %}
    <ol class="govuk-body">2. Go to NOMIS to update the release schedule</ol>
   
                  <br>
                   
                   <div class="govuk-button-group">
                          <a href="../overview2" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                             Continue to overview
                          </a>
                         
                     
                      </div>
                    
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}