{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="./record-immigration-detention-details" class="govuk-back-link">Back</a>

       
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <form class="form" action="./do-reference-number" method="post">
                       <h1 class="govuk-heading-xl">
                                 <span class="govuk-caption-xl"> Record authority to detain</span>
                    <p></p>
                          <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Enter the date the deportation order was issued
      </h1>
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                            <a href="../overview.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
         

            
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}