{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="../overview2.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">
                       <span class="govuk-caption-xl"> Record authority to detain</span>
                       <p></p>
                      Immigration documents overview</h1>
                 
                      
                  </div>
                  
                </div>
 
               <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                            Active
                            </h2>
                            <ul class="govuk-summary-card__actions">
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="./update-status">
                                    Edit status
                                  </a>
                              </li>
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="./delete-documents">
                                    Delete
                                  </a>
                              </li>
                          </ul>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Document type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                {% if data.recordDocument=="IS91"%}
                               <p class="govuk-body govuk">IS91</p>
                                {% else %}
                               <p class="govuk-body govuk">Deportation order</p>
                                {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                             
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date served
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  14 July 2025
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Reference number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 ABCD12345
                                </dd>
                                 <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Date recorded
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  22 July 2025
                                </dd>
                                
                              </div>
                            </dl>
                          </div>
                        </div>
                        <br>
                      
                        
<!-- 
                        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Add new
                        </a> -->
   
 
                        <div class="govuk-button-group">
                           
                          <a href="#" class="govuk-button govuk-button" data-module="govuk-button">
                            Add an alert
                              <a href="../overview2.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Return to overview
                        </a>
                        </div>
                        
                      

                </div>
            </div>


        </main>
    </div>
</div> 
{% endblock %}