{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="../overview2.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">
                      Immigration documents overview</h1>
                  </div>
                 </div>
                 <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
                   <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
                  </svg>
                   {% if data.recordDocument=="IS91"%}
                     <div class="moj-banner__message"><b>An IS91 Detention Authority has been recorded</b></div>
                    {% elseif data.recordDocument=="Deportation order" %}
                      <div class="moj-banner__message"><b>A deportation order has been recorded</b></div>
                      {% else %}
                      <div class="moj-banner__message"><b>Amos Burton is no longer of interest to the Home Office</b></div>
                       {% endif %}
                   </div>
{% if data.recordDocument=="IS91"%}

                      <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                            IS91 recorded on 15 July 2025
                            </h2>
                            <ul class="govuk-summary-card__actions">
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="./delete-documents">
                                    Delete
                                  </a>
                              </li>
                          </ul>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date on document
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  14 July 2025
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Home Office reference number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 ABCD12345
                                </dd>
                                 <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              
                            </dl>
                          </div>
                          
                        </div>
                       {% elseif data.recordDocument=="Deportation order" %}

                         <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                            Deportation order recorded on 15 July 2025
                            </h2>
                            <ul class="govuk-summary-card__actions">
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="./delete-documents">
                                    Delete
                                  </a>
                              </li>
                          </ul>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date on document
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  14 July 2025
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  
                                 Reference number
                                 
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 ABCD12345
                                </dd>
                                 <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              
                            </dl>
                          </div>
                          
                        </div>
                        {% else %}
                        <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                            No longer of interest recorded on 15 July 2025
                            </h2>
                            <ul class="govuk-summary-card__actions">
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="./delete-documents">
                                    Delete
                                  </a>
                              </li>
                          </ul>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date of confirmation from Home Office
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  14 July 2025
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  
                                Reason
                                 
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  {%if (data.is91ref) %}
                {{data.is91ref}}
                               {% elseif (data.doref) %}
                {{data.doref}}
                {% elseif (data.statustype) %}
                {{data.statustype}}: {{data.contactByPhone}}
               
                 {% endif %}
                                </dd>
                                 <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Edit</a>
                                </dd>
                              </div>
                              
                            </dl>
                          </div>
                          
                        </div>

                        {% endif %}
                       
                      <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">  Immigration document history</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Document type</th>
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Details</th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><b>IS91 Detention Authority</b></td>
      <td class="govuk-table__cell">14 December 2024</td>
       <td class="govuk-table__cell">ABCD1234</td>
        <td class="govuk-table__cell"><a href="#">Edit</a></td>
         <td class="govuk-table__cell"><a href="#">Delete</a></td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><b>No longer of interest</b></td>
      <td class="govuk-table__cell">14 June 2024</td>
       <td class="govuk-table__cell">Other: No longer of interest</td>
        <td class="govuk-table__cell"><a href="#">Edit</a></td>
         <td class="govuk-table__cell"><a href="#">Delete</a></td>
    </tr>
   
  </tbody>
</table>  
<br>
 <div class="govuk-button-group">
                          <a href="./record-immigration-detention-details" class="govuk-button" data-module="govuk-button">
                              Record new immigration document
                          </a>
                      </div>
 </div>
            </div>


        </main>
    </div>
</div> 
{% endblock %}