{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="./is91-date-issued.html" class="govuk-back-link">Back</a>

       
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <form class="form" action="./check-your-answers" method="post">
                       <h1 class="govuk-heading-xl">
                             <span class="govuk-caption-xl"> Record authority to detain</span>
                               <p></p>
  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      Enter the reference number on the IS91
      </h1>
    </legend>
                            <div id="changedName-hint" class="govuk-hint">
                              This can be found at the top of the IS91 document
                              </div>
                           
                           <div class="govuk-input__wrapper">
  <input class="govuk-input govuk-input--width-10" {%if (data.is91ref) %}
            value="{{data.is91ref}}" {% endif %} id="ref-1" name="is91ref" type="text" autocomplete="is91ref-1">
  </div>
                          </div>      
                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                            <a href="../overview.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        
                      </div>
                    </form>
                </div>
            </div>
            
         

            
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}