{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="../index-3" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Immigration detention</span>Immigration detention overview</h1>
                  

                   
                  </div>
                </div>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                             Active
                            </h2>
                            <ul class="govuk-summary-card__actions">
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="./record-immigration-detention-details.html">
                                    Edit<span class="govuk-visually-hidden"> Edit</span>
                                  </a>
                              </li>
                              <li class="govuk-summary-card__action">
                                  <a class="govuk-link" href="#">
                                    Delete<span class="govuk-visually-hidden"> remand from January 2024 to 7 February 2024</span>
                                  </a>
                              </li>
                          </ul>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Offence
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>	Actual Bodily Harm (Section 47)</b>
                                  <br>
                                  Committed on 29 October 2023
                                  <br>
                                  Heard at Snaresbrook Crown Court
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                             
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Days
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>30</b>
                                </dd>
                               
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date applied
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Manually applied on 4 February 2025
                                </dd>
                                
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Establishment
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  HMP Kirkham
                                </dd>
                                
                              </div>
                            </dl>
                          </div>
                        </div>
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                              <h2 class="govuk-summary-card__title">
                                From 17 April 2024 to 26 April 2024
                              </h2>
                              <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="../remand/enter-remand">
                                      Edit<span class="govuk-visually-hidden"> remand from 17 April 2024 to 26 April 2024</span>
                                    </a>
                                </li>
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="#">
                                      Delete<span class="govuk-visually-hidden"> remand from J17 April 2024 to 26 April 2024</span>
                                    </a>
                                </li>
                            </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                              <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Offence
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <b>	Actual Bodily Harm (Section 47)</b>
                                    <br>
                                    Committed on 29 October 2023
                                    <br>
                                    Heard at Snaresbrook Crown Court
                                  </dd>
                                  <!-- <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                  </dd> -->
                                </div>
                                
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Days
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <b>10</b>
                                  </dd>
                                  <!-- <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                  </dd> -->
                                </div>
                              
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Date applied
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Manually applied on 4 February 2025
                                </dd>
                                
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                 Establishment
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  HMP Kirkham
                                </dd>
                                
                              </div>
                              </dl>
                            </div>
                          </div>
                          <div class="govuk-summary-card">
                              <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                  From 22 May 2024 to 7 September 2024
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                  <li class="govuk-summary-card__action">
                                      <a class="govuk-link" href="../remand/enter-remand">
                                        Edit<span class="govuk-visually-hidden"> remand from 22 May 2024 to 7 September 2024</span>
                                      </a>
                                  </li>
                                  <li class="govuk-summary-card__action">
                                      <a class="govuk-link" href="#">
                                        Delete<span class="govuk-visually-hidden"> remand from 22 May 2024 to 7 September 2024</span>
                                      </a>
                                  </li>
                              </ul>
                              </div>
                              <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Offence
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <b>	Actual Bodily Harm (Section 47)</b>
                                      <br>
                                      Committed on 29 October 2023
                                      <br>
                                      Heard at Snaresbrook Crown Court
                                    </dd>
                                    <!-- <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                    </dd> -->
                                  </div>
                                  
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Days
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <b>109</b>
                                    </dd>
                                    <!-- <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                    </dd> -->
                                  </div>
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                     Date applied
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Manually applied on 4 February 2025
                                    </dd>
                                    
                                  </div>
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                     Establishment
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      HMP Kirkham
                                    </dd>
                                    
                                  </div>
                                </dl>
                              </div>
                            </div>
<!-- 
                        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Add new
                        </a> -->
   
 
                        <div class="govuk-button-group">
                           
                          <a href="check-remand-details-2.html" class="govuk-button govuk-button" data-module="govuk-button">
                            Check remand tool
                        </a>
                        </div>
                        
                      

                </div>
            </div>
        </main>
    </div>
</div> 
{% endblock %}