{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="../overview" class="govuk-back-link">Back</a>
       <form class="form" action="/record-submit1" method="post">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                     <span class="govuk-caption-xl">Record immigration document</span>
                    <p></p>
                      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
    What information have you received from the Home Office?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-1" name="recordDocument" type="radio" value="IS91">
        <label class="govuk-label govuk-radios__label" for="type-1">
          IS91 Detention Authority
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-2" name="recordDocument" type="radio" value="Deportation order">
        <label class="govuk-label govuk-radios__label" for="type-2">
         Deportation order
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-3" name="recordDocument" type="radio" value="No longer of interest">
        <label class="govuk-label govuk-radios__label" for="type-3">
         This person is no longer of interest to the Home Office
        </label>
      </div>
     
    </div>
  </fieldset>
</div>
                  <div class="govuk-button-group">
                         <button class="govuk-button" data-module="govuk-button" type="submit">
                              Continue
                          </button>
                            <a href="../overview.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>         
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>

{% endblock %}