\{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="form" action="number-of-ada">
                    <div class="govuk-form-group">
                        <span class="govuk-caption-l">Add an adjustment</span>
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                What type of adjustment are you adding for Joe Bloggs?
                            </legend>
                            <select class="govuk-select" id="hearing-type" name="hearing-type">
                                <option value="Additional days awarded (ADA)" selected>Additional days awarded (ADA)</option>
                                <option value="Unused remand">Unused remand</option>
                                <option value="Unlawfully at large (UAL)">Unlawfully at large (UAL)</option>
                                <option value="Restore additional days awarded (RADA)">Restore additional days awarded (RADA)</option>
                            </select>
                    </div>
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}