{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="adjustments-dashboard.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>
                ADA details
            </h1>

            <table  id="" class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Date charge proved</th>
                    <th class="govuk-table__header" scope="col">Report number</th>
                    <th class="govuk-table__header" scope="col">To be served</th>
                    <th class="govuk-table__header" scope="col">Comments</th>
                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        12 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        4580762
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell">
                        concurrent with 3852907, 3852968, 3852924, 3852908, 3852960
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                        HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        15 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        4580767
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell">
                        concurrent with 3852907, 3852968, 3852924, 3852908, 3852918
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                        HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        15 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        4580771
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell">
                        concurrent with 3852907, 3852968, 3852960, 3852908, 3852918
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                         HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        15 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        4580774
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell">
                        concurrent with 3852960, 3852968, 3852924, 3852908, 3852918
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                         HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        15 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        4580777
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell">
                        concurrent with 3852907, 3852968, 3852924, 3852960, 3852918
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                         HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        15 Feb 2023
                    </td>
                    <td class="govuk-table__cell">
                        4580780
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell">
                        concurrent with 3852907, 3852960, 3852924, 3852908, 3852918
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                         HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}