{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="edit-rada.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>Add ADA details</h1>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="width-10">
                            Enter Charge number
                        </label>
                        <div class="search-bar">
                            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                            <button class="search-button">
                                <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                                    <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                                    <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                                </svg>
                            </button>

                        </div>
                    </div>

                    <h2 class="govuk-heading-m">ADA details</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Charge Number
                            </dt>
                            <dd class="govuk-summary-list__value">
                               1234567
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Total number of days
                            </dt>
                            <dd class="govuk-summary-list__value">
                               42
                            </dd>

                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                               concurrent to 87654321
                            </dd>

                        </div>
                    </dl>
                    <div class="govuk-form-group">

                        <h2 class="govuk-heading-m">Are these details correct</h2>
                        <p class="govuk-body">Your data will be saved to NOMIS. After submiting you will need to recalculate release dates for this prisoner.</p>
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    No
                                </label>
                            </div>
                        </div>
                    <div class="govuk-!-margin-top-8 govuk-body">
                        <a href="adjustments-dashboard-success.html" class="govuk-button" data-module="govuk-button">
                            Continue
                        </a>
                        <br>
                        <a href="select-multiple-adjudications-table.html" class="govuk-link" data-module="govuk-button">
                            Return to adjudication selection
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}