{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="adjustments-dashboard.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group govuk-body">
                        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    <span class="govuk-caption-xl">Adjust release dates</span>
                                    Review adjudications
                                </h1>
                            </legend>

                            <h2 class="govuk-heading-m">Current ADA status</h2>
                            <p>Below is a list of the current ADA entires for Joe Bloggs.</p>
                            <table  id="" class="govuk-table govuk-!-margin-bottom-8">
                                <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Date charge proved</th>
                                    <th class="govuk-table__header" scope="col">Charge number</th>
                                    <th class="govuk-table__header" scope="col">To be served</th>
                                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                                </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Dates -->
                                    <td class="govuk-table__cell">
                                        12 May 2023
                                    </td>
                                    <td class="govuk-table__cell">
                                        1234567
                                    </td>
                                    <td class="govuk-table__cell">
                                        Concurrently
                                    </td>
                                    <td class="govuk-table__cell govuk-!-text-align-centre">
                                        HMP Kirkham
                                    </td>
                                    <td class="govuk-table__cell govuk-!-text-align-centre">
                                        <span class= "moj-badge moj-badge--green">awarded</span>
                                    </td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell govuk-!-text-align-centre">24</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Dates -->
                                    <td class="govuk-table__cell">
                                        12 May 2022
                                    </td>
                                    <td class="govuk-table__cell">
                                        2345678
                                    </td>
                                    <td class="govuk-table__cell">
                                        Consecutive to 1234567
                                    </td>
                                    <td class="govuk-table__cell govuk-!-text-align-centre">
                                        HMP Kirkham
                                    </td>
                                    <td class="govuk-table__cell govuk-!-text-align-centre">
                                        <span class="moj-badge moj-badge--black">suspended</span>
                                    </td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell govuk-!-text-align-centre">18 </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Dates -->
                                    <td class="govuk-table__cell">
                                        12 May 2022
                                    </td>
                                    <td class="govuk-table__cell">
                                        3456789
                                    </td>
                                    <td class="govuk-table__cell">
                                        Concurrent to 1234567
                                    </td>
                                    <td class="govuk-table__cell govuk-!-text-align-centre">
                                        HMP Kirkham
                                    </td>
                                    <td class="govuk-table__cell govuk-!-text-align-centre">
                                        <span class=" moj-badge moj-badge--green">awarded</span>
                                    </td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="5">Total days</th>
                                    <td class="govuk-table__cell govuk-!-text-align-centre">42</td>
                                </tr>
                                </tfoot>
                            </table>
                            <h2 class="govuk-heading-m">ADA's ready to be awarded</h2>
                            <p>These have been added by the adjudications service. If there is a problem with this data please fix the issue in NOMIS or alternativley contact the adjuications team. Once this
                                has been resolved please return to this page and <a href="">refresh</a> the screen.
                            </p>
                            <h3 class="govuk-heading-s">Adjudication date 12 May 2022</h3>
                            <div class="ada-container  govuk-!-padding-bottom-4">
                                <div class="ada-details">
                                    <h3 class="govuk-heading-s">42 days<span class="govuk-caption-m">Consecutive</span> </h3>
                                    <p>Inclusive of:</p>
                                    <div class="consecutive govuk-!-margin-left-8">

                                    <div class="govuk-!-padding-bottom- govuk-!-padding-left-6">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">24 days </h3>
                                        <p class="govuk-body-m">Charge no: 1234567 <br>Date charged proved: 12 May 2022</p>
                                    </div>
                                    <div class="govuk-!-padding-left-6">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">18 days </h3>
                                        <p class="govuk-body-m">Charge no: 2345678<br>Date charged proved: 12 May 2022 <span class="govuk-caption-m">Consecutive to 1234567</span></p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ada-container ">

                                <div class="ada-details">
                                    <h3 class="govuk-heading-s">24 days<span class="govuk-caption-m">Concurrent</span></h3>
                                    <p class="govuk-body-m">Charge no: 3456789  <br>Date charged proved: 12 May 2022  <span class="govuk-caption-m">Concurrent to 1234567</span></p>
                                </div>
                            </div>

                        </fieldset>
                        <div class="govuk-!-margin-top-6">
                            <h2 class="govuk-heading-m">Days awarded</h2>
                        </div>
                        <span id="totalBalance" class="govuk-body govuk-!-font-size-24">42</span>
                    </div>




<!--                <a href="check-your-answers.html" id="" class="govuk-button" data-name="ADA" data-desc="ADA (Additional days awarded)">-->
<!--                    Continue-->
<!--                </a>-->
                    <div class="govuk-!-margin-top-8 govuk-button-group">
                        <a href="check-your-answers-4.html" class="govuk-button" data-module="govuk-button">
                            Accept
                        </a>
                        <a href="reject-ada-details.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>
                    <a href="">Cancel and return to dashboard</a>

            </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}