{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
      <h1 class="govuk-heading-xl">
        Add sentences and offences for Joe Bloggs
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Sentence and offence record incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 4 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Court cases
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Add court cases
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Sentences and offences
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Add sentences
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Add offences
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
          </ul>
        </li>

                <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Adjustments
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Add adjustments
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Release dates
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Calculate release dates
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
    </div>
</div>
</div>
{% endblock %}