{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="view-ual.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>Are you sure you want to remove UAL?</h1>
                    <h2 class="govuk-heading-m">UAL details</h2>
<!--                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">-->
<!--                        <div class="govuk-summary-list__row">-->
<!--                            <dt class="govuk-summary-list__key">-->
<!--                                Valid from-->
<!--                            </dt>-->
<!--                            <dd class="govuk-summary-list__value">-->
<!--                                15 Dec 2022-->
<!--                            </dd>-->

<!--                        </div>-->
<!--                        <div class="govuk-summary-list__row">-->
<!--                            <dt class="govuk-summary-list__key">-->
<!--                                Valid to-->
<!--                            </dt>-->
<!--                            <dd class="govuk-summary-list__value">-->
<!--                                25 Dec 2022-->
<!--                            </dd>-->

<!--                        </div>-->
<!--                        <div class="govuk-summary-list__row">-->
<!--                            <dt class="govuk-summary-list__key">-->
<!--                                Days-->
<!--                            </dt>-->
<!--                            <dd class="govuk-summary-list__value">-->
<!--                                10-->
<!--                            </dd>-->

<!--                        </div>-->
<!--                    </dl>-->
                    <div id="CheckUAL"></div>
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            This will remove this record.
                        </strong>
                    </div>
                    <div class="govuk-button-group">
                        <a id="RemoveUAL" href="adjustments-dashboard-view-journey.html"  class="govuk-button govuk-button--warning" data-module="govuk-button">
                            Remove UAL
                        </a>
                        <a href="view-ual.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>

            </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}