{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="adjustments-dashboard.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>
                Check ADA details before you submit
            </h1>

            <table  id="" class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Date charge proved</th>
                    <th class="govuk-table__header" scope="col">Report number</th>
                    <th class="govuk-table__header" scope="col">To be served</th>
                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        12 May 2023
                    </td>
                    <td class="govuk-table__cell">
                        1234567
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre"><a href="" class="govuk-link">Remove</a> </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        12 May 2023
                    </td>
                    <td class="govuk-table__cell">
                        2345678
                    </td>
                    <td class="govuk-table__cell">
                        Consecutively
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">18 </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre"><a href="" class="govuk-link">Remove</a> </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Dates -->
                    <td class="govuk-table__cell">
                        12 May 2023
                    </td>
                    <td class="govuk-table__cell">
                        3456789
                    </td>
                    <td class="govuk-table__cell">
                        Concurrently
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre"><a href="" class="govuk-link">Remove</a> </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"></th>
                    <td class="govuk-table__cell"></td>


                    <td class="govuk-table__header govuk-!-text-align-right">Total days</td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">42</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                </tbody>
            </table>

            <h2 class="govuk-heading-m">Submit adjustment details</h2>
            <p class="govuk-body">Your data will be saved to NOMIS. After submiting you will need to recalculate release dates for this prisoner.</p>
            <form action="adjustments-dashboard-success" method="post" novalidate>
                <input type="hidden" name="answers-checked" value="true">
                <button class="govuk-button" data-module="govuk-button">
                    Submit
                </button>
            </form>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}