{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="govuk-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="govuk-width-container">
        <a href="#" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desp">
                    <h1 class="govuk-heading-l">Check your answers before submitting</h1>
                    <h2 class="govuk-heading-m">Adjustments</h2>
                    <div id="adjustmentsExplainer">

                    </div>
                    <div id="adjustmentsList" class="govuk-body">

                    </div>


                    <h2 class="govuk-heading-m">Now send your application</h2>
                    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--s">
                                Add another adjustment?
                            </legend>
<!--                            <div id="add-another-hint" class="govuk-hint">-->
<!--                                You must add every offence on the warrant.-->
<!--                            </div>-->
                            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input add-another" id="add-another" name="add-another" type="radio" value="Yes" data-route="select-adjustment-type">
                                    <label class="govuk-label govuk-radios__label" for="add-another" >
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input add-another" id="add-another-2" name="add-another" type="radio" value="No" data-route="confirmation">
                                    <label class="govuk-label govuk-radios__label" for="add-another-2">
                                        No
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <a href="confirmation.html" class="govuk-button" data-module="govuk-button" id="accept-button">
                        Accept and save
                    </a>
                </div>

            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}