{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="">
    <div class="">
        <a href="check-remand-details-2" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>Confirm and save</h1>
                    <p class="govuk-body"><b>No remand to be applied</b></p>
                    <p class="govuk-body">The remand tool has calculated that there is no remand to be applied.</p>
                  
                   
                    <div id="alerthere"></div>
                    <br>
                   <div class="govuk-button-group">
                          <a href="../index-3" class="govuk-button" data-module="govuk-button">
                              Confirm and save
                          </a>
                         
                        <a href="check-remand-details-2.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Return to the remand tool
                      </a>
                      </div>
                   
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}