{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="check-remand-details-2" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>Remand overview</h1>
                    

                    <table class="govuk-table">
                      <caption class="govuk-table__caption govuk-table__caption--m">Remand that has been applied</caption>
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">From</th> 
                          <th scope="col" class="govuk-table__header">To</th>
                          <th scope="col" class="govuk-table__header" style="width:15%">Days</th>
                          <th scope="col" class="govuk-table__header">Offence details</th>
                          <th scope="col" class="govuk-table__header">Commited on</th>
                      </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">9/1/2024</td>
                          <td  class="govuk-table__cell">8/2/2024</td>
                          <td class="govuk-table__cell">31</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29/10/2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">17/4/2024</td>
                          <td  class="govuk-table__cell">29/4/2024</td>
                          <td class="govuk-table__cell">13</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29/10/2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell">23/5/2024</td>
                          <td  class="govuk-table__cell">7/9/2024</td>
                          <td class="govuk-table__cell">108</td>
                          <td class="govuk-table__cell">Actual Bodily Harm (Section 47)</td>
                          <td class="govuk-table__cell">29/10/2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td  class="govuk-table__cell"><b>Total days</b></td>
                          <td  class="govuk-table__cell"> </td>
                          <td class="govuk-table__cell"><b>152 days</b></td>
                          <td class="govuk-table__cell"> </td>
                          <td class="govuk-table__cell"> </td>
                      </tr>
                      </tbody>
                  </table>

                  
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                          <h2 class="govuk-summary-card__title">
                            From 1/2/2023 to 20/3/2023
                          </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Offence
                              </dt>
                              <dd class="govuk-summary-list__value">
                                <b>Abstract water without a lisence</b>
                                <br>
                                Comitted on 10/1/2023
                                <br>
                                Heard at Preston Crown Court
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                              </dd> -->
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Replaced by
                              </dt>
                              <dd class="govuk-summary-list__value">
                                <b>Manslaughter</b>
                                <br>
                                Comitted on 11/1/2023
                                <br>
                                Heard at Preston Crown Court
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                              </dd> -->
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Establishment
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Kirkham
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                              </dd> -->
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Date added
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Approved on 4/2/2025
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                              </dd> -->
                            </div>
                            <!-- <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Reason for rejection
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Incorrect
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                              </dd>
                            </div> -->
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Days
                              </dt>
                              <dd class="govuk-summary-list__value">
                                <b>48</b>
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                              </dd> -->
                            </div>
                          </dl>
                        </div>
                      </div>

                      <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                              From 9/1/2024 to 8/2/2024
                            </h2>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Offence
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>Abstract water without a lisence</b>
                                  <br>
                                  Comitted on 10/1/2023
                                  <br>
                                  Heard at Preston Crown Court
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                              <!-- <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Replaced by
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>Manslaughter</b>
                                  <br>
                                  Comitted on 11/1/2023
                                  <br>
                                  Heard at Preston Crown Court
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                                </dd>
                              </div> -->
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Establishment
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Kirkham
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Date added
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Approved on 4/2/2025
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                              <!-- <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Reason for rejection
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Incorrect
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                </dd>
                              </div> -->
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Days
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <b>48</b>
                                </dd>
                                <!-- <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                                </dd> -->
                              </div>
                            </dl>
                          </div>
                        </div>

                        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Add new
                        </a>
   
 
                        <div class="govuk-button-group">
                            <a href="../index-1?toDo=remandAdded" class="govuk-button" data-module="govuk-button">
                                Confirm and save
                            </a>
                            <a href="clear-remand" class="govuk-link">
                                Clear remand and review again
                            </a>
                        </div>

                </div>
            </div>
        </main>
    </div>
</div> 
{% endblock %}