{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="../index-3" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>Remand overview</h1>
                  <div class="govuk-heading-m">No remand applied</div>
                  <span class="govuk-body">The remand tool calculated that there is no remand to be applied. This was reviewed and confirmed on 4 February 2024 by HMP  Kirkham.</span>
                   
                  </div>
                </div>

        </main>
    </div>

      <div class="govuk-button-group">
                           
                          <a href="#" class="govuk-button govuk-button" data-module="govuk-button">
                            Add new
                        </a>
                         <a href="check-remand-details-zero" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Check remand tool
                        </a>
                        </div>
                        
</div> 
{% endblock %}