{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="next-court-date" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Add a court case</span>
            Check your answers
        </h1>
        <form class="form" action="/v6/persist-court-case" method="post">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case reference number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-case-ref'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="court-case-reference-number">
                            Change<span class="govuk-visually-hidden"> court case reference number</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Warrant date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['warrant-date-day'] }}/{{ data['courtCase']['warrant-date-month'] }}/{{ data['courtCase']['warrant-date-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="warrant-date">
                            Change<span class="govuk-visually-hidden"> warrant date</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-name'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="court-name">
                            Change<span class="govuk-visually-hidden"> court name</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type of case
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['type-of-case'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="type-of-case">
                            Change<span class="govuk-visually-hidden"> type of case</span>
                        </a>
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Now save this court case</h2>
            <p class="govuk-body">By saving this court case you are confirming that the details you are providing match the details on the warrant.</p>
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}