{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="../hub-page" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Confirm court address</h1>
        <div id="court-address govuk-!-margin-top-6" class="govuk-hint">
      <span class="govuk-heading-s govuk-!-margin-bottom-2">Birmingham (Newton Street) MC</span>
      <ul class="govuk-list govuk-!-margin-bottom-6">
                <li>Victoria Law Courts</li>
                <li>1 Newton Street</li>
                <li>Birmingham</li>
                <li>B4 7NA</li>
            </ul>
    </div>
<form method="post" novalidate action="">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Is this the correct court?
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>








        
    </div>
</div>
{% endblock %}