{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
        </div>
    </div>
</div>
    <div class="">
        <a href="review-2.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-l"> <span class="govuk-caption-xl">Adjust release dates</span>Save remand details</h1>
                    <div id="dataContainer">

                    </div>
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Remand details</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Period of remand</th>
                            <th scope="col" class="govuk-table__header">Days spent on remand</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody" class="govuk-table__body">


                        </tbody>
                        <tfoot>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Total days</th>
                            <td class="govuk-table__cell" id="saveTableTotal">000</td>
                        </tr>
                        </tfoot>
                    </table>
                    <div id="alerthere"></div>
                    <a href="exit.html" id="saveRemandButton" class="govuk-button" data-name="ADA" data-desc="ADA (Additional days awarded)">
                        Save
                    </a>
                    <a href="index.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </a>
                    <br>
                    <a href="review-2.html" class="govuk-link">Return to remand details</a>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}