{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="enter-remand.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="option-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    <span class="govuk-caption-xl">Adjust release dates</span>
                                    Select the offences
                                </h1>
                            </legend>
                            <p> You have currently entered  <span id="Days"></span>  day(s) of remand. Select the offences that the remand time applies to. </p>
                            <div id="OffenceLiostContainer">
                                <h2 class="govuk-heading-m">Court cases</h2>
                                <h3 class="govuk-heading-s"> Case 1</h3>
                                <div id="Case" class="offenceListItem">
                                    <p>Heard at:Birmingham
                                        <br>
                                        Case reference: T20220701
                                    </p>
                                    <div id="" >
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Fail to comply with an animal by-product requirement">
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Fail to comply with an animal by-product requirement  <br>
                                                <span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="">
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Fail to give to an authorised person information / assistance / provide facilities that person may require">
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Fail to give to an authorised person information / assistance / provide facilities that person may require
                                                <br><span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Remove a child not yet placed for adoption from accommodation provided by an adoption agency">
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Remove a child not yet placed for adoption from accommodation provided by an adoption agency
                                                <br><span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="govuk-heading-s"> Case 2</h3>
                                <div id="Case2" class="offenceListItem">
                                    <p>Heard at:Birmingham
                                        <br>
                                        Case reference: T20220702
                                    </p>

                                    <div id="" class="">
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Make a prohibited payment regarding adoption / consent to adoptions / removal from UK of a child ">
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Make a prohibited payment regarding adoption / consent to adoptions / removal from UK of a child <br><span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <br><span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="">
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Evade prohibition / restriction on the exporting of class A drug>
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Evade prohibition / restriction on the exporting of class A drug
                                                <br> <span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Improperly import a controlled drug of Class A to which a prohibition / restriction applies into the United Kingdom">
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Improperly import a controlled drug of Class A to which a prohibition / restriction applies into the United Kingdom
                                                <br><span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small  govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Knowingly concerned in evading the prohibition on exportation of a controlled drug of Class B from the United Kingdom">
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Knowingly concerned in evading the prohibition on exportation of a controlled drug of Class B from the United Kingdom <span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <br><span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-!-margin-left-4" >
                                            <input type="checkbox" class="govuk-checkboxes__input" id="offence-2" value="Possess a class A drug for export with intent to evade prohibition / restriction>
                                            <label class="govuk-label govuk-checkboxes__label" for="offence-2">
                                                Possess a class A drug for export with intent to evade prohibition / restriction<br> <span class="govuk-hint">comitted on 2 Jun 2023</span>
                                                <span class="govuk-visually-hidden">Select offence name here</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <p class="govuk-inset-text">If you think some information is wrong, you can edit it in NOMIS and reload this page.</p>
                <a href="review-2.html" id="add-offences-button" class="govuk-button" data-name="ADA" data-desc="ADA (Additional days awarded)">
                    Continue
                </a>
                    <a href="index.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </a>
            </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}