{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="check-answers" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
            </svg>
            <div class="moj-banner__message">Offence successfully added </div>
        </div>
        <form class="form" action="../">
            <div class="govuk-summary-card govuk-!-margin-top-4">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case {{ data.courtCases.length }}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type of case
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['type-of-case'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['court-name'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row" style="border-bottom: 1px solid #b1b4b6;">
                            <dt class="govuk-summary-list__key">
                                Warrant date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['warrant-date-day'] }}/{{ data['courtCase']['warrant-date-month'] }}/{{ data['courtCase']['warrant-date-year'] }}
                            </dd>
                        </div>
                    </dl>
                </div>
                <div class="govuk-!-padding-4">
                    <h2 class="govuk-heading-m">Offences</h2>
                    {% for offence in data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences %}
                    <div class="govuk-!-margin-bottom-4 app-possible-prison-record" style="display: flex;">
                        <div class="govuk-grid-column-full govuk-!-margin-top-4">
                            <span class="govuk-body-s" style="display:inline-block;">
                                <!-- Count {{ loop.index }} --></span>
                            <ul class="govuk-summary-card__actions govuk-!-margin-top-0" style="display:inline-block; float: right;">
                                <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                        Update
                                    </a>
                                </li>
                                <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link dwf-text-colour-red" href="/delete-offence?index={{loop.index0}}">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                                {{ offence['offence-name'] }}
                            </h4>
                            <p class="govuk-body-s">Committed on {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}</p>
                            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row govuk-body-s">
                                        <th scope="row" class="govuk-table__header sentence-table-header">Outcome</th>
                                        <td class="govuk-table__cell">{{ offence['outcome'] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="govuk-button-group">
                                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/v5/create-offence">
                    Add another offence
                </button>
                <button class="govuk-button" data-module="govuk-button">
                    Finish and save
                </button>
            </div>
            <p class="govuk-body"><a href="../court-cases-standalone">Return to court cases</a></p>
        </form>
    </div>
</div>
{% endblock %}