{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="confirm-offence" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/v6/persist-offence" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add an offence to court case {{ data['court-case-ref'] }}</span>
                            Select the outcome
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-1" name="offence[outcome]" type="radio" value="Remand before conviction">
                            <label class="govuk-label govuk-radios__label" for="outcome">
                                Remand before conviction
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-2" name="offence[outcome]" type="radio" value="Remand after conviction">
                            <label class="govuk-label govuk-radios__label" for="outcome-2">
                                Remand after conviction
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-3" name="offence[outcome]" type="radio" value="Discontinued">
                            <label class="govuk-label govuk-radios__label" for="outcome-3">
                                Discontinued
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
        <div class="govuk-grid-column-one-third">
        <div class="offence-summary" style="border-top: 2px solid #1d70b8;">
            <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content govuk-!-margin-top-4">
                <h2 class="govuk-heading-m">Appearance</h2>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Court case
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-case-ref'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-name'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Warrant date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['warrant-date-day'] }}/{{ data['courtCase']['warrant-date-month'] }}/{{ data['courtCase']['warrant-date-year'] }}
                    </dd>
                </div>
                <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Offences</h2>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Offences added
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences | length }}
                    </dd>
                </div>
            </dl>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Show offences
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <dl class="offences-summary-card-content">
                        {% for offence in data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences %}
                        <div class="offences-summary-card-row">
                            <dt class="offences-summary-card-key govuk-!-font-weight-bold">
                                {{ offence['offence-name'] }}
                            </dt>
                            <dd class="offences-summary-card-value govuk-body-s">Committed on {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}</dd>
                        </div>
                        {% endfor %}
                    </dl>
                </div>
            </details>
        </div>
    </div>
</div>
{% endblock %}