{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="">
    <div class="">
        <a href="add-tagged-bail.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-xl">Adjustments</span>
                        Confirm and save
                    </h1>
                    <div id="dataContainer">

                    </div>
                    <h2 class="govuk-heading-m">Tagged bail details</h2>
                   <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                       
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                               Case details
                            </dt>
                            <dd  id="days" class="govuk-summary-list__value" style="width: 355px;;">
                                Aberdare County Court | T20223256 <br>20 May 2024
                            </dd>
                            <dd id="start" class="govuk-summary-list__value"></dd>
                            
                            <dd class="govuk-summary-list__value">
                                <a href="lal">Edit</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                 Number of days
                             </dt>
                             <dd class="govuk-summary-list__value">
                               7
                              
                            </dd>
                            <dd id="start" class="govuk-summary-list__value"></dd>
                            <dd class="govuk-summary-list__value">
                                <a href="lal">Edit</a>
                            </dd>
                        </div>
                    </dl>
                  

                    <div class="govuk-button-group">
                        <a href="./index1" id="saveTaggedBailButton" class="govuk-button" data-journey="3">
                            Confirm and save
                        </a>
                        <a href="../index" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>

<!--                    <a href=".html" class="govuk-link">Return to tagged bail details</a>-->
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}