{% extends "adjustments/components/templates/template-masthead.html" %}
{% block beforeContent %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="moj-width-container dwf-masthead">
        <h1 class="govuk-heading-xl govuk-!-font-size-80"> Adjustments components</h1>
    </div>
</div>
{% endblock%}
{% block content %}
<div class="govuk-!-padding-top-6">
    <h2 class="govuk-heading-m">Introduction</h2>
    <p>
        Details and examples of components used in during the Beta design process
    </p>

</div>

{% endblock %}