{% extends "./template.html" %}
{% set courtCasesActive = true %}
{% block content %}
<!-- Court cases -->
<!-- </div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="action-list">
        <div class="action-button">
            <a href="" class="govuk-link--no-visited-state">Add court case</a>
        </div>
                <div class="action-button">
            <a href="" class="govuk-link--no-visited-state">Record appeal</a>
        </div>
                        <div class="action-button">
            <a href="" class="govuk-link--no-visited-state">Action 3</a>
        </div>
        </div>
                <div class="govuk-button-group govuk-!-margin-bottom-6 govuk-!-margin-top-2">
            <button class="govuk-button" data-module="govuk-button">
                Add court case
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Secondary button
            </button>
                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Secondary button
            </button>
        </div>
    </div> --->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><h1 class="govuk-heading-l">Court cases</h1></div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">{{ data.courtCases.length }} court cases</h2>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-text-align-right"><span class="govuk-body govuk-!-margin-right-2">Sort by</span><select class="govuk-select sort-select" id="sort" name="sort">
                <option value="published" selected>Most recent</option>
                <option value="updated">Earliest</option>
            </select></div>
        <div class="govuk-grid-column-full govuk-!-margin-top-1">
            {% if data.courtCases | length %}
            {% for courtCase in data.courtCases %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case {{ courtCase['court-case-num']}}</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="#">
          Add a court appearance<span class="govuk-visually-hidden"> to court case 1</span>
        </a>
      </li>
                        <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="/update-court-case?index={{loop.index0}}">
                                Update
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court case reference numbers
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ courtCase['court-case-ref'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Last court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ courtCase['warrant-date-day'] }}/{{ courtCase['warrant-date-month'] }}/{{ courtCase['warrant-date-year'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Last court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ courtCase['court-name'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type of case
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ courtCase['type-of-case'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Overall case outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ appearance['overall-case-outcome'] }}
                            </dd>
                        </div>
                        {% if (data['appearance']['next-court-date-set'] == 'Yes') %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next hearing type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['appearance']['next-hearing-type'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['appearance']['next-court-date-day'] }}/{{ data['appearance']['next-court-date-month'] }}/{{ data['appearance']['next-court-date-year'] }} at {{ data['appearance']['next-court-time'] }} {{ data['appearance']['next-court-time-period'] }}
                            </dd>
                        </div>
                        {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['next-court-date-set'] }}
                            </dd>
                        </div>
                        {% endif %}
                        <!--                         <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court documents
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="{{ asset_path }}documents/remand-warrant-joe-bloggs.pdf" class="govuk-link--no-visited-state" target="_blank"><svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                    </svg> Remand warrant</a>
                                <br> -->
                        <!-- <a href="{{ asset_path }}documents/trial-record-sheet-court-case-1.pdf" class="govuk-link--no-visited-state" target="_blank"><svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                                    </svg> Trial record sheet</a>
                                                <br>
                                                <a href="{{ asset_path }}documents/indictment-court-case-1.pdf" class="govuk-link--no-visited-state" target="_blank"><svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                                    </svg> Indictment</a> -->
                        <!--                             </dd>
                        </div> -->
                    </dl>
                    <hr class="govuk-section-break govuk-section-break--visible">
                    <table class="govuk-table govuk-!-margin-top-6">
                        <caption class="govuk-table__caption govuk-table__caption--m">Appearances</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header" width="35%">Court case number</th>
                                <th scope="col" class="govuk-table__header">Court name</th>
                                <th scope="col" class="govuk-table__header">Warrant date</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a href="">{{ courtCase['court-case-ref'] }}</a></td>
                                <td class="govuk-table__cell">{{ courtCase['court-name'] }}</td>
                                <td class="govuk-table__cell">{{ courtCase['warrant-date-day'] }}/{{ courtCase['warrant-date-month'] }}/{{ courtCase['warrant-date-year'] }}</td>
                            </tr>
                            <tr class="govuk-table__row offence-list-reveal">
                              <td class="govuk-table__cell" colspan="3">

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View offences
    </span>
  </summary>
  <div class="govuk-details__text">
    {% for offence in data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences %}
                    <div class="govuk-!-margin-bottom-4 app-possible-prison-record" style="display: flex;">
                        <div class="govuk-grid-column-full govuk-!-margin-top-4">
                            <span class="govuk-body-s" style="display:inline-block;">
                                <!-- Count {{ loop.index }} --></span>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                                {{ offence['offence-name'] }}
                            </h4>
                            <p class="govuk-body-s">Committed on {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}</p>
                            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row govuk-body-s">
                                        <th scope="row" class="govuk-table__header sentence-table-header">Outcome</th>
                                        <td class="govuk-table__cell">{{ offence['outcome'] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
  </div>
</details>


                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="court-cases-list">
                <p class="govuk-body">There are no court cases recorded for Joe Bloggs.</p>
                <p class="gouk-body"><a href="/create-court-case">Record a court case now</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
        <div class="govuk-grid-column-one-third">
            <div class="in-page-search">
                <label class="govuk-label govuk-label--m" for="in-page-search">
      Search
    </label>
                <div class="govuk-form-group">
  <div class="govuk-hint" for="in-page-search">
    Search for a court date, name or court case number.
  </div>
  <input class="govuk-input govuk-input--width-20" id="in-page-search" name="in-page-search" type="text">
</div>
            </div>
        <div class="moj-filter">
            <div class="moj-filter__content">
                <div class="moj-filter__selected govuk-!-padding-bottom-1">
                    <div class="moj-filter__selected-heading">
                        <div class="moj-filter__heading-title">
                            <h2 class="govuk-heading-m">Filter</h2>
                        </div>
                    </div>
                    <span class="govuk-body" style="display:inline-block; float:right;"><a href="">Clear filters</a></span>
                    <p class="govuk-body">No filters selected</p>
                </div>
                <div class="moj-filter__options">
                    <div class="govuk-accordion" data-module="govuk-accordion" id="filter-accordian">
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Court name<br>
                                        <span class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">0 selected</span>
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="Show filter">
                                <div id="court-name-hint" class="govuk-hint">
                                    Search for a court name
                                </div>
                                <input class="govuk-input govuk-!-margin-top-4" id="court-name" name="court-name" type="text" value="Leeds Crown Court">
                            </div>
                        </div>
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                        Court date<br>
                                        <span class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">0 selected</span>
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                <div class="govuk-form-group hmpps-datepicker" data-module="hmpps-datepicker">
                                    <label class="govuk-label govuk-label--m" for="endDate">
                                        Date from
                                    </label>
                                    <div id="endDate-hint" class="govuk-hint">
                                        For example, 31/3/2023
                                    </div>
                                    <div class="hmpps-datepicker-input__wrapper">
                                        <div class="govuk-form-group">
                                            <input class="govuk-input govuk-input hmpps-js-datepicker-input" id="endDate" name="endDate" type="text" autocomplete="off" maxlength="10" data-mindate="" data-maxdate="">
                                            <div id="datepicker-endDate" class="hmpps-datepicker__dialog  datepickerDialog" role="dialog" aria-modal="true" aria-labelledby="datepicker-title-endDate">
                                                <div class="hmpps-datepicker__dialog__header ">
                                                    <div class="hmpps-datepicker__dialog__navbuttons">
                                                        <button class="js-datepicker-prev-year" aria-label="previous year" data-button="button-datepicker-prevyear">
                                                            <span class="govuk-visually-hidden">Previous year</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#double_chevron_left"></use>
                                                            </svg>
                                                        </button>
                                                        <button class="js-datepicker-prev-month" aria-label="previous month" data-button="button-datepicker-prevmonth">
                                                            <span class="govuk-visually-hidden">Previous month</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#chevron_left"></use>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <h2 id="datepicker-title-endDate" class="hmpps-datepicker__dialog__title  js-datepicker-month-year" aria-live="polite">June 2023</h2>
                                                    <div class="hmpps-datepicker__dialog__navbuttons">
                                                        <button class="js-datepicker-next-month" aria-label="next month" data-button="button-datepicker-nextmonth">
                                                            <span class="govuk-visually-hidden">Next month</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#chevron_right"></use>
                                                            </svg>
                                                        </button>
                                                        <button class="js-datepicker-next-year" aria-label="next year" data-button="button-datepicker-nextyear">
                                                            <span class="govuk-visually-hidden">Next year</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#double_chevron_right"></use>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <table class="hmpps-datepicker__dialog__table  js-datepicker-grid" role="grid" aria-labelledby="datepicker-title-endDate">
                                                    <caption class="hmpps-datepicker__dialog__table-caption">You can use the arrow keys to select a date</caption>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" abbr="Monday">Mo</th>
                                                            <th scope="col" abbr="Tuesday">Tu</th>
                                                            <th scope="col" abbr="Wednesday">We</th>
                                                            <th scope="col" abbr="Thursday">Th</th>
                                                            <th scope="col" abbr="Friday">Fr</th>
                                                            <th scope="col" abbr="Saturday">Sa</th>
                                                            <th scope="col" abbr="Sunday">Su</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: none;">29</button></td>
                                                            <td><button data-form="date-select" style="display: none;">30</button></td>
                                                            <td><button data-form="date-select" style="display: none;">31</button></td>
                                                            <td><button data-form="date-select" style="display: block;">1</button></td>
                                                            <td><button data-form="date-select" style="display: block;">2</button></td>
                                                            <td><button data-form="date-select" style="display: block;">3</button></td>
                                                            <td><button data-form="date-select" style="display: block;">4</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;">5</button></td>
                                                            <td><button data-form="date-select" style="display: block;">6</button></td>
                                                            <td><button data-form="date-select" style="display: block;">7</button></td>
                                                            <td><button data-form="date-select" style="display: block;">8</button></td>
                                                            <td><button data-form="date-select" style="display: block;">9</button></td>
                                                            <td><button data-form="date-select" style="display: block;">10</button></td>
                                                            <td><button data-form="date-select" style="display: block;">11</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;">12</button></td>
                                                            <td><button data-form="date-select" style="display: block;">13</button></td>
                                                            <td><button data-form="date-select" style="display: block;">14</button></td>
                                                            <td><button data-form="date-select" style="display: block;">15</button></td>
                                                            <td><button data-form="date-select" style="display: block;">16</button></td>
                                                            <td><button data-form="date-select" style="display: block;">17</button></td>
                                                            <td><button data-form="date-select" style="display: block;">18</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;">19</button></td>
                                                            <td><button data-form="date-select" style="display: block;">20</button></td>
                                                            <td><button data-form="date-select" style="display: block;">21</button></td>
                                                            <td><button data-form="date-select" style="display: block;">22</button></td>
                                                            <td><button data-form="date-select" style="display: block;">23</button></td>
                                                            <td><button data-form="date-select" style="display: block;">24</button></td>
                                                            <td><button data-form="date-select" style="display: block;">25</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;">26</button></td>
                                                            <td><button data-form="date-select" style="display: block;">27</button></td>
                                                            <td><button data-form="date-select" style="display: block;">28</button></td>
                                                            <td><button data-form="date-select" style="display: block;">29</button></td>
                                                            <td><button data-form="date-select" style="display: block;">30</button></td>
                                                            <td><button data-form="date-select" style="display: none;">1</button></td>
                                                            <td><button data-form="date-select" style="display: none;">2</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: none;">3</button></td>
                                                            <td><button data-form="date-select" style="display: none;">4</button></td>
                                                            <td><button data-form="date-select" style="display: none;">5</button></td>
                                                            <td><button data-form="date-select" style="display: none;">6</button></td>
                                                            <td><button data-form="date-select" style="display: none;">7</button></td>
                                                            <td><button data-form="date-select" style="display: none;">8</button></td>
                                                            <td><button data-form="date-select" style="display: none;">9</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="hmpps-datepicker__dialog__buttongroup">
                                                    <button type="button" class="govuk-button js-datepicker-ok" value="ok" data-button="button-datepicker-ok">Select</button>
                                                    <button type="button" class="govuk-button govuk-button--secondary js-datepicker-cancel" value="cancel" data-button="button-datepicker-cancel">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="hmpps-datepicker-button hmpps-js-datepicker-button" data-button="datepicker-endDate-toggle">
                                            <span class="govuk-visually-hidden">Choose date.</span>
                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img" viewBox="0 0 22 22">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1333 2.93333H5.86668V4.4C5.86668 5.21002 5.21003 5.86667 4.40002 5.86667C3.59 5.86667 2.93335 5.21002 2.93335 4.4V2.93333H2C0.895431 2.93333 0 3.82877 0 4.93334V19.2667C0 20.3712 0.89543 21.2667 2 21.2667H20C21.1046 21.2667 22 20.3712 22 19.2667V4.93333C22 3.82876 21.1046 2.93333 20 2.93333H19.0667V4.4C19.0667 5.21002 18.41 5.86667 17.6 5.86667C16.79 5.86667 16.1333 5.21002 16.1333 4.4V2.93333ZM20.5333 8.06667H1.46665V18.8C1.46665 19.3523 1.91436 19.8 2.46665 19.8H19.5333C20.0856 19.8 20.5333 19.3523 20.5333 18.8V8.06667Z"></path>
                                                <rect x="3.66669" width="1.46667" height="5.13333" rx="0.733333"></rect>
                                                <rect x="16.8667" width="1.46667" height="5.13333" rx="0.733333"></rect>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="govuk-form-group hmpps-datepicker" data-module="hmpps-datepicker">
                                    <label class="govuk-label govuk-label--m" for="startDate">
                                        Date to
                                    </label>
                                    <div id="startDate-hint" class="govuk-hint">
                                        For example, 31/3/2023
                                    </div>
                                    <div class="hmpps-datepicker-input__wrapper">
                                        <div class="govuk-form-group">
                                            <input class="govuk-input govuk-input hmpps-js-datepicker-input" id="startDate" name="startDate" type="text" autocomplete="off" maxlength="10" data-mindate="" data-maxdate="">
                                            <div id="datepicker-startDate" class="hmpps-datepicker__dialog datepickerDialog" role="dialog" aria-modal="true" aria-labelledby="datepicker-title-startDate" style="display: none; left: 229px;">
                                                <div class="hmpps-datepicker__dialog__header ">
                                                    <div class="hmpps-datepicker__dialog__navbuttons">
                                                        <button class="js-datepicker-prev-year" aria-label="previous year" data-button="button-datepicker-prevyear">
                                                            <span class="govuk-visually-hidden">Previous year</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#double_chevron_left"></use>
                                                            </svg>
                                                        </button>
                                                        <button class="js-datepicker-prev-month" aria-label="previous month" data-button="button-datepicker-prevmonth">
                                                            <span class="govuk-visually-hidden">Previous month</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#chevron_left"></use>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <h2 id="datepicker-title-startDate" class="hmpps-datepicker__dialog__title  js-datepicker-month-year" aria-live="polite">June 2023</h2>
                                                    <div class="hmpps-datepicker__dialog__navbuttons">
                                                        <button class="js-datepicker-next-month" aria-label="next month" data-button="button-datepicker-nextmonth">
                                                            <span class="govuk-visually-hidden">Next month</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#chevron_right"></use>
                                                            </svg>
                                                        </button>
                                                        <button class="js-datepicker-next-year" aria-label="next year" data-button="button-datepicker-nextyear">
                                                            <span class="govuk-visually-hidden">Next year</span>
                                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img">
                                                                <use href="/assets/images/icons.stack.svg#double_chevron_right"></use>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <table class="hmpps-datepicker__dialog__table  js-datepicker-grid" role="grid" aria-labelledby="datepicker-title-startDate">
                                                    <caption class="hmpps-datepicker__dialog__table-caption govuk-body">You can use the arrow keys to select a date</caption>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" abbr="Monday">Mo</th>
                                                            <th scope="col" abbr="Tuesday">Tu</th>
                                                            <th scope="col" abbr="Wednesday">We</th>
                                                            <th scope="col" abbr="Thursday">Th</th>
                                                            <th scope="col" abbr="Friday">Fr</th>
                                                            <th scope="col" abbr="Saturday">Sa</th>
                                                            <th scope="col" abbr="Sunday">Su</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">29</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">30</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">31</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">1</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">2</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">3</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">4</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">5</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">6</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">7</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">8</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="0" class="hmpps-datepicker-selected">9</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">10</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">11</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1" class="hmpps-datepicker__today">12</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">13</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">14</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">15</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">16</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">17</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">18</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">19</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">20</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">21</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">22</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">23</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">24</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">25</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">26</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">27</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">28</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">29</button></td>
                                                            <td><button data-form="date-select" style="display: block;" tabindex="-1">30</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">1</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">2</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">3</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">4</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">5</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">6</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">7</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">8</button></td>
                                                            <td><button data-form="date-select" style="display: none;" tabindex="-1">9</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="hmpps-datepicker__dialog__buttongroup">
                                                    <button type="button" class="govuk-button js-datepicker-ok" value="ok" data-button="button-datepicker-ok">Select</button>
                                                    <button type="button" class="govuk-button govuk-button--secondary js-datepicker-cancel" value="cancel" data-button="button-datepicker-cancel">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="hmpps-datepicker-button hmpps-js-datepicker-button" data-button="datepicker-startDate-toggle">
                                            <span class="govuk-visually-hidden">Choose date.</span>
                                            <svg focusable="false" class="hmpps-datepicker-icon" aria-hidden="true" role="img" viewBox="0 0 22 22">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1333 2.93333H5.86668V4.4C5.86668 5.21002 5.21003 5.86667 4.40002 5.86667C3.59 5.86667 2.93335 5.21002 2.93335 4.4V2.93333H2C0.895431 2.93333 0 3.82877 0 4.93334V19.2667C0 20.3712 0.89543 21.2667 2 21.2667H20C21.1046 21.2667 22 20.3712 22 19.2667V4.93333C22 3.82876 21.1046 2.93333 20 2.93333H19.0667V4.4C19.0667 5.21002 18.41 5.86667 17.6 5.86667C16.79 5.86667 16.1333 5.21002 16.1333 4.4V2.93333ZM20.5333 8.06667H1.46665V18.8C1.46665 19.3523 1.91436 19.8 2.46665 19.8H19.5333C20.0856 19.8 20.5333 19.3523 20.5333 18.8V8.06667Z"></path>
                                                <rect x="3.66669" width="1.46667" height="5.13333" rx="0.733333"></rect>
                                                <rect x="16.8667" width="1.46667" height="5.13333" rx="0.733333"></rect>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}