{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 April 1987</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container">

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        You have added Trial record sheet information for <br> Joe Bloggs
                    </h1>
                    <div class="govuk-panel__body">
                        <br><strong>Prison number: </strong>B4166LG
                    </div>
                </div>

                <h2 class="govuk-heading-m">Next steps</h2>
                <ul class="govuk-list">
                    <li><a href="../prisoner-details.html">Return to prisoner details page </a></li>
                    <li><a href="../prisoner-search.html">Search for another person </a></li>
                    <li><a href="">Upload a copy of this document </a></li>
                </ul>
            </div>
        </div>
    </main>

</div>
<script src="/public/javascripts/data-store.js"></script>
{% endblock %}