{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
        </div>
    </div>
</div>
    <a href="select-adjustment-type.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-6">

                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjust release dates</span>Select the adjustments you need to add</h1>

                <p class="govuk-!-margin-bottom-8">Based on the court case information in NOMIS, the following remand has been counted as relevant remand.

                    The rules for applying remand time can be found in <a href="#">the policy framework</a>.</p>
<!--hide this until we know what we are doing-->
<!--            <div class="govuk-inset-text">-->
<!--                Farmer create agricultural charge remove property subject to charge from holding.-->
<!--            </div>-->




            <h2 class="govuk-heading-m">Tagged Bail</h2>
            <div class="govuk-summary-card remand adjustment govuk-!-width-two-thirds">
                <div class="govuk-summary-card__content recalls ">
                    <div class="recall-checkbox-container ">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Case details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Bristol Magistrates Court<br>
                                    <span class="govuk-hint">Case reference: T00003333 2 Jan  2023</span>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Days
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  4
                                </dd>
                            </div>
                        </dl>
                    </div>

                </div>
            </div>
            <h2 class="govuk-heading-m">Remand</h2>
            <div class="govuk-summary-card remand adjustment govuk-!-width-two-thirds">
                <div class="govuk-summary-card__content recalls govuk-body">
                    <div class="recall-checkbox-container ">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Remand period
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    From 3 Apr 2023 to 4 Aug 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Offence
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list">
                                        <li>Attempt to possess a controlled drug of Class C - GHB<br><span class="govuk-hint">Committed on 30 Oct 2023</span></li>
                                    </ul>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Days
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    27
                                </dd>
                            </div>
                        </dl>
                    </div>

                </div>
            </div>

            <div class="govuk-summary-card remand adjustment govuk-!-width-two-thirds">
                <div class="govuk-summary-card__content recalls govuk-body">
                    <div class="recall-checkbox-container ">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="s">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Remand period
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    From 3 Apr 2023 to 4 Aug 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Offences
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list">
                                        <li>Attempt to possess a controlled drug of Class C - GHB<br><span class="govuk-hint">Committed on 30 Oct 2023</span></li>
                                        <li>Attempt to possess a controlled drug of Class C - GHB<br><span class="govuk-hint">Committed on 30 Oct 2023</span></li>
                                        <li>Attempt to possess a controlled drug of Class C - GHB<br><span class="govuk-hint">Committed on 30 Oct 2023</span></li>
                                    </ul>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Days
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    12
                                </dd>
                            </div>
                        </dl>
                    </div>

                </div>
            </div>

<!--            <table  id="" class="govuk-table govuk-!-margin-bottom-8">-->
<!--                <thead class="govuk-table__head">-->
<!--                <tr class="govuk-table__row">-->
<!--                    <th class="govuk-table__header" scope="col">Case number</th>-->
<!--                    <th class="govuk-table__header" scope="col">Offence details</th>-->
<!--                    <th class="govuk-table__header" scope="col">days</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr class="govuk-table__row">-->
<!--                    <td class="govuk-table__cell">-->
<!--                       T20187071<span class="moj-badge&#45;&#45;purple moj-badge">Applicable</span>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <table class="govuk-table">-->


<!--                            <tbody class="govuk-table__body">-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Court</th>-->
<!--                                <td class="govuk-table__cell">Birmingham</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Case outcome</th>-->
<!--                                <td class="govuk-table__cell">Imprisonment</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Dates</th>-->
<!--                                <td class="govuk-table__cell">24 Feb 2018 01 May 2018</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Offence</th>-->
<!--                                <td class="govuk-table__cell">verry long offence name here to test the limits of the design as this can be a really really long string</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Committed on</th>-->
<!--                                <td class="govuk-table__cell">22 Feb 2018</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">69</td>-->
<!--                </tr>-->
<!--                <tr class="govuk-table__row">-->
<!--                    <td class="govuk-table__cell">-->
<!--                        T20187071<span class="moj-badge&#45;&#45;purple moj-badge">Applicable</span>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <table class="govuk-table">-->
<!--                            <tbody class="govuk-table__body">-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Court</th>-->
<!--                                <td class="govuk-table__cell">Birmingham</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Case outcome</th>-->
<!--                                <td class="govuk-table__cell">Imprisonment</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Dates</th>-->
<!--                                <td class="govuk-table__cell">24 Feb 2018 01 May 2018</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Offence</th>-->
<!--                                <td class="govuk-table__cell">verry long offence name here to test the limits of the design as this can be a really really long string</td>-->
<!--                            </tr>-->
<!--                            <tr class="govuk-table__row">-->
<!--                                <th scope="row" class="govuk-table__header">Committed on</th>-->
<!--                                <td class="govuk-table__cell">22 Feb 2018</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">69</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->

<!--            <table class="govuk-table govuk-!-margin-bottom-8">-->
<!--                    <thead class="govuk-table__head">-->
<!--                    <tr class="govuk-table__row">-->
<!--                        <th class="govuk-table__header" scope="col">Remand periods identified from court events</th>-->
<!--                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>-->
<!--                        <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody class="govuk-table__body">-->
<!--                    <tr class="govuk-table__row">-->
<!--                        &lt;!&ndash; Dates &ndash;&gt;-->
<!--                        <td class="govuk-table__cell govuk-!-width-two-thirds">-->
<!--                            <table class="govuk-table">-->
<!--                                <tbody class="govuk-table__body">-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Court</th>-->
<!--                                    <td class="govuk-table__cell">Birmingham</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Case outcome</th>-->
<!--                                    <td class="govuk-table__cell">Imprisonment</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Dates</th>-->
<!--                                    <td class="govuk-table__cell">24 Feb 2018 01 May 2018</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Offence</th>-->
<!--                                    <td class="govuk-table__cell">verry long offence name here to test the limits of the design as this can be a really really long string</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Committed on</th>-->
<!--                                    <td class="govuk-table__cell">22 Feb 2018</td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </td>-->
<!--                        &lt;!&ndash; Days &ndash;&gt;-->
<!--                        <td class="govuk-table__cell govuk-!-text-align-centre"><span class="moj-badge moj-badge&#45;&#45;green">good</span> </td>-->
<!--                        <td class="govuk-table__cell govuk-!-text-align-centre">5 </td>-->
<!--                    </tr>-->
<!--                    <tr class="govuk-table__row">-->
<!--                        &lt;!&ndash; Dates &ndash;&gt;-->
<!--                        <td class="govuk-table__cell">-->
<!--                            <span class="govuk-!-padding-top-3"><b>Court case number: T1000000</b></span><br>-->
<!--                            <span>Court : Wolverhampton crown court</span><br>-->
<!--                            <span>Case outcome : Sentencing</span><br>-->
<!--                            <span class="govuk-hint">From 12 Feb 2018 - 17 Feb 2018</span><br>-->
<!--                            <ul class="govuk-list">-->
<!--                                <li>Attempted burglary  <br> <span class="govuk-hint">committed on 1 Feb 2018</span></li>-->
<!--                            </ul>-->
<!--                        </td>-->
<!--                        &lt;!&ndash; Days &ndash;&gt;-->
<!--                        <td class="govuk-table__cell govuk-!-text-align-centre"></br>6</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->

<!--            <h2 class="govuk-heading-m">Other remand</h2>-->
<!--            <table class="govuk-table govuk-!-margin-bottom-8">-->
<!--                <thead class="govuk-table__head">-->
<!--                <tr class="govuk-table__row">-->
<!--                    <th class="govuk-table__header" scope="col">Remand periods identified from court events</th>-->
<!--                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody class="govuk-table__body">-->
<!--                <tr class="govuk-table__row">-->
<!--                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <span class="govuk-!-padding-top-3"><b>Court case number: T1000300</b></span><br>-->
<!--                        <span>Court : Wolverhampton crown court</span><br>-->
<!--                        <span>Case outcome : Sentencing</span><br>-->
<!--                        <span class="govuk-hint">From 12 Feb 2018 - 17 Feb 2018</span><br>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>Assualt by beating  <br> <span class="govuk-hint">committed on 1 Feb 2018</span></li>-->
<!--                        </ul>-->

<!--                    </td>-->
<!--                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                    <td class="govuk-table__cell govuk-!-text-align-centre"><br>6-->
<!--&lt;!&ndash;                        <br><span class="moj-badge moj-badge&#45;&#45;bright-purple">not counted</span>&ndash;&gt;-->
<!--                    </td>-->

<!--                </tr>-->

<!--                </tbody>-->
<!--            </table>-->


<div class="govuk-button-group">
    <a href="review.html" class="govuk-button" data-module="govuk-button">
        Continue
    </a>
    <a href="hub-9.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
    </a>
</div>
<!--            <a href="index-1.html" class="govuk-body govuk-link">Cancel and enter manually</a>-->



        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}