\{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <a href="court-date" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Add an adjustment</h1>
                <form class="form" action="add-tagged-bail">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Select adjustment type
                            </legend>
                            <select class="govuk-select" id="hearing-type" name="hearing-type">
                                <option value="Additional days awarded (ADA)" selected>Additional days awarded (ADA)</option>
                                <option value="Unused remand">Unused remand</option>
                                <option value="Unlawfully at large (UAL)">Unlawfully at large (UAL)</option>
                                <option value="Restore additional days awarded (RADA)">Restore additional days awarded (RADA)</option>
                                <option value="Tagged bail">Tagged bail</option>
                            </select>
                    </div>
                    <p class="govuk-body"><a href="task-list-4">There are no adjustments to add</a></p>
                    <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}