{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="../dps/search-results" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="form" action="task-list">
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-xl">
                            There is no sentence and offence informaton for Joe Bloggs
                        </h1>
                        <p>Information about court cases, sentences and offences must be entered before release dates can be calculated.</p>
                    </div>
                    <button class="govuk-button" data-module="govuk-button">
                        Add sentence and offence information
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}