{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <a href="task-list" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
                    Review court cases
                </h1>
                <!-- <h2 class="govuk-heading-l">Court cases</h2> -->
                <p class="govuk-body govuk-!-margin-bottom-7 govuk-!-margin-top-8">There is 1 court case recorded for Joe Bloggs.</p>
                <div class="govuk-!-margin-bottom-8 app-possible-prison-record" style="display: flex;">
                    <div class="govuk-grid-column-full govuk-!-margin-top-4">
                        <h3 class="govuk-heading-m">
                            Preston Crown Court
                        </h3>
                        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header" style="width: 35%;">Court case number</th>
                                    <td class="govuk-table__cell">463909453</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Court date</th>
                                    <td class="govuk-table__cell">1 February 2020
                                </tr>
                            </tbody>
                        </table>
                        <p class="govuk-body"><a href="" </a>Edit <a class="govuk-!-margin-left-4" href="">Remove</a></p>
                    </div>
                </div>
<!--                 <div class="govuk-!-margin-bottom-8 app-possible-prison-record" style="display: flex;">
                    <div class="govuk-grid-column-full govuk-!-margin-top-4">
                        <h3 class="govuk-heading-m">
                            Manchester Crown Court (Crown Square)
                        </h3>
                        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header" style="width: 35%;">Court case number</th>
                                    <td class="govuk-table__cell">495409513</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Court date</th>
                                    <td class="govuk-table__cell">25 February 2022</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="govuk-body"><a href="" </a>Edit <a class="govuk-!-margin-left-4" href="">Remove</a></p>
                    </div>
                </div> -->
                <div class="moj-button-action">
                    <a href="review-sentences-and-offences"><button class="govuk-button" data-module="govuk-button">
                            Confirm and continue
                        </button></a>
                </div>
            </div>
        </div>
    </main>
        </div>
    {% endblock %}