{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="task-list-5" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Sentence and offence information successfully added for Joe Bloggs
                    </h1>
                    <div class="govuk-panel__body">
                        Prison number: <strong>B4166LG</strong>
                    </div>
                </div>
<p class="govuk-body govuk-!-margin-top-8"><a href="../add-a-sentence/sentence-type">Go to Sentence and offence information</a></p>
                <p class="govuk-body"><a href="../version-1b/court-cases-new">Calculate release dates for Joe Bloggs</a></p>
            </div>
        </div>
    </main>
</div>
{% endblock %}