{% extends "version-1/dps/includes/hub-layout-minus-nav2.html" %}
{% block content %}

    <a href="../remand-periods/index.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span></h1>
                <div class="govuk-error-summary" data-module="govuk-error-summary">
                  <div role="alert">
                    <h2 class="govuk-error-summary__title">
                      There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                      <p>There is information missing in NOMIS that could impact the remand time</p><br>
                        <p>There is another offence of ["OFFENCE NAME"] within booking 12345A that has a missing offence date.</p><br>
                        <p>To ensure the remand time is calculated correctly, add the missing information in NOMIS, then reload this page.</p>
                    </div>
                  </div>
                </div>
                
            
                  
                  <div class="govuk-button-group">
                    <a href="../remand-tool/check-remand-details-2" id="saveRemandButton" class="govuk-button" data-journey="1">
                      Reload this page
                    </a>
                    <a href="../index-1.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </a>
                </div>
        







           
        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}