{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 April 1987</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                <span class="govuk-caption-xl">Trial record sheet information</span>
                Case reference: 23232323
            </h1>

            <h2 class="govuk-heading-m">Court details</h2>

            <dl id="court-details" class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Birmingham Crown Court
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../add-sentence-info/warrant-details.html">
                            Change<span class="govuk-visually-hidden"> date</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        23-3-2022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../add-sentence-info/warrant-details.html">
                            Change<span class="govuk-visually-hidden"> date</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case referrence
                    </dt>
                    <dd class="govuk-summary-list__value">
                        t55555
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../add-sentence-info/warrant-details.html">
                            Change<span class="govuk-visually-hidden"> date</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Hearing type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Trial
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../add-sentence-info/warrant-details.html">
                            Change<span class="govuk-visually-hidden"> date</span>
                        </a>
                    </dd>
                </div>
            </dl>

            <h2 class="govuk-heading-m">Sentence details</h2>

            <dl id="SentenceListSummary" class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                        <p><strong>Offence: </strong>Contravene direction re disclosure - terrorism</p>
                        <p><strong>Verdict: </strong>Guilty</p>
                        <p><strong>Sentence Length: </strong>
                            <span> 0 years 0 months 0 weeks 0 days </span></p>
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="sentence-detail.html">
                            Change<span class="govuk-visually-hidden"> previous application number</span>
                        </a>
                    </dd>

                </div><div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                    <p><strong>Offence: </strong>Fail to comply with an animal by-product requirement</p>
                    <p><strong>Verdict: </strong>Not guilty</p>
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="sentence-detail.html">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>

            </div><div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                    <p><strong>Offence: </strong>Contravene direction re disclosure - terrorism</p>
                    <p><strong>Verdict: </strong>Not guilty</p>
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../add-sentence-info/check-your-answers.html">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>

            </div><div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                    <p><strong>Offence: </strong></p>
                    <p><strong>Verdict: </strong>Guilty</p>
                    <p><strong>Sentence Length: </strong>
                        <span> 0 years 0 months 0 weeks 0 days </span></p>
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../add-sentence-info/check-your-answers.html">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>

            </div><div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                    <p><strong>Offence: </strong>Contravene direction re disclosure - terrorism</p>
                    <p><strong>Verdict: </strong>Guilty</p>
                    <p><strong>Sentence Length: </strong>
                        <span> 0 years 0 months 0 weeks 0 days </span></p>
                </dt>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../add-sentence-info/check-your-answers.html">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                    <a class="govuk-link" href="../add-sentence-info/check-your-answers.html">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>

            </div></dl>

            <a class="govuk-button" href="../add-sentence-info/confirmation-page.html">Continue</a>

        </div>
    </div>
</div>
<!--<script src="/public/javascripts/data-store.js"></script>-->
{% endblock %}