{% extends "../template.html" %}
{% if (data['courtCase']['type-of-case'] == 'Remand') %}
{% set status = "On remand" %}
{% endif %}
{% block content %}
<!-- Back link -->
<a href="check-answers" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
            </svg>
            <div class="moj-banner__message">Court {{ data.courtCases.length }} case saved.</div>
        </div>
        <!--         <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-0">
            <h1 class="govuk-panel__title-l">
                Court case case added 
            </h1>
        </div> -->
        <form class="form" action="/v6/create-appearance">
            <div class="govuk-summary-card govuk-!-margin-top-4">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case {{ data.courtCases.length }}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                                                <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court case reference number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['court-case-ref'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Warrant date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['warrant-date-day'] }}/{{ data['courtCase']['warrant-date-month'] }}/{{ data['courtCase']['warrant-date-year'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['court-name'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type of case
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['courtCase']['type-of-case'] }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <h2 class="govuk-heading-m">Now add a court appearance</h2>
            <p class="govuk-body">Once you have added details about the court appearance, you will need to enter the offence information from the warrant.</p>
            <button class="govuk-button" data-module="govuk-button">
                Add a court appearance
            </button>
            <p class="govuk-body"><a href="../court-cases-standalone">Return to Joe Bloggs's court cases</a></p>
        </form>
    </div>
</div>
{% endblock %}