{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="warrant-date" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="check-answers">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a court case</span>
                            Select the type of court case
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case" name="courtCase[type-of-case]" type="radio" value="Adult">
                            <label class="govuk-label govuk-radios__label" for="type-of-case">
                                Adult
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case-2" name="courtCase[type-of-case]" type="radio" value="Juvenile">
                            <label class="govuk-label govuk-radios__label" for="type-of-case-2">
                                Juvenile
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case-3" name="courtCase[type-of-case]" type="radio" value="Youth">
                            <label class="govuk-label govuk-radios__label" for="type-of-case">
                                Youth
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case-4" name="courtCase[type-of-case]" type="radio" value="Immigration">
                            <label class="govuk-label govuk-radios__label" for="type-of-case">
                                Immigration
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case-5" name="courtCase[type-of-case]" type="radio" value="Civil term">
                            <label class="govuk-label govuk-radios__label" for="type-of-case">
                                Civil term
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case-6" name="courtCase[type-of-case]" type="radio" value="Fine defaulter">
                            <label class="govuk-label govuk-radios__label" for="type-of-case">
                                Fine defaulter
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case-7" name="courtCase[type-of-case]" type="radio" value="Civil remand">
                            <label class="govuk-label govuk-radios__label" for="type-of-case">
                                Civil remand
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="type-of-case-8" name="courtCase[type-of-case]" type="radio" value="Courts martial">
                            <label class="govuk-label govuk-radios__label" for="type-of-case">
                                Courts martial
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}