{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="review-adas-padas.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <div class="govuk-notification-banner" role="region"
                         aria-labelledby="govuk-notification-banner-title"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__content">
                            <p class="govuk-notification-banner__heading">
                                The number of ADAs recorded has changed

                            </p>
                            <p>The number of ADAs does not match what was originally recorded as NOMIS.
                                Make sure the ADA information is correct, before continuing.
                            </p>
                            <p>
                                The number of ADAs differs from the number originally recorded on NOMIS.
                            </p>
                        </div>
                    </div>
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>Review and submit ADAs</h1>
                    <p>Check that the ADA details are correct, then submit the adjustments.</p>
                    <h2 class="govuk-heading-m">ADA details</h2>
                    <table class="govuk-table govuk-!-width-three-quarters">
                        <tr>
                            <th class="govuk-table__header" scope="col">
                                Date charge proved</th>
                            <th class="govuk-table__header" scope="col">Charge number(s)</th>
                            <th class="govuk-table__header govuk-!-text-align-right" scope="col">Days</th>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                6 Mar 2023
                            </td>
                            <td class="govuk-table__cell">
                                3822448
                            </td>
                            <!-- Days -->
                            <td class="govuk-table__cell govuk-!-text-align-right ">8</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                7 Aug 2023
                            </td>
                            <td class="govuk-table__cell">
                                <span>3583998</span><br>
                                3584019<br>
                                3584030
                            </td>
                            <!-- Days -->
                            <td class="govuk-table__cell govuk-!-text-align-right ">19</td>
                        </tr>

                        <tfoot>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__cell govuk-!-text-align-left" scope="row" colspan="2">Total ADAs </th>
                            <td class="govuk-table__cell govuk-!-text-align-right">27</td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="govuk-form-group">
                        <h2 class="govuk-heading-m">Submit adjustment details</h2>
                        <p class="govuk-body">Once submitted the adjustment details will be saved in NOMIS. You will then need to recalculate the release dates.</p>
                    <div class="govuk-!-margin-top-8 govuk-body">
                        <a href="adjustments-dashboard-success-d1.html" class="govuk-button" data-module="govuk-button">
                            Submit
                        </a>
                        <br>
                        <a href="intercept-page-changes.html" class="govuk-link" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}