{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="hub-9.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>Check adjudication details</h1>

                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Adjudication details</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Adjudication ID</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">To be served</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Days</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">0000001</td>
                            <td class="govuk-table__cell">12 May 2023</td>
                            <td class="govuk-table__cell">Consecutive to 0000002</td>
                            <td class="govuk-table__cell">25</td>
                            <td class="govuk-table__cell"><a class="govuk-link"  href="remove-ada.html">Remove</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Total days</th>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">45</td>
                            <td class="govuk-table__cell"></td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">
                                    Do you need to add another adjudication?
                                </h2>
                            </legend>
                            <div id="changed-name-hint" class="govuk-hint">
                                Supporting content.
                            </div>
                            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                                    <label class="govuk-label govuk-radios__label" for="changed-name">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-!-margin-top-4">
                        <a href="adjustments-dashboard.html" class="govuk-button" data-module="govuk-button">
                            Continue
                        </a>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}