{% extends "version-1/dps/includes/template-masthead.html" %}
{% block beforeContent %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="govuk-width-container dwf-masthead">
        <h1 class="govuk-heading-xl govuk-!-font-size-80"> Adjustments prototypes</h1>
    </div>
</div>
{% endblock%}
{% block content %}
<div class="govuk-!-padding-top-6 govuk-body">
    <h2 class="govuk-heading-m"><span class="govuk-caption-m">Introducing reject remand journey</span>Round 4</h2>
    <h3 class="govuk-heading-s">What we did</h3>
    <p>
        Continued testing the prototype, iterated data entry pages for UAL and manual remand, introduced a reject remand journey
    </p>
    <ul>
        <li>Iteration of remand tool  - <a href="10/prisoner-details-5" class="govuk-link"> View
        </a>
            <ul>
                <li>changed the orientation of the summary table to accommodate multiple records</li>
                <li>Introduced a reject remand calculation journey</li>
                <li>Added a not relevant tag to remand period details view</li>
            </ul>

        </li>
        <li>Further iteration of data entry pages so the number of days is pre populated once the user has entered both to and from dates
            <ul>
                <li><a href="10/remand" class="govuk-link"> Remand</a></li>
                <li><a href="10/ual" class="govuk-link"> UAL</a></li>
            </ul>
        </li>
        <li>Promoted review remand to a feature with its own content and high level CTA
            <a href="10/hub-9" class="govuk-link"> View</a></li>
        <li>Introduced a journey allowing users to reject the calculation from the remand tool
            <a href="10/prisoner-details-5" class="govuk-link"> View</a>
        </li>
    </ul>

    <h3 class="govuk-heading-s">What we found <span class="govuk-tag govuk-tag--orange">WIP</span></h3>
    <ul>
        <li>Users displayed greater understanding of remand tool no it has accompanying content</li>
        <li>Data entry iterations tested well</li>
        <li>Users were able to complete the reject remand journey</li>
    </ul>

    <h3 class="govuk-heading-s">Prototype</h3>
    <p>
        <a href="./10/hub-9" class="govuk-link"> View</a></p>

</div>

<div>


</div>
{% endblock %}