{% extends "version-1/dps/includes/template-masthead.html" %}
{% block beforeContent %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="govuk-width-container dwf-masthead">
        <h1 class="govuk-heading-xl govuk-!-font-size-80"> Adjustments prototypes</h1>
    </div>
</div>
{% endblock%}
{% block content %}
<div class="govuk-body govuk-!-padding-top-6">
    <h2 class="govuk-heading-m"><span class="govuk-caption-m">Adding other remand types introducing hub concept</span>Round 2</h2>

    <h3 class="govuk-heading-s">What we did</h3>
    <p>
        Building on the prototype from the first round we created journeys for three more adjustment types ADA, RADA and UAL.
        These adjustments type had differing data needs</p>
    <p>
        After entering the data users are then taken to a review screen where they can review the data they entered for each adjustment type, they are also presented with an option to add other adjustment or confirm the data and end the journey.
        <br>
        <br>
        We also linked users to the policy documentation
        <br>
        <br>
        We also tested a concept of a more interactive adjustment type selection page that gave users more options when dealing with adjustments
        <br>
        <br>

        The journey allows them to select the adjustment type enter the dat then review the data add more adjustments or continue to confirmation

    </p>
    <h3 class="govuk-heading-s">What we found</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>User found the concept more useful</li>
        <li>User were able to complete journeys for entering data</li>
        <li>They found the journey easier than using NOMIS</li>
    </ul>

    <h3 class="govuk-heading-s">What user said</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>They would like the ability to add comments when entering adjustment data</li>
        <li>They expected the number of days to auto populate once they had entered the to and from dates</li>
        <li>They have further data entry needs for some adjustments</li>
        <li>They found the journey easier than using NOMIS</li>
    </ul>

    <h3 class="govuk-heading-s">Design concepts</h3>
    <p>Building on from the remand tool we added 3 further adjustment types. Multiple adjustments can now be added with opportunities to check for accuracy </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>    <p>UAL capture page
            <a href="6/ual"
               class="govuk-link">view</a>
        </p></li>
        <li>    <p>ADA capture page
            <a href="6/ada"
               class="govuk-link">view</a>
        </p></li>
        <li>    <p>RADA capture page
            <a href="6/rada"
               class="govuk-link">view</a>
        </p></li>

    </ul>
</div>




    <h3 class="govuk-heading-s">Testing</h3>
    <p> Adding ADA's, RADA's and UAL with a adjustment basket

{% endblock %}