{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="next-court-date" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Add a court appearance to court case 3</span>
            Check your answers
        </h1>
        <form class="form" action="/v6/persist-appearance" method="post">
<!--             <h2 class="govuk-heading-m">Court case</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case reference number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-case-ref'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Warrant date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['warrant-date-day'] }}/{{ data['courtCase']['warrant-date-month'] }}/{{ data['courtCase']['warrant-date-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-name'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type of case
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['type-of-case'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            </dl> -->

<!-- <h2 class="govuk-heading-m">Court appearance</h2> -->
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Overall case outcome
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['overall-case-outcome'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="overall-case-outcome">
                            Change<span class="govuk-visually-hidden"> overall case outcome</span>
                        </a>
                    </dd>
                </div>
                {% if (data['appearance']['next-court-date-set'] == 'Yes') %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Next hearing type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['next-hearing-type'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="next-hearing-type-select">
                            Change<span class="govuk-visually-hidden"> next court case</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Next court date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['next-court-date-day'] }}/{{ data['appearance']['next-court-date-month'] }}/{{ data['appearance']['next-court-date-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="next-court-date">
                            Change<span class="govuk-visually-hidden"> next court case</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Next court time
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['next-court-time'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="next-court-date">
                            Change<span class="govuk-visually-hidden"> next court time</span>
                        </a>
                    </dd>
                </div>
                {% else %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Next court date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['next-court-date-set'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="next-court-date-select">
                            Change<span class="govuk-visually-hidden"> next court date set</span>
                        </a>
                    </dd>
                </div>
                {% endif %}
            </dl>
            <h2 class="govuk-heading-m">Now add the offences for this appearance</h2>
            <p class="govuk-body">You will need to enter all of the offence information from the warrant.</p>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}