{% extends "./dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="offence-name" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                When was the sentence date?
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="offence-name" method="post" class="form">

            <div class="govuk-form-group">
                <label class="govuk-heading-m" for="sentence-date">
                    Enter a sentence date
                </label>
                <div id="sentence-date" class="govuk-hint">
                    For example, 27 3 2007
                </div>
                <div class="govuk-date-input" id="sentence-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="sentence-date-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sentence-date-day" name="offence-start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="sentence-date-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sentence-date-month" name="offence-start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="sentence-date-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-date-year" name="offence-start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                    </div>
                </div>
            </div>
            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Continue
            </button>
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}