{% extends "./dps/includes/template.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="../version-1b/court-cases" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <!-- Page heading -->
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Enter a prisoner's legal information</h1>
            </div>
            <!-- Prisoner info -->
<!--             <aside>
                <div class="govuk-grid-column-one-quarter">
                    <div class="nhsuk-card">
                        <div class="nhsuk-card__content">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                                Prisoner details
                            </h2>
                            <span class="govuk-body govuk-!-font-weight-bold">Name</span>
                            <p class="govuk-body">Jordan Harrison</p>
                            <span class="govuk-body govuk-!-font-weight-bold">Date of birth</span>
                            <p class="govuk-body">20 July 1984</p>
                            <span class="govuk-body govuk-!-font-weight-bold">Prison number</span>
                            <p class="govuk-body">A5264VA</p>
                        </div>
                    </div>
                </div>
            </aside> -->
            <!-- Court cases -->
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l">Court cases</h2>
                <!-- Court case 1 -->
                <div class="govuk-!-margin-bottom-6 court-case-card">
                    <div class="govuk-grid-column-full govuk-!-margin-top-6">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            Leeds Magistrates Court
                        </h2>
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-4">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Court case number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    132200328209
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Court date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    1 August 2022
                                </dd>
                            </div>
                        </dl>
                        <table class="govuk-table court-document-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Document</th>
                                    <th scope="col" class="govuk-table__header">Added by</th>
                                    <th scope="col" class="govuk-table__header">Added on</th>
                                    <th scope="col" class="govuk-table__header">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row court-document-table-row">
                                    <td class="govuk-table__cell"><a href="">Remand warrant</a></td>
                                    <td class="govuk-table__cell">Colin Ball</td>
                                    <td class="govuk-table__cell">9 August 2022</td>
                                    <td class="govuk-table__cell">
                                        <ul class="govuk-list govuk-!-margin-bottom-0">
                                            <li><a href="">Change</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row court-document-table-row">
                                    <td class="govuk-table__cell"><a href="">Trial record sheet</a></td>
                                    <td class="govuk-table__cell">Colin Ball</td>
                                    <td class="govuk-table__cell">9 August 2022</td>
                                    <td class="govuk-table__cell">
                                        <ul class="govuk-list govuk-!-margin-bottom-0">
                                            <li><a href="">Change</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="add-a-document/type-of-document"> <button class="govuk-button govuk-button--link" data-module="govuk-button">
                                Add court document
                            </button></a>
                    </div>
                </div>
                <!-- Court case 2 -->
                <div class="govuk-!-margin-bottom-6 court-case-card">
                    <div class="govuk-grid-column-full govuk-!-margin-top-6">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            Sheffield Crown Court
                        </h2>
                        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-4">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Court case number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    132200383671
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Court date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    20 June 2022
                                </dd>
                            </div>
                        </dl>
                        <table class="govuk-table govuk-!-margin-bottom-4">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Document</th>
                                    <th scope="col" class="govuk-table__header">Added by</th>
                                    <th scope="col" class="govuk-table__header">Added on</th>
                                    <th scope="col" class="govuk-table__header">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            </tbody>
                        </table>
                        <p class="govuk-hint govuk-!-margin-bottom-7">There are no documents for this court case.</p>
                        <a href="add-a-document/type-of-document"> <button class="govuk-button govuk-button--link" data-module="govuk-button">
                                Add court document
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}