{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Sub nav -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="overview">Overview</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" aria-current="page" href="#2">Court cases</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="#2">Adjustments</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="#2">Release dates</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container govuk-!-margin-top-0">
    <a href="../version-1b/court-cases" class="govuk-back-link govuk-!-margin-top-0">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-5">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                Sentences and offences for Joe Bloggs
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-4" data-test="prison-number"><span class="govuk-!-font-weight-bold">Prison number:</span> A5264VA</p>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Leeds Combined Court Centre</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        463909453
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        3 September 2021
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
<!-- Court case 1 -->
<div class="moj-width-container">
    <a href="../add-a-sentence/sentence-type"><button class="govuk-button">Add new sentence</button></a>
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body govuk-!-margin-bottom-0">Count 1</h3>
            <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
                Act of violence on fixed platform
            </h4>
            <p class="govuk-body">Committed on 15 November 2020</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 20%;">Sentence type</th>
                        <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence date</th>
                        <td class="govuk-table__cell">21 September 2021</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence length</th>
                        <td class="govuk-table__cell">0 years 18 months
                            0 weeks 0 days</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body govuk-!-margin-bottom-0">Count 2</h3>
            <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
                Burglary dwelling - with intent to steal
            </h4>
            <p class="govuk-body">Committed on 15 November 2020</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 20%;">Sentence type</th>
                        <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence date</th>
                        <td class="govuk-table__cell">21 September 2021</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence length</th>
                        <td class="govuk-table__cell">0 years 18 months
                            0 weeks 0 days<div class="govuk-hint"> concurrent</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body govuk-!-margin-bottom-0">Count 3</h4>
                <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Theft from a shop
                </h4>
                <p class="govuk-body">Committed on 15 November 2020</p>
                <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header" style="width: 20%;">Sentence type</th>
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Sentence date</th>
                            <td class="govuk-table__cell">21 September 2021</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Sentence length</th>
                            <td class="govuk-table__cell">0 years 3 months
                                0 weeks 0 days<div class="govuk-hint"> concurrent</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body govuk-!-margin-bottom-0">Count 4</h4>
                <h4 class="govuk-heading-m govuk-!-margin-bottom-1">
                    Manslaughter
                </h4>
                <p class="govuk-body govuk-!-margin-bottom-2">Committed on 15 November 2020</p>
                <div class="govuk-!-margin-bottom-2"><span class="moj-badge">Schedule 15</span></div>
                <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header" style="width: 20%;">Sentence type</th>
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Sentence date</th>
                            <td class="govuk-table__cell">21 September 2021</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Sentence length</th>
                            <td class="govuk-table__cell">7 years 0 months
                                0 weeks 0 days</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}