{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="adjustments-dashboard-success.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>
                Add ADA designs
            </h1>

            <h2 class="govuk-heading-m">Round 4 <span class="govuk-tag govuk-tag--green">In progress</span></h2>
            <ul class="govuk-list">
                <li>
                    <p>
                        <a href="adjustments-dashboard-d1.html">Add ADAs journey design 1</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="adjustments-dashboard-d2.html">Add ADAs journey design 2</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="adjustments-dashboard-d3.html">Add ADAs journey design 3 </a><span class="moj-badge moj-badge--blue govuk-!-margin-left-4">candidate</span>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="review-adas-d3.html">Add ADAs page design 1</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="review-adas-d4.html">Add ADAs page design 2</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="review-adas-d5.html">Add ADAs page design 3</a>
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <p>
                                <a href="review-adas-d5.html">Add ADAs page design 3b</a>
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}