{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="../adjustments-dashboard.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group govuk-body">
                        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    <span class="govuk-caption-xl">Adjust release dates</span>
                                    Review adjudications
                                </h1>
                            </legend>
                            <p class="govuk-!-margin-bottom-8">There are ADAs awaiting  approval. Make sure you review  all awarded
                                ADAs before continuing</p>

                            <div class="govuk-!-margin-bottom-8">
                                <h2> Joe Bloggs has suspended ADAs</h2>
                                <p> Suspended ADAs will not been included in the calculation.</p>
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                          View suspended ADAs
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <h2 class="govuk-heading-m">Suspended ADAs</h2>
                                        <table  id="" class="govuk-table govuk-!-margin-bottom-8">
                                            <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header" scope="col">Date charge proved</th>
                                                <th class="govuk-table__header" scope="col">Charge number</th>
                                                <th class="govuk-table__header" scope="col">To be served</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                                            </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">
                                                    15 Dec 2022
                                                </td>
                                                <td class="govuk-table__cell">
                                                    3765949
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--red">Suspended</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">28 </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">
                                                    15 Dec 2022
                                                </td>
                                                <td class="govuk-table__cell">
                                                    3769132
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--red">Suspended</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">28 </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">
                                                    15 Dec 2022
                                                </td>
                                                <td class="govuk-table__cell">
                                                    3763763
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--red">Suspended</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">28 </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">
                                                    15 Dec 2022
                                                </td>
                                                <td class="govuk-table__cell">
                                                    3766455
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--red">Suspended</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">28 </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">
                                                    15 Dec 2022
                                                </td>
                                                <td class="govuk-table__cell">
                                                    3766472
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--red">Suspended</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre govuk-hint">28 </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="5">Total suspended days</th>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">140</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </details>
                            </div>
                            <h2 class="govuk-heading-m">Awarded ADAs</h2>
                            <p>These ADAs will be included in the calculation.</p>
                            <table  id="" class="govuk-table govuk-!-margin-bottom-4">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col">Date charge proved</th>
                                        <th class="govuk-table__header" scope="col">Charge details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        12 May 2023
                                    </td>
                                    <td class="govuk-table__cell">
                                        <table class="govuk-table">
                                            <tr>
                                            <th class="govuk-table__header" scope="col">Charge number</th>
                                            <th class="govuk-table__header" scope="col">To be served</th>
                                            <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                                            <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                                            <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                                            </tr>
                                            <tr>
                                                <td class="govuk-table__cell">
                                                    1234567
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrently
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Belmarsh prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class= "moj-badge moj-badge--green">Awaiting approval</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre">24</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    2345678
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Consecutive to 1234567
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--green">awaiting approval</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    3456789
                                                </td>
                                                <td class="govuk-table__cell">
                                                    3456789
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Belmarsh prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--green">awaiting approval</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        6 Mar 2023
                                    </td>
                                    <td class="govuk-table__cell">
                                        <table class="govuk-table">
                                            <tr>
                                                <th class="govuk-table__header" scope="col">Charge number</th>
                                                <th class="govuk-table__header" scope="col">To be served</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                                            </tr>
                                            <tr>
                                                <td class="govuk-table__cell">
                                                    3822448
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Not applicable
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class= "moj-badge moj-badge--blue">Awarded</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre">26</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        15 Mar 2023
                                    </td>
                                    <td class="govuk-table__cell">
                                        <table class="govuk-table">
                                            <tr>
                                                <th class="govuk-table__header" scope="col">Charge number</th>
                                                <th class="govuk-table__header" scope="col">To be served</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>
                                                <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    3812489
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--blue">Awarded</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    3812491
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--blue">Awarded</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    3812577
                                                </td>
                                                <td class="govuk-table__cell">
                                                    Concurrent
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    Nottingham prison
                                                </td>
                                                <td class="govuk-table__cell govuk-!-text-align-centre">
                                                    <span class=" moj-badge moj-badge--blue">Awarded</span>
                                                </td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>

                                <tfoot>
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="1">Total ADAs taken into calculation </th>
                                    <td class="govuk-table__cell govuk-!-text-align-right">204</td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="govuk-inset-text">
                                If you think some information is wrong, update it NOMIS or contact the adjudications team for support, then <a href="">reload this page</a>.
                            </div>
<!--                            <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">-->
<!--                                <summary class="govuk-details__summary">-->
<!--                                        <span class="govuk-details__summary-text">-->
<!--                                          Something wrong-->
<!--                                        </span>-->
<!--                                </summary>-->
<!--                                <div class="govuk-details__text">-->
<!--                                    <p>If something is wrong, you can update the information in NOMIS. Alternatively, contact the adjudications team for support, then reload this page.</p>-->
<!--                                </div>-->
<!--                            </details>-->

<!--                            <table  id="" class="govuk-table govuk-!-margin-bottom-8">-->
<!--                                <thead class="govuk-table__head">-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th class="govuk-table__header" scope="col">Date charge proved</th>-->
<!--                                    <th class="govuk-table__header" scope="col">Charge number</th>-->
<!--                                    <th class="govuk-table__header" scope="col">To be served</th>-->
<!--                                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Entered by</th>-->
<!--                                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Status</th>-->
<!--                                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Days</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody class="govuk-table__body">-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        12 May 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        1234567-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrently-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Belmarsh prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class= "moj-badge moj-badge&#45;&#45;green">Awaiting approval</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">24</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        12 May 2022-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        2345678-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Consecutive to 1234567-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Belmarsh prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class= "moj-badge moj-badge&#45;&#45;green">Awaiting approval</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">18 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        12 May 2022-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3456789-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent to 1234567-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Belmarsh prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class= "moj-badge moj-badge&#45;&#45;green">Awaiting approval</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">24 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        6 Mar 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3822448-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        15 Mar 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3812489-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        15 Mar 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3812491-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        15 Mar 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3812577-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">26 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        15 Dec 2022-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3769144-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">28 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        16 Feb 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3805292-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">22 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        16 Feb 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3804817-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">22 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        20 Jan 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3782585-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">14 </td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        20 Jan 2023-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        3786060-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell">-->
<!--                                        Concurrent-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        Nottingham prison-->
<!--                                    </td>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                                        <span class=" moj-badge moj-badge&#45;&#45;blue">Awarded</span>-->
<!--                                    </td>-->
<!--                                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">14 </td>-->
<!--                                </tr>-->

<!--                                </tbody>-->
<!--                                <tfoot>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th class="govuk-table__cell govuk-!-text-align-right" scope="row" colspan="5">Total ADAs taken into calculation </th>-->
<!--                                    <td class="govuk-table__cell govuk-!-text-align-centre">204</td>-->
<!--                                </tr>-->
<!--                                </tfoot>-->
<!--                            </table>-->


                        </fieldset>
<!--                        <div class="govuk-!-margin-top-6">-->
<!--                            <h2 class="govuk-heading-m">Days awarded</h2>-->
<!--                            <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-width-two-thirds">-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                       Current days awarded-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        26-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                        Days to be awarded-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        42-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                       Total days-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        68-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                            </dl>-->
<!--                        </div>-->
                    </div>




<!--                <a href="check-your-answers.html" id="" class="govuk-button" data-name="ADA" data-desc="ADA (Additional days awarded)">-->
<!--                    Continue-->
<!--                </a>-->
                    <h2 class="govuk-heading-m">Confirm Adjudications</h2>
                    <p>Once you have checked all the adjudication information is correct, submit the days awarded.</p>
<!--                    <p class="govuk-body govuk-!-width-two-thirds">These have been added by the adjudications service. If there is a problem with this data please fix the issue in NOMIS or alternativley contact the adjuications team. Once this-->
<!--                        has been resolved please return to this page and <a href="">refresh</a> the screen to see the changes reflected.-->
<!--                    </p>-->
                    <div class="govuk-!-margin-top-8 govuk-button-group">
                        <a href="check-your-answers-4.html" class="govuk-button" data-module="govuk-button">
                            Submit
                        </a>
                    </div>
                    <a href="adjustments-dashboard-d3.html">Cancel and return to dashboard</a>

            </div>
            </div>
        </main>
    </div>
</div>
<script src="/javascripts/adjustments.js"></script>
{% endblock %}