{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="../index-1" class="govuk-back-link">Back</a>

       
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <form class="form" action="./tsca-sentencing-date" method="post">
                       <h1 class="govuk-heading-l">
                                <span class="govuk-caption-xl">Adjustments</span>
                                You cannot continue
                            </h1>
                           <div clas="govuk-body"> <p>TSCA (time spent in custody abroad) will only count towards the sentence if it is confirmed by the court or by PPCS.</p>
                            <p class="govuk-body">Someone seeking to get TSCA confirmed can::</p>
                                <ul class="govuk-list govuk-list--bullet">
                                     <li>appeal to the court to reconsider pre-sentence TSCA</li>
                                    <li>apply to PPSC to consider post-sentence TSCA</li>
  
                                </ul>
                            </div>
<br>

                      <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">Continue</button>
                            <a href="../index.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
         

            
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}