{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div id="">
        <a href="" class="govuk-back-link">Back</a>
        <main class=" offence-outcome  adjustments-home" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-6">
                    <h1 class="govuk-heading-xl">
                        <span class="govuk-caption-xl">Adjustments</span>
                        Review and apply adjustments
                    </h1>
                    <p class="govuk-body">
                        This page lists all the adjustments that have been recorded for Joe Bloggs. You can add new adjustments, update existing information or review remand that has been logged in NOMIS.
                    </p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Unused deductions</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Unused remand
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        38 days
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Tagged bail
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        0 days
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Deductions</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Remand
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        38 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                        |
                                        <a class="govuk-link" href="#">
                                            View<span class="govuk-visually-hidden"> View</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Tagged bail
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        0 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Lawfully at large

                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        0 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                                        RADA <span class="govuk-hint"><br>
                                        (Restore additional days awarded)
                                    </span>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        0 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Special remission
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        0 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Time spent in custody abroad
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        0 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Additions</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        UAL <br>
                                        <span class="govuk-hint">
                                            (Unlawfully at large)
                                        </span>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        38 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                        |
                                        <a class="govuk-link" href="#">
                                            View<span class="govuk-visually-hidden"> View</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        ADA <br>
                                        <span class="govuk-hint">
                                            (Additional days awarded)
                                        </span>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        0 days
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> Add new</span>
                                        </a>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments-3.js"></script>
{% endblock %}