{% extends "../../../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="add-an-offence" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="form" action="offence-end-date" method="post">
                    <div class="govuk-form-group">
                        <span class="govuk-caption-xl">Add a remand warrant</span>
                        <label class="govuk-heading-l" for="sentence-date">
                            What was the offence date?
                        </label>
                        <div id="sentence-date" class="govuk-hint">
                            For example, 27 3 2007
                        </div>
                        <div class="govuk-date-input" id="offence-start-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="offence-start-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-start-day" name="offence-start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="offence-start-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-start-month" name="offence-start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="offence-start-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="offence-start-year" name="offence-start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-form-group govuk-!-margin-top-7">
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}