{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="./index.html" class="govuk-back-link">Back</a>
       <form class="form" action="/tsca-question-submit" method="post">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  
                       <h1 class="govuk-heading-l">
                                <span class="govuk-caption-xl">Record time spent in custody abroad</span>
                               
                            </h1>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                      Which document have you received?
                                      </h1>
                                    </legend>
                                  <div id="changedName-hint" class="govuk-hint">
                                    Time spent in custody abroad will only count towards the sentence if this has been confirmed by the court or PPCS. 
                                    You can read the rules for time spent in custody abroad in  <a href="#">the policy document</a>
                                  </div>
                                  <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="tscaquestion" name="tscaselect" type="radio" value="Yes">
                                      <label class="govuk-label govuk-radios__label" for="tscaquestion">
                                        Sentencing warrant from the court
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="tscaquestion-2" name="tscaselect" type="radio" value="PPCS">
                                      <label class="govuk-label govuk-radios__label" for="tscaquestion-2">
                                       Letter from PPCS
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                        </div>
                  <div class="govuk-button-group">
                         <button class="govuk-button" data-module="govuk-button" type="submit">
                              Continue
                          </button>
                            <a href="../index-1" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
         
            
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}
Collapse










