{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="./index.html" class="govuk-back-link">Back</a>
       <form class="form" action="/tsca-question-submit" method="post">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  
                       <h1 class="govuk-heading-l">
                                <span class="govuk-caption-xl">Adjustments</span>
                               
                            </h1>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                      Select the documentation that confirms time spent in custody abroad will count towards the sentence
                                      </h1>
                                    </legend>
                                  <div id="changedName-hint" class="govuk-hint">
                                    You can read the rules for time spent in custody abroad in  <a href="#">the policy document</a>
                                  </div>
                                  <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="tscaquestion" name="tscaselect" type="radio" value="Yes">
                                      <label class="govuk-label govuk-radios__label" for="tscaquestion">
                                        Sentencing warrant from the court
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="tscaquestion-2" name="tscaselect" type="radio" value="PPCS">
                                      <label class="govuk-label govuk-radios__label" for="tscaquestion-2">
                                       Letter from PPCS
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                        </div>
                  <div class="govuk-button-group">
                         <button class="govuk-button" data-module="govuk-button" type="submit">
                              Continue
                          </button>
                            <a href="./index.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
         
            
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}
Collapse










