{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="./index.html" class="govuk-back-link">Back</a>

       
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  
                  <form class="form" action="/tsca-question-submit" method="post">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend">
                          Do you want to change your name?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="tscaquestions" name="tscatypes" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="tscaquestions">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="tscaquestions-2" name="tscatypes" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="tscaquestions-2">
                              No
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    {{ govukButton({
                      text: "Continue"
                    }) }}
                  </form>
                </div>
            </div>
         

            
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}