{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                About this prototype
            </h1>
            <p></p>
            <p>research findings <a href="">view</a></p>
            <a href="">View prototype</a>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-l govuk-!-margin-top-8">
                What we did
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>created a journey to for OMU staff to enter details from a remand warrnt</li>
            </ul>
            <a href="">Continue</a>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-l govuk-!-margin-top-8">
                What we learned
            </h2>
            <a href="">Continue</a>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-l govuk-!-margin-top-8">
                What we need to do
            </h2>
            <a href="">Continue</a>
        </div>
</div>
</div>
{% endblock %}