{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="">
        <a href="../index.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div id="" class="govuk-body">
                        <h1 class="govuk-heading-l">
                            <span class="govuk-caption-xl">Recalls</span>
                            Prototypes
                        </h1>

                        <ul class="govuk-list">
                            <li>
                                <p>
                                <a href="intercept-page.html">select and review </a></p>

                            </li>
                            <li>
                                <p>
                                <a href="intercept-page-single.html">single record</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="review-and-continue.html">single page version</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="intercept-page-radio.html">radio button select</a>
                                </p>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Useful links</h2>
                    <ul class="govuk-list">
                        <li><a href="https://miro.com/app/board/uXjVPTT_CTk=/?moveToWidget=3458764557732885712&cot=14" target="_blank" class="govuk-link">Miro board (Designs)</a></li>
                        <li><a href="https://miro.com/app/board/uXjVMBrVoII=/"  target="_blank" class="govuk-link">Miro board (Research)</a></li>
                        <li><a href="/adjustments/components"  target="_blank" class="govuk-link">Components</a></li>
                        <li><a href="https://drive.google.com/drive/folders/1fL69Qd89Jyxzqtvp9wgk9mXSc4VlAS6Q"  target="_blank" class="govuk-link">Content docs</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}