{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="offence-code" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="outcome" method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-l">Add an offence to court case {{ data['court-case-ref'] }}</span>
                    Confirm the offence
                </h1>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                            Offence code
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['offence']['offence-code'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                            Offence
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Kidnap
                        </dd>
                    </div>
                </dl>
            </div>
            <input type="hidden" name="offence[offence-name]" value="Kidnap" />
            <button class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>
            <p class="govuk-body"><a href="offence-code">Enter a different offence code</a></p>
            <p class="govuk-body"><a href="offence-code">Look up an offence by name</a></p>
        </form>
    </div>
        <div class="govuk-grid-column-one-third">
        <div class="offence-summary" style="border-top: 2px solid #1d70b8;">
            <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content govuk-!-margin-top-4">
                <h2 class="govuk-heading-m">Appearance</h2>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Court case
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-case-ref'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['court-name'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Warrant date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['courtCase']['warrant-date-day'] }}/{{ data['courtCase']['warrant-date-month'] }}/{{ data['courtCase']['warrant-date-year'] }}
                    </dd>
                </div>
                <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Offences</h2>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Offences added
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences | length }}
                    </dd>
                </div>
            </dl>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Show offences
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <dl class="offences-summary-card-content">
                        {% for offence in data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences %}
                        <div class="offences-summary-card-row">
                            <dt class="offences-summary-card-key govuk-!-font-weight-bold">
                                {{ offence['offence-name'] }}
                            </dt>
                            <dd class="offences-summary-card-value govuk-body-s">Committed on {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}</dd>
                        </div>
                        {% endfor %}
                    </dl>
                </div>
            </details>
        </div>
    </div>
</div>
{% endblock %}