{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container" xmlns="http://www.w3.org/1999/html">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">Custodial sentence information</span>
                    Select a case</h1>
            <div class="">
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <div class="govuk-accordion__section-heading">
                                <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case: T20220102</h2>
                                    <p  class="govuk-!-margin-bottom-0">
                                        Bradford Crown Court <span class="govuk-hint">30 Sep 2021</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s">Select the sentence </label>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-1a" name="offence" type="radio" value="Count 1 from case T20220102">
                                        <label class="govuk-label govuk-radios__label" for="offence-1a">
                                            Count 1 <br>
                                            <strong> Conspire to commit a burglary dwelling with intent to steal</strong> <br>
                                            Sentence length:  0 years 75 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  12 May 2021
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-2a" name="offence" type="radio" value="Count 2 from case T20220102">
                                        <label class="govuk-label govuk-radios__label" for="offence-2a">
                                            Count 2 <br>
                                            <strong>Robbery</strong> <br>
                                            Sentence length:  15 years 0 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  25 Jun 2021
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-3a" name="offence" type="radio" value="Count 3 from case T20220102">
                                        <label class="govuk-label govuk-radios__label" for="offence-3a">
                                            Count 3 <br>
                                            <strong>Intentionally obstruct an authorised person</strong> <br>
                                            Sentence length:  0 years 2 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  2 Jan 2021
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-4a" name="offence" type="radio" value="Count 4 from case T20220102">
                                        <label class="govuk-label govuk-radios__label" for="offence-4a">
                                            Count 6 <br>
                                            <strong>Fail to comply with an animal by-product requirement</strong> <br>
                                            Sentence length:  0 years 2 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  2 Jan 2021
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <div class="govuk-accordion__section-heading">
                                <div class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Case: T20220101</h2>
                                    <p  class="govuk-!-margin-bottom-0">
                                        Leeds Crown Court <span class="govuk-hint">23 Oct 2021</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s">Select the sentence </label>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-1" name="offence" type="radio" value="Count 1 from case T20220101">
                                        <label class="govuk-label govuk-radios__label" for="offence-1">
                                            Count 1 <br>
                                            <strong> Conspire to commit a burglary dwelling with intent to steal</strong> <br>
                                            Sentence length:  0 years 75 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  12 May 2021
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-2" name="offence" type="radio" value="Count 2 from case T20220101">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Count 2 <br>
                                            <strong>Robbery</strong> <br>
                                            Sentence length:  15 years 0 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  25 Jun 2021
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-3" name="offence" type="radio" value="Count 3 from case T20220101">
                                        <label class="govuk-label govuk-radios__label" for="offence-3">
                                            Count 3 <br>
                                            <strong>Intentionally obstruct an authorised person</strong> <br>
                                            Sentence length:  0 years 2 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  2 Jan 2021
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-4" name="offence" type="radio" value="Count 4 from case T20220101">
                                        <label class="govuk-label govuk-radios__label" for="offence-4">
                                            Count 6 <br>
                                            <strong>Fail to comply with an animal by-product requirement</strong> <br>
                                            Sentence length:  0 years 2 months 0 weeks 0 days <br>
                                            Sentence type: CJA03 Standard Determinate Sentence<br>
                                            Sentence date:  2 Jan 2021
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a id="add-offence-button2" href="" class="govuk-button">Continue</a>

            </div>
        </div>
        </div>
    </main>
</div>


<script src="/public/javascripts/custodial-data-3.js"></script>
{% endblock %}