{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">Custodial sentence information</span>
                    Select a case</h1>

            <div class="">


                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Case ref: 3333333
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s">Select the offence </label>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-1" name="offence" type="radio" value="Offence 1 from case 3333333">
                                        <label class="govuk-label govuk-radios__label" for="offence-1">
                                            Offence 1
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-2" name="offence" type="radio" value="Offence 2 from case 3333333">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 2
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-3" name="offence" type="radio" value="Offence 3 from case 3333333">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 3
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-4" name="offence" type="radio" value="Offence 4 from case 3333333">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 4
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                 Case ref: 4444444444
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s">Select the offence </label>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-1" name="offence" type="radio" value="Offence 1 from case 4444444444">
                                        <label class="govuk-label govuk-radios__label" for="offence-1">
                                            Offence 1
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-2" name="offence" type="radio" value="Offence 2 from case 4444444444">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 2
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-3" name="offence" type="radio" value="Offence 3 from case 4444444444">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 3
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-4" name="offence" type="radio" value="Offence 4 from case 4444444444">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 4
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Case ref: 334566
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s">Select the offence </label>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-1" name="offence" type="radio" value="Offence 1 from case 334566">
                                        <label class="govuk-label govuk-radios__label" for="offence-1">
                                            Offence 1
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-2" name="offence" type="radio" value="Offence 2 from case 334566">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 2
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-3" name="offence" type="radio" value="Offence 3 from case 334566">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 3
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input cc-input" id="offence-4" name="offence" type="radio" value="Offence 4 from case 334566">
                                        <label class="govuk-label govuk-radios__label" for="offence-2">
                                            Offence 4
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a id="add-offence-button2" href="" class="govuk-button">Continue</a>

            </div>
        </div>
        </div>
    </main>
</div>


<script src="/public/javascripts/custodial-data-3.js"></script>
{% endblock %}