{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}

    <div class="">
        <a href="select-offences" class="govuk-back-link">Back</a>
       
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>Confirm and save</h1>

                    <h2 class="govuk-heading-m">Time spent as an appeal applicant not to count details</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                       
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Number of days
                            </dt>
                            <dd  id="days" class="govuk-summary-list__value">
                                7
                            </dd>
                            <dd id="start" class="govuk-summary-list__value" style="width: 155px;"></dd>
                            
                            <dd class="govuk-summary-list__value">
                                <a href="lal">Edit</a>
                            </dd>
                        </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court of Appeal reference number
                            </dt>
                            <dd  id="days" class="govuk-summary-list__value">
                               ABCD1234
                            </dd>
                            <dd id="start" class="govuk-summary-list__value" style="width: 155px;"></dd>
                            
                            <dd class="govuk-summary-list__value">
                                <a href="lal">Edit</a>
                            </dd>
                        </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Offences
                            </dt>
                            <dd  id="days" class="govuk-summary-list__value">
                                <b>Affray</b>
                                <p class="govuk-body-s">Committed on 1 January 2023<p></p>
                                <p class="govuk-body-s">Heard at Aberdare County Court</p>
                            </dd>
                            <dd id="start" class="govuk-summary-list__value" style="width: 155px;"></dd>
                            
                            <dd class="govuk-summary-list__value">
                                <a href="lal">Edit</a>
                            </dd>
                        </div>
                       
                       
                    </dl>
                    <div class="govuk-button-group">
                        <a href="./index1.html"  id="saveLALButton" class="govuk-button" data-module="govuk-button"  data-journey="7">
                            Confirm and save
                        </a>
                        <a href="./index.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
     
    </div>
<script src="/public/javascripts/add-remand-mvp.js"></script>

{% endblock %}