{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="./index.html" class="govuk-back-link">Back</a>

       
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    

                         <h1 class="govuk-heading-l">
                                <span class="govuk-caption-xl">Record time spent as an appeal applicant not to count</span>
                              Enter the number of days that will not count towards the sentence
                             </h1> 
                        <div class="govuk-form-group">
                           
                            <label class="govuk-label" for="weight">
                             Number of days
                            </label>
                            <div class="govuk-input__wrapper">
                              <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
                             
                            </div>
                          </div>
                       


                          <div class="govuk-button-group">
                            <a href="time-spent-appeal-reference"  id="saveLALButton" class="govuk-button" data-module="govuk-button"  data-journey="7">
                                Continue
                            </a>
                            <a href="../index-1" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    
                </div>
            </div>
       
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}