{% extends "version-1/dps/includes/hub-layout-minus-nav.html" %}
{% block content %}
<div class="">
    <div class="">
        <a href="index1" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>
               Time spent as an appeal not to count details
            </h1>

            <table class="govuk-table">
                
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Court of Appeal <br>reference number</th>
                    <th scope="col" class="govuk-table__header">Offences</th>
                    <th scope="col" class="govuk-table__header">Entered by</th>
                    <th scope="col" class="govuk-table__header">Number of days</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
                </thead>
                <tbody  class="govuk-table__body">


                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ABCD1234</td>
                    <td class="govuk-table__cell"><b>Affray</b>
                    <p class="govuk-body-s">Committed on 1 January 2023<br>
                               Heard at Aberdare County Court</p>
                    </td>
                    <td class="govuk-table__cell">Kirkham (HMP)</td>
                    <td class="govuk-table__cell">7</td>
                    <td class="govuk-table__cell">
                        <a href="time-spent-appeal-days" class="edit-link" data-caseno="4">Edit</a> <a href="#" class="delete-link govuk-!-margin-left-4" data-caseno="4">Delete</a>
                    </td>
                </tr>
 </tbody>
                <tfoot>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" colspan="2">Total days</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td id="totalTB" class="govuk-table__header" colspan="2">7</td>
                </tr>
                </tfoot>
            </table>

            <a href="time-spent-appeal-days" class="govuk-button" data-name="RADA" data-desc="RADA (Restore additional days awarded) ">
                Add new
            </a>
        </main>
    </div>
</div>


{% endblock %}