{% extends "version-1/dps/includes/hub-layout-cta.html" %}



{% set overviewActive = true %}
{% block content %}
<!-- Overview -->


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"  >
            Overview
        </h1>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-l">Release dates</h3>

     

        <p class="govuk-body govuk-!-margin-top-4"><a href="release-dates">View all release dates</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        <h3 class="govuk-heading-l">Adjustments</h3>


       
        <p class="govuk-body">There are no active adjustments.</p> 

    

        <p class="govuk-body govuk-!-margin-top-6"><a href="index-1">View all adjustments</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



        <h3 class="govuk-heading-l">Next court hearing</h3>
        <p class="govuk-body">No upcoming court hearings.</p>
        <!-- <p class="govuk-body"><a href="court-cases">View all court cases</a></p> -->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                <h3 class="govuk-heading-l">Immigration documents</h3>
       
         <dl class="govuk-summary-list" style="margin-bottom: 10px;">
            <div class="govuk-summary-list__row">
               
                <dd class="govuk-summary-list__value">
                   {% if data.recordDocument=="IS91"%}
                               <p class="govuk-body govuk">IS91 Detention Authority recorded on 15 July 2025</p>
                               {% elseif data.recordDocument=="Deportation order" %}
                               <p class="govuk-body govuk">Deportation order recorded on 15 July 2025</p>
                               {% else %}
                            <p class="govuk-body govuk">  No longer of interest recorded on 15 July 2025</p>
                                {% endif %}
                </dd>
            </div>
        </dl><br>
         
       <p class="govuk-body"><a href="immigration-detention/immigration-documents-overview">View all immigration documents</a></p>
       <p class="govuk-body"><a href="./immigration-detention/record-immigration-detention-details">Record new immigration document</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        

    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>
<script>
  function toggleAlert() {
    var x = document.getElementById("alert");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endblock %}
