{% extends "../version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Autocomplete example
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
            <select id="location-picker" class="enhance-autcomplete">
                <option value="fr">France</option>
                <option value="de">Germany</option>
                <option value="gb">United Kingdom</option>
            </select>
        </div>
    </div>
</div>
{% endblock %}