{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 April 1987</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container">

        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            You have added warrant information for
                        </h1>
                        <div class="govuk-panel__body">
                            Joe Bloggs<br><strong>Prison number: </strong>B4166LG
                        </div>
                    </div>


                    <p class="govuk-body">
                        <a href="../prisoner-search.html" class="govuk-link">Add details from a remand warrant for another prisoner</a>
                    </p>
                </div>
            </div>
        </main>

</div>
<script src="/public/javascripts/data-store.js"></script>
{% endblock %}