{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="govuk-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="prisoner-search-results.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">
                        Enter ADA details
                    </h1>
                        <div class="govuk-grid-column-one-half">

                            <div class="govuk-summary-card ">
                                <div class="govuk-summary-card__title-wrapper">
                                    <h2 class="govuk-summary-card__title">Remand</h2>
                                    <ul class="govuk-summary-card__actions">
                                        <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                                            Add new<span class="govuk-visually-hidden"> of University of Gloucestershire</span>
                                        </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="govuk-summary-card__content">
                                    <table class="govuk-table govuk-!-margin-bottom-2">
                                        <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col">Details</th>
                                            <th class="govuk-table__header" scope="col">Days</th>
                                            <th class="govuk-table__header" scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <!-- Dates -->
                                            <td class="govuk-table__cell">
                                                <span class="govuk-hint">Case outcome: Remand in custody</span><br>
                                                Attempted Burglary on 1 Feb 2018<br>
                                                <span class="govuk-!-padding-top-3"><b>From 1 Feb 2018 to 05 Feb 2018</b></span>
                                            </td>
                                            <!-- Days -->
                                            <td class="govuk-table__cell"></br>5</td>
                                            <!-- Change -->
                                            <td class="govuk-table__cell"><a href="edit"><br>Update</a></td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <!-- Dates -->
                                            <td class="govuk-table__cell">
                                                <span class="govuk-hint">Case outcome: Remand in custody</span><br>
                                                Attempted Burglary on 6 Feb 2018<br>
                                                <span class="govuk-!-padding-top-3"><b>From 12 Feb 18 to 17 Feb 18 </b></span>
                                            </td>
                                            <!-- Days -->
                                            <td class="govuk-table__cell"></br>6</td>
                                            <!-- Change -->
                                            <td class="govuk-table__cell"><a href="edit"><br>Update</a></td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <!-- Dates -->
                                            <td class="govuk-table__cell">
                                                <span class="govuk-hint govuk-!-margin-bottom-4">Case outcome: Remand in custody</span><br>
                                                Assault by beating 6 Feb 2018<br>
                                                <span class="govuk-!-padding-top-3"><b>From 12 Feb 18 to 17 Feb 18</b></span>
                                            </td>
                                            <!-- Days -->
                                            <td class="govuk-table__cell"><br>6</td>
                                            <!-- Change -->
                                            <td class="govuk-table__cell"><br><a href="edit">Update</a></td>
                                        </tr>
                                        <!-- Total -->
                                        <tr class="govuk-table__row">
                                            <!-- Dates -->
                                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                            <!-- Days -->
                                            <td class="govuk-table__cell">11
                                            </td>
                                            <td class="govuk-table__cell"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-summary-card ">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Unlawfully at large (UAL)</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="ual.html">
                                        Add new<span class="govuk-visually-hidden"> of University of Gloucestershire</span>
                                    </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <table class="govuk-table govuk-!-margin-bottom-2">
                                    <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col">Details</th>
                                        <th class="govuk-table__header" scope="col">Days</th>
                                        <th class="govuk-table__header" scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <!-- Dates -->
                                        <td class="govuk-table__cell">
                                            <span class="govuk-hint">Case outcome: Sentencing</span><br>
                                            Attempted Burglary on 1 May 2018<br>
                                            <span class="govuk-!-padding-top-3"><b>From 1 May 2018 to 05 May 2018</b></span>
                                        </td>
                                        <!-- Days -->
                                        <td class="govuk-table__cell"></br>5</td>
                                        <!-- Change -->
                                        <td class="govuk-table__cell"><a href="edit"><br>Update</a></td>
                                    </tr>


                                    <!-- Total -->
                                    <tr class="govuk-table__row">
                                        <!-- Dates -->
                                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                        <!-- Days -->
                                        <td class="govuk-table__cell">5
                                        </td>
                                        <td class="govuk-table__cell"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                        <a href="select-adjustment-type.html" id="add-adjustment-button" class="govuk-button" data-name="ADA">
                            Add new
                        </a>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}