{% extends "version-1/dps/includes/template-masthead-adjustments.html" %}
{% block beforeContent %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="moj-width-container dwf-masthead">
        <h1 class="govuk-heading-xl govuk-!-font-size-80"> Adjustments prototypes</h1>
    </div>
</div>
{% endblock%}
{% block content %}
<div class="govuk-!-padding-top-6">
    <h2 class="govuk-heading-m">ADAs</h2>
    <img src="/public/images/Accepting%20identified%20remand@2x.png">
    <h2 class="govuk-heading-m govuk-!-padding-top-6">Process</h2>
    <p>Allowing users to add the UAL adjustment type</p>

    <p>ADAs</p>
    <ul class="govuk-list">
        <li> <a href="4/select-adas/ada-2.html" target="_blank">Manual entry</a></li>
        <li><a href="5/select-adas/review-adas-d6-b.html">review ADAS</a></li>
        <li><a href="5/select-adas/intercept-page-changes">review via intercept page ADAS</a></li>
        <li><a href="6/first-time-entry/review-adas-padas">review via intercept page ADAS</a></li>
    </ul>

    <p>padas</p>
    <ul class="govuk-list">
        <li> <a href="5/select-adas/adjustments-dashboard" target="_blank">Add Ual journey v1</a></li>
        <li> <a href="4/view-adjustments/adjustments-dashboard-view-journey" target="_blank">Add Ual journey v2</a></li>
        <li> <a href="6/padas/select-padas-table.html" target="_blank">Padasv2</a></li>
        <li> <a href="7/first-time-entry-padas/select-padas-table.html" target="_blank">Padasv3</a></li>
    </ul>
</div>

{% endblock %}