{% extends "version-1/dps/includes/template-masthead-adjustments.html" %}
{% block beforeContent %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="moj-width-container dwf-masthead">
        <h1 class="govuk-heading-xl govuk-!-font-size-80"> Adjustments prototypes</h1>
    </div>
</div>
{% endblock%}
{% block content %}
<div class="govuk-!-padding-top-6">
    <h2 class="govuk-heading-m">dashboard</h2>
    <img src="/public/images/Accepting%20identified%20remand@2x.png">
    <h2 class="govuk-heading-m govuk-!-padding-top-6">Process</h2>
    <p>Allowing users to add the UAL adjustment type</p>

    <p>Sample pages</p>
    <ul class="govuk-list">
        <li> <a href="12/add-remand/enter-remand.html" target="_blank">Add remand</a></li>
        <li><a href="4/view-adjustments/adjustments-dashboard-view-journey.html">change postioning of view link</a></li>
        <li><a href="h/5/select-adas/adjustments-dashboard-d2.html">remove ctalink</a></li>
        <li><a href="h/5/select-adas/adjustments-dashboard-d2.html">exploring using notification to hold ctas  with action banner</a></li>
    </ul>

    <p>Journey</p>
    <ul class="govuk-list">
        <li> <a href="3/view-adjustments/adjustments-dashboard-view-journey" target="_blank">Add Ual journey v1</a></li>
        <li> <a href="4/view-adjustments/adjustments-dashboard-view-journey" target="_blank">Add Ual journey v2</a></li>
    </ul>
</div>

{% endblock %}