{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="">
        <a href="../index.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div id="" class="govuk-body">
                        <h1 class="govuk-heading-l">
                            <span class="govuk-caption-xl">Adjustments service BETA</span>
                            Prototypes
                        </h1>

                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
                                          Adjustments X Hub
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-11" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-11">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body govuk-!-font-weight-bold">Hub overview page</p>
                                            <ul class="govuk-list">
                                                <li>
                                                    <a href="beta/13/add-remand/overview">Adjustments panel as summary list </a>
                                                </li>
                                                <li>
                                                    <a href="beta/13/add-remand/overview-v2">Adjustments panel as details list </a>
                                                </li>
                                                <li>
                                                    <a href="beta/13/add-remand/overview-no-data">Adjustments panel with no adjustments </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body govuk-!-font-weight-bold">Hub overview page with CTA</p>
                                            <ul class="govuk-list">
                                                <li>
                                                    <a href="beta/13/overview-with-cta/overview">Adjustments panel as summary list </a>
                                                </li>
                                                <li>
                                                    <a href="beta/13/overview-with-cta/overview-v2">Adjustments panel as details list </a>
                                                </li>
                                                <li>
                                                    <a href="beta/13/overview-with-cta/overview-no-data">Adjustments panel with no adjustments </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">
                                        <p>service transitions</p>
                                        <ul class="govuk-list">
                                            <li>
                                                <a href="beta/13/transitions/crd">CRDS to adjustments </a>
                                            </li>
                                            <li>
                                                <a href="beta/13/add-remand/index-1">Adjustments actions completion </a>
                                            </li>

                                        </ul>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                                          Recalls
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body govuk-!-font-weight-bold">Recall journey designs. <span class="govuk-tag govuk-tag--red">paused</span></p>
                                            <ul class="govuk-list">
                                                <li>
                                                   <a href="beta/12/recalls/intercept-page.html">select and review</a>
                                                </li>
                                                <li>
                                                    <a href="beta/12/recalls/intercept-page-single.html">single record</a>
                                                </li>
                                                <li>
                                                    <a href="beta/12/recalls/review-and-continue.html">single page</a>
                                                </li>
                                                <li>
                                                    <a href="beta/12/recalls/intercept-page-radio.html">radio button select</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <p class="govuk-body govuk-!-font-weight-bold">Recall tags.</p>
                                            <span class="govuk-hint">Add remand pages:</span>
                                            <ul class="govuk-list">
                                                <li> <a href="beta/12/add-remand/view-remand-summary-with-cards-3" target="_blank">view remand</a></li>
                                                <li> <a href="beta/12/add-remand/select-offences" target="_blank">add remand (select offence)</a></li>
                                                <li> <a href="beta/12/add-remand/recall-reveiw-remand" target="_blank">add remand (review)</a></li>
                                                <li> <a href="beta/12/add-remand/recall-edit" target="_blank">edit remand</a></li>
                                                <li> <a href="beta/12/add-remand/recall-delete" target="_blank">delete remand</a></li>
                                            </ul>
                                            <span class="govuk-hint">Tagged bail pages:</span>
                                            <ul class="govuk-list">
                                                <li> <a href="beta/12/add-remand/select-case" target="_blank">add tagged bail (select case)</a></li>
                                                <li> <a href="beta/12/add-remand/recall-view-tagged-bail-3" target="_blank">tagged bail (view)</a></li>
                                                <li> <a href="beta/12/add-remand/recall-edit-tagged-bail" target="_blank">tagged bail (edit)</a></li>
                                                <li> <a href="beta/12/add-remand/recall-delete-tagged-bail" target="_blank">tagged bail (delete)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
                                          Cards and tables
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
                                    <p class="govuk-body">Defining the use of cards and tables </p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <span class="govuk-hint">Add remand pages:</span>
                                            <ul class="govuk-list">
                                                <li> <a href="beta/11/add-remand/view-remand-summary-with-cards-2" target="_blank">view remand</a></li>
                                                <li> <a href="beta/12/add-remand/review-static-2" target="_blank">Add remand when adding multiple periods</a></li>
                                                <li> <a href="beta/12/remand-tool" target="_blank">Identify remand tool <span class="govuk-tag govuk-tag--grey">wip</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="govuk-grid-column-one-half">
                                            <span class="govuk-hint">ADA tables:</span>
                                            <ul class="govuk-list">
                                                <li> <a href="beta/12/review-ada-tables-1" target="_blank">review ADA</a></li>
                                                <li> <a href="beta/12/view-ada-tables-2" target="_blank">view ADA</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
                                          Round 9 v11
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">


                                    <ul class="govuk-list">
                                        <li> <a href="beta/11/add-remand/index-1" target="_blank">Remand + Tagged bail CRUD + unused deductions + revised dashboard</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                                          Round 8  v8
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
                                    <p class="govuk-body">This is the content for How people read.</p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">

                                            <ul class="govuk-list">
                                                <li> <a href="beta/8/add-remand/index-1" target="_blank">Remand + Tagged bail CRUD</a></li>
                                                <li>
                                                    <a href="beta/9/add-remand/index-1" target="_blank">Remand + Tagged bail CRUD + HUB</a>
                                                    <p></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                                          Round 7  v7
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
                                    <p class="govuk-body"></p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <ul class="govuk-list">
                                                <li>
                                                    <span class="govuk-hint">ADJUST 72</span>
                                                    <p>
                                                        <a href="/adjustments/beta/7/first-time-entry/intercept-page-changes">First time entry</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 72</span>
                                                    <p>
                                                        <a href="/adjustments/beta/7/first-time-entry-padas/intercept-page-changes">First time entry with PADAs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 76</span>
                                                    <p>    <a href="/adjustments/beta/7/padas/intercept-page-changes">PADAs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 76</span>
                                                    <p>
                                                        <a href="/adjustments/beta/7/padas-with-others/intercept-page-changes">PADAs with other ADAs</a>
                                                    </p>
                                                </li>
                                            </ul>
                                            <ul class="govuk-list">
                                                <li>
                                                    <p>
                                                        ADA changes
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/7/view-ada-updated">View ADAs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/7/check-your-answers-quashed">Check your answers + Quashed</a>
                                                    </p>
                                                </li>
                                            </ul>
                                            <h2 class="govuk-heading-s">Remand</h2>
                                            <ul class="govuk-list">
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/7/add-remand/index">Add remand</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/7/add-remand/index-1">View remand</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                                          Round 6  v6
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
                                    <p class="govuk-body"></p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <ul class="govuk-list">
                                                <li>
                                                    <span class="govuk-hint">ADJUST 72</span>
                                                    <p>
                                                        <a href="/adjustments/beta/6/first-time-entry/intercept-page-changes">First time entry</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 72</span>
                                                    <p>
                                                        <a href="/adjustments/beta/6/first-time-entry-padas/intercept-page-changes">First time entry with PADAs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 76</span>
                                                    <p>    <a href="/adjustments/beta/6/padas/intercept-page-changes">PADAs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 76</span>
                                                    <p>
                                                        <a href="/adjustments/beta/6/padas-with-others/intercept-page-changes">PADAs with other ADAs</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                          Round 5  v5
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                                    <p class="govuk-body"></p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <ul class="govuk-list">
                                                <li>
                                                    <span class="govuk-hint">ADJUST 79</span>
                                                    <p>
                                                        <a href="/adjustments/beta/5/select-adas/adjustments-dashboard-d3">UR changes</a>
                                                    </p>
                                                    <p>
                                                        <a href="/adjustments/beta/5/select-adas/review-adas-d6-b">Content changes to ADA journey</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 76</span>
                                                    <p>
                                                        <a href="/adjustments/beta/5/select-adas/adjustments-dashboard">Handle PADAs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 77</span><span class="govuk-tag govuk-tag--green">In progress</span>
                                                    <p>
                                                        <a href="/adjustments/beta/5/select-adas/intercept-page">Intercept page example with multiple items</a>
                                                    </p>
                                                    <ul class="govuk-list--bullet govuk-list govuk-!-padding-left-9">
                                                        <li>
                                                            <p>
                                                                <a href="/adjustments/beta/5/select-adas/intercept-page-changes">Adjudications service change</a>
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>
                                                                <a href="/adjustments/beta/5/select-adas/adjustments-dashboard-d2">Add ADAs Remove CTA panel/ add via add new & change view link position</a>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 77</span>
                                                    <p>
                                                        <a href="/adjustments/beta/5/select-adas/adjustments-dashboard-d4">Add notification to dashboard for incomplete tasks </a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 77</span>
                                                    <p>
                                                        <a href="/adjustments/beta/5/prisoner-details-5">Remand tool </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                          Round 4  v4
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                                    <p class="govuk-body"></p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <ul class="govuk-list">
                                                <li>
                                                    <span class="govuk-hint">ADJUST 28</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/view-ada-iterations">View ADA re design</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 63, 33, 62</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/add-ada-iterations">Add ADA re designs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Potential new design for adding UAL</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/notifications">Notifications for adjustments service</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 60</span><span class="govuk-tag govuk-tag--red">shelved</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA manual entry </a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Dashboard Iteration move the position of the view button</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 68</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/intercept-page-iterations">Dashboard introduce intercept page</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                          Round 3  v3
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                    <p class="govuk-body"></p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <ul class="govuk-list">
                                                <li>
                                                    <span class="govuk-hint">ADJUST 28</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/view-ada-iterations">View ADA re design</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 63, 33, 62</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/add-ada-iterations">Add ADA re designs</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Potential new design for adding UAL</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/notifications">Notifications for adjustments service</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 60</span><span class="govuk-tag govuk-tag--red">shelved</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA manual entry </a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Dashboard Iteration move the position of the view button</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="govuk-hint">ADJUST 68</span>
                                                    <p>
                                                        <a href="/adjustments/beta/4/view-adjustments/intercept-page-iterations">Dashboard introduce intercept page</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                          Round 2 v2
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                    <p class="govuk-body"></p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <ul class="govuk-list">
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/2/view-adjustments-rada/rada">Iteration of RADA data entry page </a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/2/select-adas/adjustments-dashboard">Iteration for OMU staff reviewing adjudications</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/2/view-adjustments-rada/adjustments-dashboard-view-journey">View, edit, remove RADA</a>

                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <a href="/adjustments/beta/2/view-adjustments/adjustments-dashboard-view-journey">View, edit, remove UAL </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-0">
                                          Round 1 v1
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
                                    <p class="govuk-body"></p>
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-one-half">
                                            <ul class="govuk-list">
                                                <li>
                                                    <p>Initial concept for OMU staff viewing adjustments on the adjustments service
                                                        <a href="/adjustments/beta/1/view-adjustments/adjustments-dashboard-view-journey">View </a></p>

                                                </li>
                                                <li>
                                                    <p>Initial concept for OMU staff reviewing adjudications
                                                        <a href="/adjustments/beta/1/select-adas/adjustments-dashboard">Automating selection of ADA's</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!--                        <h2 class="govuk-heading-m">Round 1</h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <p>Initial concept for OMU staff viewing adjustments on the adjustments service-->
<!--                                <a href="/adjustments/beta/1/view-adjustments/adjustments-dashboard-view-journey">View </a></p>-->

<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>Initial concept for OMU staff reviewing adjudications-->
<!--                                <a href="/adjustments/beta/1/select-adas/adjustments-dashboard">Automating selection of ADA's</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-m">Round 2</h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/2/view-adjustments-rada/rada">Iteration of RADA data entry page </a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/2/select-adas/adjustments-dashboard">Iteration for OMU staff reviewing adjudications</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/2/view-adjustments-rada/adjustments-dashboard-view-journey">View, edit, remove RADA</a>-->

<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/2/view-adjustments/adjustments-dashboard-view-journey">View, edit, remove UAL </a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-m">Round 3</h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li><span class="govuk-hint">ADJUST 15</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/3/view-adjustments/adjustments-dashboard-view-journey">Iteration of UAL data entry page </a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li><span class="govuk-hint">ADJUST 15</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/3/view-adjustments/view-ual">Iteration of UAL view page </a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li><span class="govuk-hint">ADJUST 27</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/3/view-adjustments/adjustments-dashboard-view-journey-change">Ada update journey </a><span class="govuk-tag govuk-tag&#45;&#45;red">Paused</span>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <h2 class="govuk-heading-m">Round 4</h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 28</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/select-adas/view-ada-iterations">View ADA re design</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 63, 33, 62</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/select-adas/add-ada-iterations">Add ADA re designs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Potential new design for adding UAL</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/view-adjustments/notifications">Notifications for adjustments service</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 60</span><span class="govuk-tag govuk-tag&#45;&#45;red">shelved</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA manual entry </a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Dashboard Iteration move the position of the view button</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 68</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/4/view-adjustments/intercept-page-iterations">Dashboard introduce intercept page</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-m">Round 5</h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 79</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/5/select-adas/adjustments-dashboard-d3">UR changes</a>-->
<!--                                </p>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/5/select-adas/review-adas-d6-b">Content changes to ADA journey</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 76</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/5/select-adas/adjustments-dashboard">Handle PADAs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 77</span><span class="govuk-tag govuk-tag&#45;&#45;green">In progress</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/5/select-adas/intercept-page">Intercept page example with multiple items</a>-->
<!--                                </p>-->
<!--                                <ul class="govuk-list&#45;&#45;bullet govuk-list govuk-!-padding-left-9">-->
<!--                                    <li>-->
<!--                                        <p>-->
<!--                                            <a href="/adjustments/beta/5/select-adas/intercept-page-changes">Adjudications service change</a>-->
<!--                                        </p>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <p>-->
<!--                                            <a href="/adjustments/beta/5/select-adas/adjustments-dashboard-d2">Add ADAs Remove CTA panel/ add via add new & change view link position</a>-->
<!--                                        </p>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 77</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/5/select-adas/adjustments-dashboard-d4">Add notification to dashboard for incomplete tasks </a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 77</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/5/prisoner-details-5">Remand tool </a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-m">Round 6</h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 72</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/6/first-time-entry/intercept-page-changes">First time entry</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 72</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/6/first-time-entry-padas/intercept-page-changes">First time entry with PADAs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 76</span>-->
<!--                                <p>    <a href="/adjustments/beta/6/padas/intercept-page-changes">PADAs</a>-->
<!--                            </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 76</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/6/padas-with-others/intercept-page-changes">PADAs with other ADAs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-m">Round 7-->
<!--                            <span class="govuk-tag govuk-tag&#45;&#45;green">In progress</span>-->
<!--                        </h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 72</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/7/first-time-entry/intercept-page-changes">First time entry</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 72</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/7/first-time-entry-padas/intercept-page-changes">First time entry with PADAs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 76</span>-->
<!--                                <p>    <a href="/adjustments/beta/7/padas/intercept-page-changes">PADAs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="govuk-hint">ADJUST 76</span>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/7/padas-with-others/intercept-page-changes">PADAs with other ADAs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    ADA changes-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/7/view-ada-updated">View ADAs</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/7/check-your-answers-quashed">Check your answers + Quashed</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-s">Remand</h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/7/add-remand/index">Add remand</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/7/add-remand/index-1">View remand</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-m">Round 8-->

<!--                            <span class="govuk-tag govuk-tag&#45;&#45;orange">Stable</span>-->
<!--                        </h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/8/add-remand/index-1">Remand + Tagged bail CRUD</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/9/add-remand/index-1">Remand + Tagged bail CRUD + HUB</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h2 class="govuk-heading-m">Round 9-->
<!--                        </h2>-->
<!--                        <ul class="govuk-list">-->
<!--                            <li>-->
<!--                                <p>-->
<!--                                    <a href="/adjustments/beta/11/add-remand/index-1">Remand + Tagged bail CRUD + unused deductions + revised dashboard</a>-->
<!--                                </p>-->
<!--                            </li>-->
<!--                        </ul>-->

                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Useful links</h2>
                    <ul class="govuk-list">
                        <li><a href="https://miro.com/app/board/uXjVPTT_CTk=/?moveToWidget=3458764557732885712&cot=14" target="_blank" class="govuk-link">Miro board (Designs)</a></li>
                        <li><a href="https://miro.com/app/board/uXjVMBrVoII=/"  target="_blank" class="govuk-link">Miro board (Research)</a></li>
                        <li><a href="/adjustments/components"  target="_blank" class="govuk-link">Components</a></li>
                        <li><a href="https://drive.google.com/drive/folders/1fL69Qd89Jyxzqtvp9wgk9mXSc4VlAS6Q"  target="_blank" class="govuk-link">Content docs</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}