{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="hub-9.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div id="" class="govuk-body">
                        <h1 class="govuk-heading-l">
                            <span class="govuk-caption-xl">Adjustments service </span>
                            Prototypes
                        </h1>
                        <h2 class="govuk-heading-m">Round 1</h2>
                        <ul class="govuk-list">
                            <li>
                                <p>Initial concept for OMU staff viewing adjustments on the adjustments service
                                <a href="1/view-adjustments/adjustments-dashboard-view-journey.html">View </a></p>

                            </li>
                            <li>
                                <p>Initial concept for OMU staff reviewing adjudications
                                <a href="1/select-adas/adjustments-dashboard.html">Automating selection of ADA's</a>
                                </p>
                            </li>
                        </ul>
                        <h2 class="govuk-heading-m">Round 2</h2>
                        <ul class="govuk-list">
                            <li>
                                <p>changes to RADA journey
                                    <a href="./2/view-adjustments-rada/rada.html">View </a>
                                </p>
                            </li>
                            <li>
                                <p>Iteration for OMU staff reviewing adjudications
                                    <a href="/2/select-adas/adjustments-dashboard.html">Automating selection of ADA's</a>
                                </p>
                            </li>
                            <li>
                                <p>View, edit, remove RADA
                                    <a href="../2/view-adjustments-rada/adjustments-dashboard-view-journey.html">View </a>
                                </p>
                            </li>
                            <li>
                                <p>View, edit, remove UAL
                                    <a href="2/view-adjustments/adjustments-dashboard-view-journey.html">View </a>
                                </p>
                            </li>
                            <li>
                                <p>Remove adjustments pattern 1
                                    <a href="2/view-adjustments/adjustments-dashboard-view-journey.html">View </a>
                                </p>
                            </li>
                            <li>
                                <p>Remove adjustments pattern 2
                                    <a href="2/view-adjustments/adjustments-dashboard-view-journey.html">View </a>
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}