{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="">
        <a href="hub-9.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div id="" class="govuk-body">
                        <h1 class="govuk-heading-l">
                            <span class="govuk-caption-xl">Adjustments service </span>
                            Prototypes
                        </h1>
                        <h2 class="govuk-heading-m">Round 1</h2>
                        <ul class="govuk-list">
                            <li>
                                <p>Initial concept for OMU staff viewing adjustments on the adjustments service
                                <a href="../adjustments/beta/1/view-adjustments/adjustments-dashboard-view-journey">View </a></p>

                            </li>
                            <li>
                                <p>Initial concept for OMU staff reviewing adjudications
                                <a href="../adjustments/beta/1/select-adas/adjustments-dashboard">Automating selection of ADA's</a>
                                </p>
                            </li>
                        </ul>
                        <h2 class="govuk-heading-m">Round 2</h2>
                        <ul class="govuk-list">
                            <li>
                                <p>
                                    <a href="../adjustments/beta/2/view-adjustments-rada/rada">Iteration of RADA data entry page </a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/2/select-adas/adjustments-dashboard">Iteration for OMU staff reviewing adjudications</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/2/view-adjustments-rada/adjustments-dashboard-view-journey">View, edit, remove RADA</a>

                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/2/view-adjustments/adjustments-dashboard-view-journey">View, edit, remove UAL </a>
                                </p>
                            </li>
                        </ul>
                        <h2 class="govuk-heading-m">Round 3 <span class="govuk-tag govuk-tag--blue">Current</span></h2>
                        <ul class="govuk-list">
                            <li><span class="govuk-hint">ADJUST 15</span>
                                <p>
                                    <a href="../adjustments/beta/3/view-adjustments/adjustments-dashboard-view-journey">Iteration of UAL data entry page </a>
                                </p>
                            </li>
                            <li><span class="govuk-hint">ADJUST 15</span>
                                <p>
                                    <a href="../adjustments/beta/3/view-adjustments/view-ual">Iteration of UAL view page </a>
                                </p>
                            </li>
                            <li><span class="govuk-hint">ADJUST 27</span>
                                <p>
                                    <a href="../adjustments/beta/3/view-adjustments/adjustments-dashboard-view-journey-change">Ada update journey </a><span class="govuk-tag govuk-tag--red">Paused</span>
                                </p>
                            </li>
                        </ul>

                        <h2 class="govuk-heading-m">Round 4 <span class="govuk-tag govuk-tag--green">In progress</span></h2>
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-hint">ADJUST 28</span>
                                <p>
                                    <a href="../adjustments/beta/4/select-adas/view-ada-iterations">View ADA re design</a>
                                </p>
                            </li>
                            <li>
                                <span class="govuk-hint">ADJUST 63, 33, 62</span><span class="govuk-tag govuk-tag--green">In progress</span>
                                <p>
                                    <a href="../adjustments/beta/4/select-adas/add-ada-iterations">Add ADA re designs</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Potential new design for adding UAL</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/4/view-adjustments/notifications">Notifications for adjustments service</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA iteration</a>
                                </p>
                            </li>
                            <li>
                                <span class="govuk-hint">ADJUST 60</span><span class="govuk-tag govuk-tag--red">shelved</span>
                                <p>
                                    <a href="../adjustments/beta/4/select-adas/adjustments-dashboard">Add ADA manual entry </a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="../adjustments/beta/4/view-adjustments/adjustments-dashboard-view-journey">Dashboard Iteration move the position of the view button</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Useful links</h2>
                    <ul class="govuk-list">
                        <li><a href="https://miro.com/app/board/uXjVPTT_CTk=/?moveToWidget=3458764557732885712&cot=14" target="_blank" class="govuk-link">Miro board (Designs)</a></li>
                        <li><a href="https://miro.com/app/board/uXjVMBrVoII=/"  target="_blank" class="govuk-link">Miro board (Research)</a></li>
                        <li><a href="https://drive.google.com/drive/folders/1fL69Qd89Jyxzqtvp9wgk9mXSc4VlAS6Q"  target="_blank" class="govuk-link">Content docs</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}