{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="adjustments-dashboard-view-journey.html.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form action="/form-handler" method="post" novalidate>

                        <div id="UALPage" class="">


                            <h1 class="govuk-heading-l">
                                <span class="govuk-caption-xl">Adjust release dates</span>
                               Enter UAL details
                            </h1>
                            <p class="govuk-body">
                                The rules for UAL (Unlawfully at large) can be found in
                                <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1083190/sc-annex-a-operational-guidance.pdf#page=87">the policy framework</a>.
                            </p>
                            <p>
                                Make sure you review the policy when entering the first and last day of UAL.
                            </p>

                            <div class="govuk-form-group govuk-!-padding-top-2">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        Select the type of UAL
                                    </legend>
                                    <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="option1" name="UALType" type="radio" value="Recall" data-url="ual-recall">
                                            <label class="govuk-label govuk-radios__label" for="option1">
                                                Recall
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="option2" name="UALType" type="radio" value="Escapes/absconds/ROTL failures" data-url="ual-escape">
                                            <label class="govuk-label govuk-radios__label" for="option2">
                                                Escapes/absconds/ROTL failures
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="option3" name="UALType" type="radio" value="Sentenced in absence" data-url="ual-sentenced">
                                            <label class="govuk-label govuk-radios__label" for="option3">
                                                Sentenced in absence
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="option4" name="UALType" type="radio" value="Release in error" data-url="ual-release-in-error">
                                            <label class="govuk-label govuk-radios__label" for="option4">
                                                Release in error
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="govuk-!-padding-top-4">
                            <a href="" id="UALTypeButton"  class="govuk-button " data-name="UAL" data-desc="UAL (Unlawfully at large) ">
                                Continue
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments-3.js"></script>
{% endblock %}