{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <a href="task-list" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">Custodial sentence information</span>
                    Enter custodial case details</h1>
            </div>
<!--            <div id="cd"></div>-->
            <div class="govuk-grid-column-one-half">
                <form class="form" action="court-cases" method="post">

                    <div class="govuk-form-group">
                        <h2 class="govuk-heading-m">Overall sentence length</h2>
                        <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-form-group">
                                    <div class="govuk-date-input" id="sentence-date">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="sentence-length-years">
                                                    Years
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-years" name="sentence-length-years" type="text" pattern="[0-9]*" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="sentence-length-months">
                                                    Months
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-months" name="sentence-length-months" type="text" pattern="[0-9]*" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="sentence-length-weeks">
                                                    Weeks
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-weeks" name="sentence-length-weeks" type="text" pattern="[0-9]*" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="ssentence-length-days">
                                                    Days
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sentence-length-days" name="sentence-length-days" type="text" pattern="[0-9]*" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
<!--                    <div class="govuk-form-group">-->
<!--                        <fieldset class="govuk-fieldset">-->
<!--                            <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;m">-->
<!--                                Outcome-->
<!--                            </legend>-->
<!--                            <select class="govuk-select" id="outcome" name="outcome">-->
<!--                                <option value="Imprisonment" selected>Imprisonment</option>-->
<!--                                <option value="Detained during HM Pleasure">Detained during HM Pleasure</option>-->
<!--                                <option value="Restriction order">Restriction order</option>-->
<!--                                <option value="Detention">Detention</option>-->
<!--                            </select>-->
<!--                    </div>-->
                    <a id="custodial-details-button" href="add-a-sentence.html" class="govuk-button" data-module="govuk-button">
                        Continue
                    </a>
                </form>
            </div>
        </div>
</div>
</main>
</div>
<script src="/public/javascripts/cases.js"></script>
{% endblock %}