{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 April 1987</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                <span class="govuk-caption-xl">Add a new case</span>
                Enter remand warrant details
            </h1>
            <!-- court name -->

            <!-- court reference -->

            <!--Hearing outcome-->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="outcome">
                    Overall case outcome
                </label>
                <select class="govuk-select" id="hearing-outcome" name="outcome">
                    <option value=""></option>
                    <option value="Remand in Custody (Bail Refused)">Remand before conviction</option>
                    <option value="Remand in Custody (Bail Refused)">Remand after conviction</option>
                    <option value="Remand in Custody (Bail Refused)">Discontinued</option>
                </select>
            </div>
            <!-- next hearing date -->
            <div class="govuk-form-group">
                <h2 class="govuk-heading-s">Do you have the date of the next court date?</h2>
                <!-- <p class="govuk-hint">This applies to offences that occur over multiple days.</p> -->
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offence-next-date" name="offence-next-date" type="radio" value="offence-end-date" data-aria-controls="conditional-next-date">
                        <label class="govuk-label govuk-radios__label" for="offence-next-date">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-next-date">
                        <div class="govuk-form-group">
                            <label class="govuk-heading-s" for="offence-end-date">
                                Next court date
                            </label>
                            <div id="offence-start-date" class="govuk-hint">
                                For example, 27 3 2007
                            </div>
                            <div class="govuk-date-input" id="offence-end-date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="offence-end-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="next-court-day" name="offence-end-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="offence-end-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="next-court-month" name="offence-end-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="offence-end-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="next-court-year" name="offence-end-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offence-next-date" name="offence-next-date" type="radio" value="offence-end-date">
                        <label class="govuk-label govuk-radios__label" for="offence-next-date">
                            No
                        </label>
                    </div>
                </div>
            </div>
            <!-- time -->
            <div class="govuk-form-group">
                <h2 class="govuk-heading-s">Is there a time for the next court date?</h2>
                <!-- <p class="govuk-hint">This applies to offences that occur over multiple days.</p> -->
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="court-time" name="offence-end-date" type="radio" value="offence-end-date" data-aria-controls="conditional-time">
                        <label class="govuk-label govuk-radios__label" for="court-time">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-time">
                        <div class="govuk-form-group">
                            <label class="govuk-heading-s" for="offence-end-date">
                                Time of next appearance
                            </label>
                            <div id="offence-start-date" class="govuk-hint">
                                For example, 13:00
                            </div>
                            <div class="govuk-date-input" id="offence-end-date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="offence-end-year">
                                            Time
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="next-court-time" name="offence-end-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="offence-end-date" name="offence-end-date" type="radio" value="offence-end-date">
                        <label class="govuk-label govuk-radios__label" for="offence-end-date">
                            No
                        </label>
                    </div>
                </div>
            </div>
            <a id="remand-details-button" href="" class="govuk-button">Continue</a>
        </div>
    </div>
</div>
<script src="/public/javascripts/cases.js"></script>
{% endblock %}