{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
            </div>
        </div>
    </div>
    <div class="">
        <a href="adjustments-dashboard-view-journey.html.html" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                        <div id="" class="">
                            <h1 class="govuk-heading-l">
                                <span class="govuk-caption-xl">Adjust release dates</span>
                               There has been a change
                            </h1>
                            <p>
                                Make sure you review the policy when entering the first and last day of UAL.
                            </p>
                        </div>
                    </div>
<!--                        <div class="govuk-grid-row">-->
<!--                            <div class="govuk-grid-column-full">-->
<!--                                <div class="govuk-grid-column-one-half">-->
<!--                                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Name-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                Sarah Philips-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Date of birth-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                5 January 1978-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Customer reference-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                Not provided-->
<!--                                            </dd>-->

<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Address-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                72 Guild Street<br>London<br>SE23 6FH-->
<!--                                            </dd>-->
<!--                                            <dd class="govuk-summary-list__actions">-->
<!--                                                <span class="govuk-tag">-->
<!--                                                    changed-->
<!--                                                </span>-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Contact details-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                <p class="govuk-body">07700 900457</p>-->
<!--                                                <p class="govuk-body">sarah.phillips@example.com</p>-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                    </dl>-->
<!--                                </div>-->
<!--                                <div class="govuk-grid-column-one-half">-->
<!--                                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Name-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                Sarah Philips-->
<!--                                            </dd>-->
<!--                                            <dd class="govuk-summary-list__actions">-->
<!--                                                <a class="govuk-link" href="#">-->
<!--                                                    Change<span class="govuk-visually-hidden"> name</span>-->
<!--                                                </a>-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Date of birth-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                5 January 1978-->
<!--                                            </dd>-->
<!--                                            <dd class="govuk-summary-list__actions">-->
<!--                                                <a class="govuk-link" href="#">-->
<!--                                                    Change<span class="govuk-visually-hidden"> date of birth</span>-->
<!--                                                </a>-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Customer reference-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                Not provided-->
<!--                                            </dd>-->
<!--                                            <dd class="govuk-summary-list__actions">-->
<!--                                                <a class="govuk-link" href="#">-->
<!--                                                    Change<span class="govuk-visually-hidden"> customer reference</span>-->
<!--                                                </a>-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Address-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                72 Guild Street<br>London<br>SE23 6FH-->
<!--                                            </dd>-->
<!--                                            <dd class="govuk-summary-list__actions">-->
<!--                                                <a class="govuk-link" href="#">-->
<!--                                                    Change<span class="govuk-visually-hidden"> address</span>-->
<!--                                                </a>-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                        <div class="govuk-summary-list__row">-->
<!--                                            <dt class="govuk-summary-list__key">-->
<!--                                                Contact details-->
<!--                                            </dt>-->
<!--                                            <dd class="govuk-summary-list__value">-->
<!--                                                <p class="govuk-body">07700 900457</p>-->
<!--                                                <p class="govuk-body">sarah.phillips@example.com</p>-->
<!--                                            </dd>-->
<!--                                            <dd class="govuk-summary-list__actions">-->
<!--                                                <a class="govuk-link" href="#">-->
<!--                                                    Change<span class="govuk-visually-hidden"> contact details</span>-->
<!--                                                </a>-->
<!--                                            </dd>-->
<!--                                        </div>-->
<!--                                    </dl>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                <div class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <table class="govuk-table">
                            <caption class="govuk-table__caption govuk-table__caption--m">Record has been updated</caption>
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header"></th>
                                <th scope="col" class="govuk-table__header">Original entry</th>
                                <th scope="col" class="govuk-table__header">New entry</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Type of UAL</th>
                                <td class="govuk-table__cell">Recall</td>
                                <td class="govuk-table__cell">Recall</td>

                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">First day</th>
                                <td class="govuk-table__cell">1 Jun 2022</td>
                                <td class="govuk-table__cell">2 Jun 2022</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Last day</th>
                                <td class="govuk-table__cell">6 Jun 2022</td>
                                <td class="govuk-table__cell">5 Jun 2022</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Entered by</th>
                                <td class="govuk-table__cell">Belmarsh</td>
                                <td class="govuk-table__cell">Belmarsh</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Number of days</th>
                                <td class="govuk-table__cell">5</td>
                                <td class="govuk-table__cell">3</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class=" govuk-!-margin-top-9">
                    <h2 class="govuk-heading-m">Calculate release dates</h2>
                    <p>The changes may affect the release date for Joe Bloggs </p>
                    <a href="crd.html" id="" class="govuk-button">
                        Calculate release dates
                    </a>
                </div>
                </div>

                </div>

        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments-3.js"></script>
{% endblock %}