{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
        </div>
    </div>
</div>
    <div id="DeleteTaggedBailPage" class="govuk-width-container">
        <a href="view-tagged-bail.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Delete Tagged Bail details</h1>
<!--                    <p>[Explainer].</p>-->
                    <h2 class="govuk-heading-m">Tagged Bail details</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                               Court
                            </dt>
                            <dd id="PeriodDate" class="govuk-summary-list__value">
                               12 Mar 2023 to 5 May 2023
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Days
                            </dt>
                            <dd id="PeriodDays" class="govuk-summary-list__value">
                                000
                            </dd>
                        </div>
                    </dl>
                    <div class="govuk-!-margin-bottom-6">
                        <h2 class="govuk-heading-m">Are you sure you want to delete the tagged bail?</h2>
                        <p>The remand time will be removed from the records. You will need to recalculate a prisoner’s release dates.</p>
                    </div>
                    <div class="govuk-button-group">
                        <a id="DeleteTaggedBail" href="index-deleted.html" class="govuk-button " data-module="govuk-button" data-journey="4">
                            Delete record
                        </a>
                        <a href="view-3.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}