{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
        </div>
    </div>
</div>
    <div class="">
        <a href="exit.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjust release dates</span>Remand details</h1>
                    <p></p>
                    <article class="moj-ticket-panel" aria-label="Sub navigation 1">

                        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">100 days</h2>

                        </section>

                    </article>


                    <div class="govuk-summary-card remand">
                        <div class="govuk-summary-card__title-wrapper ">
                            <h2 class="govuk-summary-card__title">From 23 Jan 2023 to 3 Mar 2023</h2>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="edit.html">
                                    Edit<span class="govuk-visually-hidden"> of University of Gloucestershire</span>
                                </a>
                                </li>
                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="delete.html">
                                    Delete<span class="govuk-visually-hidden"> from University of Gloucestershire</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Court name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Bristol Crown Court
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Offences
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <ul>
                                            <li>Attempted blackmail<br><span class="govuk-hint">Committed on 23 Jan 2023</span> </li>
                                        </ul>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Days
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        50
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="govuk-summary-card remand">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">From 23 Jan 2023 to 3 Mar 2023</h2>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="edit.html">
                                    Edit<span class="govuk-visually-hidden"> of University of Gloucestershire</span>
                                </a>
                                </li>
                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="delete.html">
                                    Delete<span class="govuk-visually-hidden"> from University of Gloucestershire</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Court name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Bristol Crown Court
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Offences
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <ul>
                                            <li>Attempted blackmail<br><span class="govuk-hint">Committed on 23 Jan 2023</span> </li>
                                            <li>Blackmail<br><span class="govuk-hint">Committed between 23 Jan 2023 and 2 Feb 2023</span> </li>
                                        </ul>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Days
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        50
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>


                    <a href="index-1.html" id="review-remand-button" class="govuk-button" data-module="govuk-button">
                        Add new
                    </a>

                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}