{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
        </div>
    </div>
</div>
    <a href="index.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-6">
            <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjust release dates</span>Remand details for Joe Bloggs</h1>
            <table  id="" class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Remand period</th>
                    <th class="govuk-table__header" scope="col">Case details</th>
                    <th class="govuk-table__header" scope="col">Days</th>
                    <th class="govuk-table__header" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                     From 2 Mar 2023 <br> to 7 Aug 2023
                    </td>
                    <td class="govuk-table__cell">
                        <table class="govuk-table">
                            <tr>
                                <th class="govuk-table__header" scope="col">Case reference</th>
                                <th class="govuk-table__header govuk-!-width-one-third" scope="col">Court name</th>
                                <th class="govuk-table__header govuk-!-width-one-third" scope="col">Offence</th>
                                <th class="govuk-table__header  " scope="col">Offence dates</th>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">
                                    3583998
                                </td>
                                <td class="govuk-table__cell">
                                    Birmingham crown court
                                </td>
                                <td class="govuk-table__cell">
                                    Sample of a really long offence name for testing
                                </td>
                                <td class="govuk-table__cell  ">
                                    15 May 2023
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    3584019
                                </td>
                                <td class="govuk-table__cell">
                                    Birmingham crown court
                                </td>
                                <td class="govuk-table__cell">
                                    Sample of a really long offence name for testing
                                </td>
                                <td class="govuk-table__cell  ">
                                    12 Jan 2023
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    3584030
                                </td>
                                <td class="govuk-table__cell">
                                    Birmingham crown court
                                </td>
                                <td class="govuk-table__cell">
                                    Sample of a really long offence name for testing
                                </td>

                                <td class="govuk-table__cell  ">
                                    12 Jan 2023
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="govuk-table__cell">
                        120
                    </td>
                    <td class="govuk-table__cell">
                        <a href="edit.html">Edit </a>
                        <a href="delete.html">Delete</a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        2 Mar 2023 - 7 Aug 2023
                    </td>
                    <td class="govuk-table__cell">
                        <table class="govuk-table">
                            <tr>
                                <th class="govuk-table__header" scope="col">Case reference</th>
                                <th class="govuk-table__header govuk-!-width-one-third" scope="col">Court</th>
                                <th class="govuk-table__header govuk-!-width-one-third" scope="col">Offence</th>
                                <th class="govuk-table__header  " scope="col">Offence dates</th>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">
                                    3583998
                                </td>

                                <td class="govuk-table__cell">
                                    Birmingham crown court
                                </td>
                                <td class="govuk-table__cell">
                                    Sample of a really long offence name for testing
                                </td>
                                <td class="govuk-table__cell  ">
                                    12 Jan 2023
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    3584019
                                </td>
                                <td class="govuk-table__cell">
                                    Birmingham crown court
                                </td>
                                <td class="govuk-table__cell">
                                    Sample of a really long offence name for testing
                                </td>
                                <td class="govuk-table__cell  ">
                                    12 Jan 2023
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    3584030
                                </td>
                                <td class="govuk-table__cell">
                                    Birmingham crown court
                                </td>
                                <td class="govuk-table__cell">
                                    Sample of a really long offence name for testing
                                </td>
                                <td class="govuk-table__cell  ">
                                    12 Jan 2023
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="govuk-table__cell">
                        120
                    </td>
                    <td class="govuk-table__cell">
                        <a href="edit.html">Edit </a>
                        <a href="delete.html">Delete</a>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-!-text-align-left" scope="row" colspan="2">Total </th>
                    <td class="govuk-table__cell govuk-!-text-align-right">120</td>
                    <td class="govuk-table__cell govuk-!-text-align-right" colspan="2"></td>
                </tr>
                </tfoot>
            </table>
            <div class="govuk-!-margin-bottom-6">
                <a href="enter-remand.html" class="govuk-button" data-module="govuk-button">
                    Add new
                </a>
            </div>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}