{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>A8207AA</span>
        </div>
    </div>
</div>
    <a href="select-adjustment-type.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-top-6">

                <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustment release dates</span>Check remand details for Joe Bloggs</h1>

                <p class="govuk-!-margin-bottom-8">Based on the court case information in NOMIS, the following remand has been counted as relevant remand.

                    The rules for applying remand time can be found in <a href="#">the policy framework</a>.</p>
<!--hide this until we know what we are doing-->
<!--            <div class="govuk-inset-text">-->
<!--                Farmer create agricultural charge remove property subject to charge from holding.-->
<!--            </div>-->
            <article class="moj-ticket-panel govuk-!-margin-bottom-8" aria-label="Sub navigation 1">

                <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">

                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Calculated remand days summary</caption>

                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">From</th>
                            <td class="govuk-table__cell">1 Feb 2018</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">To</th>
                            <td class="govuk-table__cell">17 Feb 2018</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Days</th>
                            <td class="govuk-table__cell">11</td>
                        </tr>
<!--                        <tr class="govuk-table__row">-->
<!--                            <th scope="row" class="govuk-table__header">Applies to</th>-->
<!--                            <td class="govuk-table__cell">Offence name</td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </section>

            </article>
            <h2 class="govuk-heading-m">Details</h2>
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Remand periods identified from court events</th>
                        <th class="govuk-table__header" scope="col">Days</th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <span class="govuk-!-padding-top-3"><b>Court case number: T1000000</b></span><br>
                            <span>Court : Wolverhampton crown court</span><br>
                            <span>Case outcome : Bailed</span><br>
                            <span class="govuk-hint">From 1 Feb 2018 - 05 Feb 2018</span><br>
                            <ul class="govuk-list">
                                <li>Attempted burglary</li>
<!--                                <li>Possess a firearm without a certificate on 1 Feb 2018</li>-->
<!--                                <li>Possess knife blade or sharp pointed article on 1 Feb 2018</li>-->
                            </ul>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell"></br>5</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <span class="govuk-!-padding-top-3"><b>Court case number: T1000000</b></span><br>
                            <span>Court : Wolverhampton crown court</span><br>
                            <span>Case outcome : Sentencing</span><br>
                            <span class="govuk-hint">From 12 Feb 2018 - 17 Feb 2018</span><br>
                            <ul class="govuk-list">
                                <li>Attempted burglary</li>
                            </ul>
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell"></br>6</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <span class="govuk-!-padding-top-3"><b>Court case number: T1000300</b></span><br>
                            <span>Court : Wolverhampton crown court</span><br>
                            <span>Case outcome : Sentencing</span><br>
                            <span class="govuk-hint">From 12 Feb 2018 - 17 Feb 2018</span><br>
                            <ul class="govuk-list">
                                <li>Assualt by beating</li>
                            </ul>

                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell"><br>6</td>

                    </tr>

                    </tbody>
                </table>
            <div>

            </div>

<!--            <div class="govuk-form-group">-->
<!--                <fieldset class="govuk-fieldset">-->

<!--                        <h2 class="govuk-heading-m">-->
<!--                            Next steps-->
<!--                        </h2>-->

<!--                    <div class="govuk-radios govuk-radios&#45;&#45;small" data-module="govuk-radios">-->
<!--                        <div class="govuk-radios__item">-->
<!--                            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">-->
<!--                            <label class="govuk-label govuk-radios__label" for="changed-name">-->
<!--                                Approve remand-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="govuk-radios__item">-->
<!--                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">-->
<!--                            <label class="govuk-label govuk-radios__label" for="changed-name-2">-->
<!--                                Do not approve remand and return to hub-->
<!--                            </label>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </fieldset>-->
<!--            </div>-->

                <a href="hub-9-a.html" class="govuk-button" data-module="govuk-button">
                    Accept and save
                </a>
                <a href="hub-9.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                </a>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}