{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="govuk-width-container">
    <div class="moj-identity-bar">
    <div class="moj-identity-bar__container govuk-!-margin-left-0">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
        </div>
    </div>
</div>
    <a href="prisoner-search.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        There may be other periods of remand you need to consider
                        <a class="govuk-notification-banner__link" href="#">View details</a>.
                    </p>
                </div>
            </div>
                <h1 class="govuk-heading-l">Adjustments</h1>
                <h3 class="govuk-heading-m">Remand</h3>
                <p>The adjustments have been calculated based on the information in NOMIS.
                    The rules for applying remand time can be found in <a href="#">the policy framework</a>.</p>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                        <span>Dates: </span>
                        <p>dates: 20 mar 2022 to 23 march 2022</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Sarah Philips
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        5 January 1978
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> date of birth</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        72 Guild Street<br>London<br>SE23 6FH
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> address</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">07700 900457</p>
                        <p class="govuk-body">sarah.phillips@example.com</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> contact details</span>
                        </a>
                    </dd>
                </div>
            </dl>
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Details</th>
                        <th class="govuk-table__header" scope="col">Days</th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <b>case ref</b>: T1000000<br>
                            offence name<br>
                            From 1 February 2018 to 5 February 2018
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell"></br>5</td>
                        <!-- Change -->
                        <td class="govuk-table__cell"><a href="edit">Update</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">
                            <b>case ref</b>: T1000000<br>
                            offence name<br>
                            From 1 February 2018 to 5 February 2018
                        </td>
                        <!-- Days -->
                        <td class="govuk-table__cell">5</td>
                        <!-- Change -->
                        <td class="govuk-table__cell"><a href="edit">Update</a></td>
                    </tr>
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">5
                        </td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    </tbody>
                </table>
            <div>

            </div>
                <h3 class="govuk-heading-m">Check back records before applying remand</h3>
                <p> Some remand time may not be recorded on NOMIS.
                    Remember to check other sources such as back records before applying the remand.
                </p>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                            I have checked other sources
                        </label>
                    </div>
                </div>
                </fieldset>
            </div>

                <a href="confirmation.html" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </a>

        </div>
    </div>
</div>

<script src="/public/javascripts/cases.js"></script>
{% endblock %}