{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="outcome" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Check your answers</h1>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Court
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['court-name'] }} 
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> court</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Court date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['court-date-day'] }} {{ data['court-date-month'] }} {{ data['court-date-year'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> licence type</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Court case reference number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['court-case-reference'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> home address</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Hearing type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['hearing-type'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> licence period</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Outcome code
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['outcome'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> licence period</span>
                            </a>
                        </dd>
                    </div>
                </dl>
                <form class="form" action="success">
                    <button class="govuk-button" data-module="govuk-button">
                        Confirm and add court case
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}