\{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="court-case-reference-number" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="form" action="outcome">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    What type of hearing was it?
                                </h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Trial" name="hearing-type" type="radio" value="Trial">
                                    <label class="govuk-label govuk-radios__label" for="Trial">
                                        Trial
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Newton hearing" name="hearing-type" type="radio" value="Newton hearing">
                                    <label class="govuk-label govuk-radios__label" for="Newton hearing">
                                        Newton hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Cracked case" name="hearing-type" type="radio" value="Cracked case">
                                    <label class="govuk-label govuk-radios__label" for="Cracked case">
                                        Cracked case
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Committal for sentence" name="hearing-type" type="radio" value="Committal for sentence">
                                    <label class="govuk-label govuk-radios__label" for="Committal for sentence">
                                        Committal for sentence
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Committal for breach" name="hearing-type" type="radio" value="Committal for breach">
                                    <label class="govuk-label govuk-radios__label" for="Committal for breach">
                                        Committal for breach
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Trial stood out/ trial stood out on application" name="hearing-type" type="radio" value="Trial stood out/ trial stood out on application">
                                    <label class="govuk-label govuk-radios__label" for="Trial stood out/ trial stood out on application">
                                        Trial stood out/ trial stood out on application
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Plea hearing" name="hearing-type" type="radio" value="Plea hearing">
                                    <label class="govuk-label govuk-radios__label" for="Plea hearing">
                                        Plea hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Plea and case management hearing" name="hearing-type" type="radio" value="Plea and case management hearing">
                                    <label class="govuk-label govuk-radios__label" for="Plea and case management hearing">
                                        Plea and case management hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Sentence hearing" name="hearing-type" type="radio" value="Sentence hearing">
                                    <label class="govuk-label govuk-radios__label" for="Sentence hearing">
                                        Sentence hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Bail application hearing" name="hearing-type" type="radio" value="Bail application hearing">
                                    <label class="govuk-label govuk-radios__label" for="Bail application hearing">
                                        Bail application hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Abuse of process hearing - whole day" name="hearing-type" type="radio" value="Abuse of process hearing - whole day">
                                    <label class="govuk-label govuk-radios__label" for="Abuse of process hearing - whole day">
                                        Abuse of process hearing - whole day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Abuse of process hearing - half day" name="hearing-type" type="radio" value="Abuse of process hearing - half day">
                                    <label class="govuk-label govuk-radios__label" for="Abuse of process hearing - half day">
                                        Abuse of process hearing - half day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Appeal against conviction" name="hearing-type" type="radio" value="Appeal against conviction">
                                    <label class="govuk-label govuk-radios__label" for="Appeal against conviction">
                                        Appeal against conviction
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Appeal against sentence" name="hearing-type" type="radio" value="Appeal against sentence">
                                    <label class="govuk-label govuk-radios__label" for="Appeal against sentence">
                                        Appeal against sentence
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Deferred sentence" name="hearing-type" type="radio" value="Deferred sentence">
                                    <label class="govuk-label govuk-radios__label" for="Deferred sentence">
                                        Deferred sentence
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Drug trafficking and confiscation hearing/sentence hearing" name="hearing-type" type="radio" value="Drug trafficking and confiscation hearing/sentence hearing">
                                    <label class="govuk-label govuk-radios__label" for="Drug trafficking and confiscation hearing/sentence hearing">
                                        Drug trafficking and confiscation hearing/sentence hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Contempt hearing" name="hearing-type" type="radio" value="Contempt hearing">
                                    <label class="govuk-label govuk-radios__label" for="Contempt hearing">
                                        Contempt hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Admissibility of evidence - whole day" name="hearing-type" type="radio" value="Admissibility of evidence - whole day">
                                    <label class="govuk-label govuk-radios__label" for="Admissibility of evidence - whole day">
                                        Admissibility of evidence - whole day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Admissibility of evidence - half day" name="hearing-type" type="radio" value="Admissibility of evidence - half day">
                                    <label class="govuk-label govuk-radios__label" for="Admissibility of evidence - half day">
                                        Admissibility of evidence - half day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Hearing relating to disclosure -whole day" name="hearing-type" type="radio" value="Hearing relating to disclosure -whole day">
                                    <label class="govuk-label govuk-radios__label" for="Hearing relating to disclosure -whole day">
                                        Hearing relating to disclosure - whole day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Hearing relating to disclosure - half day" name="hearing-type" type="radio" value="Hearing relating to disclosure - half day">
                                    <label class="govuk-label govuk-radios__label" for="Hearing relating to disclosure - half day">
                                        Hearing relating to disclosure - half day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Public Interest Immunity Hearing" name="hearing-type" type="radio" value="Public Interest Immunity Hearing">
                                    <label class="govuk-label govuk-radios__label" for="Public Interest Immunity Hearing">
                                        Public Interest Immunity Hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Proceeds of Crime- half day/whole day" name="hearing-type" type="radio" value="Proceeds of Crime- half day/whole day">
                                    <label class="govuk-label govuk-radios__label" for="Proceeds of Crime- half day/whole day">
                                        Proceeds of Crime - half day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Proceeds of Crime- half day/whole day" name="hearing-type" type="radio" value="Proceeds of Crime- half day/whole day">
                                    <label class="govuk-label govuk-radios__label" for="Proceeds of Crime- half day/whole day">
                                        Proceeds of Crime - whole day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Bail application hearing" name="hearing-type" type="radio" value="Bail application hearing">
                                    <label class="govuk-label govuk-radios__label" for="Bail application hearing">
                                        Bail application hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Bench warrant issued - not listed for trial" name="hearing-type" type="radio" value="Bench warrant issued - not listed for trial">
                                    <label class="govuk-label govuk-radios__label" for="Bench warrant issued - not listed for trial">
                                        Bench warrant issued - not listed for trial
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Bench warrant issued - listed for trial" name="hearing-type" type="radio" value="Bench warrant issued - listed for trial">
                                    <label class="govuk-label govuk-radios__label" for="Bench warrant issued - listed for trial">
                                        Bench warrant issued - listed for trial
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Bench warrant executed" name="hearing-type" type="radio" value="Bench warrant executed">
                                    <label class="govuk-label govuk-radios__label" for="Bench warrant executed">
                                        Bench warrant executed
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Custody time limit application" name="hearing-type" type="radio" value="Custody time limit application">
                                    <label class="govuk-label govuk-radios__label" for="Custody time limit application">
                                        Custody time limit application
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Discontinued" name="hearing-type" type="radio" value="Discontinued">
                                    <label class="govuk-label govuk-radios__label" for="Discontinued">
                                        Discontinued
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Human Rights Application" name="hearing-type" type="radio" value="Human Rights Application">
                                    <label class="govuk-label govuk-radios__label" for="Human Rights Application">
                                        Human Rights Application
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="applications" name="hearing-type" type="radio" value="Applications">
                                    <label class="govuk-label govuk-radios__label" for="applications">
                                        Applications
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Plea and directions hearing" name="hearing-type" type="radio" value="Plea and directions hearing">
                                    <label class="govuk-label govuk-radios__label" for="Plea and directions hearing">
                                        Plea and directions hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Trial stood out by Judge" name="hearing-type" type="radio" value="Trial stood out by Judge">
                                    <label class="govuk-label govuk-radios__label" for="Trial stood out by Judge">
                                        Trial stood out by Judge
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Unfit to plead" name="hearing-type" type="radio" value="Unfit to plead">
                                    <label class="govuk-label govuk-radios__label" for="Unfit to plead">
                                        Unfit to plead
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Cracked case discontinued" name="hearing-type" type="radio" value="Cracked case discontinued">
                                    <label class="govuk-label govuk-radios__label" for="Cracked case discontinued">
                                        Cracked case discontinued
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Preliminary hearing" name="Phearing-type" type="radio" value="Preliminary hearing">
                                    <label class="govuk-label govuk-radios__label" for="Preliminary hearing">
                                        Preliminary hearing
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Application to dismiss a charge - half day" name="hearing-type" type="radio" value="Application to dismiss a charge - half day">
                                    <label class="govuk-label govuk-radios__label" for="Application to dismiss a charge - half day">
                                        Application to dismiss a charge - half day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Application to dismiss a charge - whole day" name="hearing-type" type="radio" value="Application to dismiss a charge - whole day">
                                    <label class="govuk-label govuk-radios__label" for="Application to dismiss a charge - whole day">
                                        Application to dismiss a charge - whole day
                                    </label></div>
                                <div class="govuk-radios__item"><input class="govuk-radios__input" id="Paper plea and case management" name="hearing-type" type="radio" value="Paper plea and case management">
                                    <label class="govuk-label govuk-radios__label" for="Paper plea and case management">
                                        Paper plea and case management
                                    </label></div>
                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}