{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="../court-cases" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <!--             <aside>
                <div class="govuk-grid-column-one-quarter">
                    <div class="nhsuk-card">
                        <div class="nhsuk-card__content">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                                Prisoner details
                            </h2>
                            <span class="govuk-body govuk-!-font-weight-bold">Name</span>
                            <p class="govuk-body">Jordan Harrison</p>
                            <span class="govuk-body govuk-!-font-weight-bold">Date of birth</span>
                            <p class="govuk-body">20 July 1984</p>
                            <span class="govuk-body govuk-!-font-weight-bold">Prison number</span>
                            <p class="govuk-body">A5264VA</p>
                        </div>
                    </div>
                    <div class="nhsuk-card">
                        <div class="nhsuk-card__content">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                                Court case
                            </h2>
                            <span class="govuk-body govuk-!-font-weight-bold">Court</span>
                            <p class="govuk-body">Leeds Magistrates Court</p>
                            <span class="govuk-body govuk-!-font-weight-bold">Court case number</span>
                            <p class="govuk-body">132200383671</p>
                            <span class="govuk-body govuk-!-font-weight-bold">Court date</span>
                            <p class="govuk-body">20 June 2022</p>
                        </div>
                    </div>
                </div>
            </aside> -->
            <div class="govuk-grid-column-three-quarters">
                <form class="form" action="type-of-document-selected" method="post">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What type of court document are you adding?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="type-of-document-1" name="type-of-document" type="radio" value="remand-warrant">
                                <label class="govuk-label govuk-radios__label" for="type-of-document-1">
                                    Remand warrant
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="type-of-document-2" name="type-of-document" type="radio" value="warrant-for-custodial-sentence">
                                <label class="govuk-label govuk-radios__label" for="type-of-document-2">
                                    Warrant for custodial sentence </label>
                                <div class="govuk-hint govuk-radios__hint">
                                    This can also be called an Order for Imprisonment
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="type-of-document-3" name="type-of-document" type="radio" value="indictment">
                                <label class="govuk-label govuk-radios__label" for="type-of-document-3">
                                    Indictment
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}