{% extends "version-1/dps/includes/template-masthead.html" %}
{% block beforeContent %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="moj-width-container dwf-masthead">
        <h1 class="govuk-heading-xl govuk-!-font-size-80"> Adjustments prototypes</h1>
    </div>
</div>
{% endblock%}
{% block content %}
<div class="govuk-!-padding-top-6">
    <h2 class="govuk-heading-m">Introduction</h2>
    <p>
        We are designing a service for OMU staff to enter adjustments.
    </p>
    <h2 class="govuk-heading-m">Hypothesis</h2>
    <p>
        Our design hypothesis was that creating a digital service for OMU staff  to enter adjustments would improve efficiency and
        data accuracy and that that by working out periods of remand  using system data would remove some the complexity save time
        and improve accuracy of data recorded.
    </p>
</div>

{% endblock %}