{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Adjustments prototypes
            </h1>
            <p>Design iterations. You can find usability testing log <a href="index.html" class="govuk-link">here</a>.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <ul class="govuk-list pt-list">
                <li class="pt-item">
                    <div>
                        <h2>Design 1</h2>
                        <ul>
                            <li>
                                <div>
                                    <h3>Version 1</h3>
                                    <p>Happy path adding remand using data from NOMIS <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/1/prisoner-search" class="govuk-link">View</a> </p>
                                    <p>Happy path adding remand using data from NOMIS including edit cta <a href="" class="govuk-link">View</a> </p>
                                    <p>Happy path adding remand using data from NOMIS including edit cta  exploring use of notifications to alert users to potential issues or information<a href="" class="govuk-link">View</a> </p>
                                    <p>Happy path adding remand using data from NOMIS including edit cta amended design using a summary component<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/3/adjustments-summary" class="govuk-link">View</a> </p>
                                    <h3>Version 2</h3>
                                    <p>adding multiple adjustments introduced radio button selection list to navigate the different types of addjustments<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/2/prisoner-search" class="govuk-link">view</a></p>
                                    <p><span class="govuk-tag">tested with users</span><br>Using summary cards to navigate the different types of adjustments<a href="" class="govuk-link">view</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="pt-item">
                    <div>
                        <h2>Design 2</h2>
                        <ul>
                            <li>
                                <div>
                                    <h3>Version 1</h3>
                                    <p> <span class="govuk-tag">tested with users</span> <br>adding ADA's, RADA's and UAL with a adjustment basket</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="pt-item">
                    <div>
                        <h2>Design 3</h2>
                        <p>Further exploration of using a hub to navigate between and summarise the amount of adjustements. Testing the transition between the adjusments and calculate release dates services. Explore the use of a landing page for all services</p>
                        <ul>
                            <li>
                                <div>
                                    <h3>Adjustments hub design exploration</h3>
                                    <ul>
                                        <li>overall adjustments table with summary per adjustment <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-2" class="govuk-link"> View</a></li>
                                        <li>hub designs add CTA to header <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                                        <li>using colour <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-8" class="govuk-link"> View</a></li>
                                        <li>summary cards with CTA's <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-6" class="govuk-link"> View</a></li>
                                        <li>width change with summary aside<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-5" class="govuk-link"> View</a></li>
                                        <li>Simplified design focusing on counts<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                                    </ul>
                                    <h3>Adding service start page</h3>
                                    <h3>Add start point start page</h3>
                                    <p><span class="govuk-tag">tested with users</span> <br>Added a new start point for digital warrant folder <a href="" class="govuk-link">View</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}