{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Adjustments prototypes
            </h1>
            <p>Design iterations. You can find usability testing log <a href="index.html" class="govuk-link">here</a>.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <ul class="govuk-list pt-list">
                <li class="pt-item">
                    <div class="govuk-body">
                        <h2>Design 1</h2>
                                <div>
                                    <p>Designing the playback of results from the remand calculatiolns tool</p>
                                    <h4>Design concepts</h4>

                                    <p>Visualising remand calculation play back, exploring adding a CTA for users to edit data.
                                        <a
                                                href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/1/prisoner-details-2"
                                                class="govuk-link">View
                                        </a>
                                    </p>
                                    <p>Visualising remand calculation play back, exploring adding a CTA for users to edit data. Adding a notification for supporting information
                                        <a
                                                href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/1/prisoner-details-4"
                                                class="govuk-link">View
                                        </a>
                                    </p>
                                    <p>Adding multiple adjustments introduced radio button selection list to navigate the different types of adjustments
                                        <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/2/select-adjustment-type" class="govuk-link">
                                            view
                                        </a>
                                    </p>
                                    <p>Visualising remand calculation play back.
                                        <a
                                                href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/1/prisoner-details"
                                                class="govuk-link">View
                                        </a>
                                    </p>
                                    <h3>Testing</h3>

                                    <p>
                                       Journey
                                        <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/2/prisoner-search" class="govuk-link">view
                                        </a>
                                    </p>
                                </div>
                    </div>
                </li>
                <li class="pt-item">
                    <div>
                        <h2>Design 2</h2>
                        <p>Building on from the remand tool we added 3 further adjustment types. Multiple adjustments can now be added with opportunities to check for accuracy </p>
                        <h3>Design</h3>
                        <p>UAL capture page
                            <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/6/ual"
                               class="govuk-link">view</a>
                        </p>
                        <p>ADA capture page
                            <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/6/ada"
                               class="govuk-link">view</a>
                        </p>
                        <p>RADA capture page
                            <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/6/rada"
                               class="govuk-link">view</a>
                        </p>
                        <h3>Testing</h3>
                        <p> Adding ADA's, RADA's and UAL with a adjustment basket
                            <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/6/prisoner-search" class="govuk-link">view</a></p>
                    </div>
                </li>
                <li class="pt-item">
                    <div>
                        <h2>Design 3</h2>
                        <p>Further exploration of using a hub to navigate between and summarise the amount of adjustements. Testing the transition between the adjusments and calculate release dates services. Explore the use of a landing page for all services</p>
                        <div>
                            <h3>Adjustments hub design exploration</h3>
                            <ul>
                                <li>overall adjustments table with summary per adjustment <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-2" class="govuk-link"> View</a></li>
                                <li>hub designs add CTA to header <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                                <li>using colour <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-8" class="govuk-link"> View</a></li>
                                <li>summary cards with CTA's <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-6" class="govuk-link"> View</a></li>
                                <li>width change with summary aside<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-5" class="govuk-link"> View</a></li>
                                <li>Simplified design focusing on counts<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                            </ul>
                            <h3>Testing</h3>
                            <p>Added a new start point for digital warrant folder <a href="" class="govuk-link">view</a></p>
                        </div>
                    </div>
                </li>
                <li class="pt-item">
                    <div>
                        <h2>Design 4</h2>
                        <p>Further exploration of using a hub to navigate between and summarise the amount of adjustements. Testing the transition between the adjusments and calculate release dates services. Explore the use of a landing page for all services</p>
                        <div>
                            <h3>Adjustments hub design exploration</h3>
                            <ul>
                                <li>overall adjustments table with summary per adjustment <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-2" class="govuk-link"> View</a></li>
                                <li>hub designs add CTA to header <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                                <li>using colour <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-8" class="govuk-link"> View</a></li>
                                <li>summary cards with CTA's <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-6" class="govuk-link"> View</a></li>
                                <li>width change with summary aside<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-5" class="govuk-link"> View</a></li>
                                <li>Simplified design focusing on counts<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                            </ul>
                            <h3>Testing</h3>
                            <p>Added a new start point for digital warrant folder
                                <a href="" class="govuk-link">view</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}