{% extends "version-1/dps/includes/template-masthead.html" %}
{% block beforeContent %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="moj-width-container dwf-masthead">
        <h1 class="govuk-heading-xl govuk-!-font-size-80"> Adjustments prototypes</h1>
    </div>
</div>
{% endblock%}
{% block content %}
<div class="govuk-!-padding-top-6 govuk-body">
    <h2 class="govuk-heading-m"><span class="govuk-caption-m">Further iterations of remand tool</span>Round 4</h2>
    <h3 class="govuk-heading-s">What we did</h3>
    <ul>
        <li>Iteration of remand tool  - <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/10/prisoner-details-5" class="govuk-link"> View
        </a>
            <ul>
                <li>changed the orientation of the summary table to accommodate multiple records</li>
                <li>Introduced the ability for users to reject the calculation
                </li>
            </ul>

        </li>
        <li>Further iteration of data entry pages so the number of days is pre populated once the user has entered both to and from dates
            <ul>
                <li><a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/10/remand" class="govuk-link"> Remand</a></li>
                <li><a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/10/ual" class="govuk-link"> UAL</a></li>
            </ul>
        </li>
        <li>Promoted review remand to a feature with its own content and high level CTA
            <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/10/hub-9" class="govuk-link"> View</a></li>
        <li>Introduced a journey allowing users to reject the calculation from the remand tool <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/10/prisoner-details-5" class="govuk-link"> View</a></li>
    </ul>
    <h3 class="govuk-heading-s">Testing</h3>
    <p>Added a new start point for digital warrant folder
        <a href="" class="govuk-link">view</a>
    </p>
</div>

<div>
    <h3>Designs</h3>

</div>
{% endblock %}