{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Adjustments prototypes
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 1</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <p>1. Providing a system for user to enter adjustments data based on the adjustment type</p>
                <p>2. Displaying results of remand days calculation based on data available in NOMIS.
                    <br>
                    <a href="" class="govuk-link">
                        view prototype
                    </a>
                </p>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Research and findings
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users requested a better way to illustrate relationships between cases</li>
                            <li>Users needed more information about the offences (dates and outcomes)</li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Design concepts
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users requested a better way to illustrate relationships between cases</li>
                            <li>Users needed more information about the offences (dates and outcomes)</li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
            </div>
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 2</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <p>1. Adding UAL/RADA/ADA</p>
                <p>1. Concept testing of hub pattern</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Research and findings
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users expected days to be pre populated</li>
                            <li>Users requested ability to add multiple adjudication numbers</li>
                            <li>Users requested ability to add consec and concurrent </li>
                            <li>Users identified the need to see inactive remand periods </li>
                            <li>Users found the hub more useful than radio buttons </li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764547622333998&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
            </div>
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 3</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <p>1. iteration of remand breakdown</p>
                <p>1. Transition from adjustments service to calculate release sates</p>
                <p>1. Iteration of hub pattern</p>
                <p>1. Introduced a service start page</p>
                <p>1. Introduced a service start page</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Research and findings
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users requested a better way to illustrate relationships between cases</li>
                            <li>Users needed more information about the offences (dates and outcomes)</li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
            </div>
            <p></p>
            <ul class="govuk-list pt-list">
                <li class="pt-item">
                    <div>
                        <h2>Design 1</h2>
                        <ul>
                            <li>
                                <div>
                                    <h3>Design  1</h3>
                                    <p>Happy path adding remand using data from NOMIS <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/1/prisoner-search" class="govuk-link">View</a> </p>
                                    <p>Happy path adding remand using data from NOMIS including edit cta <a href="" class="govuk-link">View</a> </p>
                                    <p>Happy path adding remand using data from NOMIS including edit cta  exploring use of notifications to alert users to potential issues or information<a href="" class="govuk-link">View</a> </p>
                                    <p>Happy path adding remand using data from NOMIS including edit cta amended design using a summary component<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/3/adjustments-summary" class="govuk-link">View</a> </p>
                                    <h3>version 2</h3>
                                    <p>adding multiple adjustments introduced radio button selection list to navigate the different types of addjustments<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/2/prisoner-search" class="govuk-link">view</a></p>
                                    <p><span class="govuk-tag">tested with users</span>Using summary cards to navigate the different types of adjustments<a href="" class="govuk-link">view</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="pt-item">
                    <div>
                        <h2>Design 2</h2>
                        <ul>
                            <li>
                                <div>
                                    <h3>Design 1</h3>
                                    <p> <span class="govuk-tag">tested with users</span> adding ADA's, RADA's and UAL with a adjustment basket</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="pt-item">
                    <div>
                        <h2>Version 3</h2>
                        <p>Further exploration of using the a hub to navigate between and summarise the amount of adjustements. Testing the transition between the adjusments and calculate release dates services. Explore the use of a landing page for all services</p>
                        <ul>
                            <li>
                                <div>
                                    <h3>Adjustments hub design exploration</h3>
                                    <ul>
                                        <li>overall adjustments table with summary per adjustment <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-2" class="govuk-link"> View</a></li>
                                        <li>hub designs add CTA to haeder <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                                        <li>using colour <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-8" class="govuk-link"> View</a></li>
                                        <li>summary cards with CTA's <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-6" class="govuk-link"> View</a></li>
                                        <li>width change with summary aside<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-5" class="govuk-link"> View</a></li>
                                        <li>Simplified design focusing on counts<a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/8/hub-9" class="govuk-link"> View</a></li>
                                    </ul>
                                    <h3>Adding service start page</h3>
                                    <h3>Add start point start page</h3>
                                    <p><span class="govuk-tag">tested with users</span> Added a new start point for digital warrant folder <a href="" class="govuk-link">View</a></p>
                                    <h3>Testing</h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}