{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="../index.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Adjustments prototypes
            </h1>
            <p>Details of usability testing for the adjustment service you can find design Iterations <a href="designs.html" class="govuk-link">here</a>.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="round-card govuk-body">
                <h2 class="govuk-heading-l">Round 1</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <ul class="govuk-list govuk-list--number">
                    <li>Providing a system for user to enter adjustments data based on the adjustment type</li>
                    <li>Displaying results of remand days calculation based on data available in NOMIS.</li>
                </ul>
                <h3 class="govuk-heading-m">What did we found out</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Users requested a better way to illustrate relationships between cases</li>
                    <li>Users needed more information about the offences (dates and outcomes)</li>
                </ul>
                <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link">Research playback board</a>

            </div>
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 2</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <ul class="govuk-list govuk-list--number">
                    <li>Journey for adding ADA's</li>
                    <li>Journey for adding RADA's</li>
                    <li>Journey for adding UAL's</li>
                    <li>Soft testing of hub concept</li>
                    <li>Iteration of remand calculation tool
                        <ul class="gov-uk-list">
                            <li>grouping by date</li>
                            <li>Add offence dates</li>
                            <li>Include offence out come</li>
                        </ul>
                    </li>
                </ul>

                <h3 class="govuk-heading-m">What we found</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Users expected days to be pre populated</li>
                    <li>Users requested ability to add multiple adjudication numbers</li>
                    <li>Users requested ability to add consec and concurrent</li>
                    <li>Users identified the need to see inactive remand periods</li>
                    <li>Users found the hub more useful than radio buttons</li>
                </ul>
                <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link">Research playback board</a>
            </div>
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 3</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <ul class="govuk-list govuk-list--number">
                    <li>Iteration of remand breakdown</li>
                    <li>Transition from adjustments service to calculate release dates</li>
                    <li>Iteration of hub pattern</li>
                    <li>Introduced a service start page</li>
                    <li>Introduced a service start page</li>
                </ul>
                <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/9/crd-hub" class="govuk-list">view prototype</a>
              <h3 class="govuk-heading-m">What did we found</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Users requested a better way to illustrate relationships between cases</li>
                    <li>Users needed more information about the offences (dates and outcomes)</li>
                </ul>
                <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-list">Research plack board</a>
            </div>
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 4</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <ul class="govuk-list govuk-list--number">
                    <li>Iteration of remand breakdown</li>
                    <li>Reject remand calculation</li>

                </ul>
                <a href="https://sentence-and-offence-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/adjustments/10/hub-9" class="govuk-list">view prototype</a>
                <h3 class="govuk-heading-m">What did we found</h3>
                <ul class="govuk-list govuk-list--bullet">
<!--                    <li>Users requested a better way to illustrate relationships between cases</li>-->
<!--                    <li>Users needed more information about the offences (dates and outcomes)</li>-->
                </ul>
                <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-list">Research plack board</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}