{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Adjustments prototypes
            </h1>
            <p>Details of usability testing for the adjustment service you can find design Iterations <a href="designs.html" class="govuk-link">here</a>.</p>
        </div>
    </div>

    <a class="govuk-link" href="index-alpha.html">Alpha prototypes</a>
    <br>
    <a class="govuk-link" href="beta/index.html">Beta prototypes</a>

</div>
{% endblock %}