{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Adjustments prototypes
            </h1>
            <p>Details of usability testing for the adjustment service you can find design Iterations <a href="designs.html" class="govuk-link">here</a>.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 1</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <p>1. Providing a system for user to enter adjustments data based on the adjustment type</p>
                <p>2. Displaying results of remand days calculation based on data available in NOMIS.
                    <br>
                    <a href="" class="govuk-link">
                        view prototype
                    </a>
                </p>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Research and findings
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users requested a better way to illustrate relationships between cases</li>
                            <li>Users needed more information about the offences (dates and outcomes)</li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Design concepts
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users requested a better way to illustrate relationships between cases</li>
                            <li>Users needed more information about the offences (dates and outcomes)</li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
            </div>
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 2</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <p>1. Adding UAL/RADA/ADA</p>
                <p>1. Concept testing of hub pattern</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Research and findings
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users expected days to be pre populated</li>
                            <li>Users requested ability to add multiple adjudication numbers</li>
                            <li>Users requested ability to add consec and concurrent </li>
                            <li>Users identified the need to see inactive remand periods </li>
                            <li>Users found the hub more useful than radio buttons </li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764547622333998&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
            </div>
            <div class="round-card">
                <h2 class="govuk-heading-l">Round 3</h2>
                <h3 class="govuk-heading-m">What did we test?</h3>
                <p>1. iteration of remand breakdown</p>
                <p>1. Transition from adjustments service to calculate release sates</p>
                <p>1. Iteration of hub pattern</p>
                <p>1. Introduced a service start page</p>
                <p>1. Introduced a service start page</p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Research and findings
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        we found:
                        <ul>
                            <li>Users requested a better way to illustrate relationships between cases</li>
                            <li>Users needed more information about the offences (dates and outcomes)</li>
                        </ul>
                        <a href="https://miro.com/app/board/uXjVP8YuEus=/?moveToWidget=3458764546286065793&cot=14" class="govuk-link"> view research playback</a>
                    </div>
                </details>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}