{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="prisoner-search.html" class="govuk-back-link">Back</a>
<!--    <div class="govuk-grid-row">-->
<!--        <div class="govuk-grid-column-full">-->
<!--            <nav class="moj-sub-navigation" aria-label="Sub navigation">-->
<!--                <ul class="moj-sub-navigation__list">-->
<!--                    <li class="moj-sub-navigation__item">-->
<!--                        <a class="moj-sub-navigation__link" aria-current="page" href="#1">Overview</a>-->
<!--                    </li>-->
<!--                    <li class="moj-sub-navigation__item">-->
<!--                        <a class="moj-sub-navigation__link" href="court-cases">Court cases</a>-->
<!--                    </li>-->
<!--                    <li class="moj-sub-navigation__item">-->
<!--                        <a class="moj-sub-navigation__link" href="#2">Adjustments</a>-->
<!--                    </li>-->
<!--                    <li class="moj-sub-navigation__item">-->
<!--                        <a class="moj-sub-navigation__link" href="#2">Release dates</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </div>-->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-padding-top-8">
                <span class="govuk-caption-xl">Overview</span>
                Justin Bell
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-bottom-8 app-possible-prison-record" style="display: flex;">
                <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-0">
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 40%;">Name</th>
                        <td class="govuk-table__cell">Justin Bell</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Date of birth</th>
                        <td class="govuk-table__cell">1 April 1987</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Prison number</th>
                        <td class="govuk-table__cell">B4166LG</td>
                    </tr>
                    </tbody>
                </table>
                <img style="padding: 10px 10px 0 10px;height: 9em;" src="/public/images/prisoner.jpeg" alt="ABC, ABC">

            </div>
            <a class="govuk-button" href="case-details.html">Add new case</a>

            <div class="govuk-grid-row">
                <h2 class="govuk-heading-m">cases</h2>
            </div>
        </div>
    </div>
</div>
<div class="homepage-content">
    <div class="moj-width-container">
        <ul id="case-list" class="govuk-grid-row card-group">

        </ul>
    </div>
</div>
<script src="/public/javascripts/cases.js"></script>
{% endblock %}