{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Manage a digital warrant folder
            </h1>
            <h2 class="govuk-heading-m">Current versions</h2>
            <h3 class="govuk-heading-s">Version 4.1</h3>
            <p><a href="version-4-1/index.html">details</a> </p>
            <p><a href="version-4-1/prisoner-search.html">journey</a> </p>
            <h3 class="govuk-heading-s">Version 4</h3>
            <p><a href="version-4/index.html">details</a> </p>
            <p><a href="version-4/prisoner-search.html">journey</a> </p>

            <h3 class="govuk-heading-s">Version 3</h3>
            <h3 class="govuk-heading-s">Individual journeys</h3>
            <ul class="govuk-list">
                <li><a href="version-3/add-a-document/add-a-remand-warrant/next-hearing-date">Add a remand warrant</a></li>
                <li><a href="version-3/add-a-document/add-a-warrant-for-custodial-sentence/outcome">Add a warrant for custodial sentence</a>
                    <p class="govuk-hint">Also known as an Order for Imprisonment</p></li>
<!--                 <li><a href="version-3/add-an-offence/add-an-offence">Add an offence</a></li> -->
                </ul>
                <h3 class="govuk-heading-s">Hubs</h3>
                <ul class="govuk-list">
                <li><a href="version-3/court-cases">Version 3</li></a>
            </ul>
            <h2 class="govuk-heading-m">Older versions</h2>
            <ul class="govuk-list">
                <li><a href="version-2/initial-sentencing-one-page/task-list">Version 2 - initial sentencing journey using task list</a></li>
                <li><a href="version-1/version-1b/overview">Version 1 - sub nav</a></li>
                <li><a href="version-1/version-1a/overview">Version 1 - tabbed</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}