{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                <span class="govuk-caption-xl">Custodial sentence information</span>
                Check custodial sentence information
            </h1>

            <h2 class="govuk-heading-m">Court details</h2>

            <dl id="court-details" class="govuk-summary-list govuk-!-margin-bottom-9">

            </dl>
            <ol class="app-task-list govuk-!-margin-left-0">
                <li class="govuk-!-margin-left-0">
                    <h2 class="app-task-list__section">
                        Enter the outcome for each offence
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                          <div>
                              <h3 class="govuk-heading-s govuk-!-margin-bottom-0"> Fail to comply with an animal by-product requirement <strong class="govuk-tag app-task-list__tag " id="eligibility-status">Completed</strong></h3>
                              <span>Case ref :</span><span class="govuk-hint"> T234556</span>
                              <span>Date of offence</span><span>12 Jun2022</span>
                          </div>
                          <div class="govuk-!-margin-top-2">
                              <a href="select-an-outcome.html" aria-describedby="eligibility-status">
                                  Enter offence outcome
                              </a>
                          </div>
                        </li>
                        <li class="app-task-list__item">
                            <div>
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0"> Fail to comply with an animal by-product requirement <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Outcome required</strong></h3>
                                <span><strong>Case reference :</strong></span><span class="govuk-hint"> T234556</span>
                                <span><strong>Date of offence : </strong></span><span>12 Jun 2022</span>
                            </div>
                            <div>
                                <a href="select-an-outcome.html" aria-describedby="eligibility-status">
                                    Enter offence outcome
                                </a>
                            </div>
                        </li>
                        <li class="app-task-list__item">
                            <div>
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0"> Fail to comply with an animal by-product requirement <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Outcome required</strong> </h3>
                                <span>case ref :</span><span class="govuk-hint"> T234556</span>
                                <span>date</span><span>12 Jun 2022</span>
                            </div>
                            <div>
                                <a href="select-an-outcome.html" aria-describedby="eligibility-status">
                                    Enter offence outcome
                                </a>
                            </div>
                        </li>
                        <li class="app-task-list__item">
                            <div>
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-0"> Fail to comply with an animal by-product requirement <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Outcome required</strong></h3>
                                <span>case ref :</span><span class="govuk-hint"> T234556</span>
                                <span>date</span><span>12 Jun 2022</span>
                            </div>
                            <div>
                                <a href="select-an-outcome.html" aria-describedby="eligibility-status">
                                    Enter offence outcome
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>

                    </ul>
                </li>

<!--                <li>-->
<!--                    <h2 class="app-task-list__section">-->
<!--                        <span class="app-task-list__section-number">3. </span> Apply-->
<!--                    </h2>-->
<!--                    <ul class="app-task-list__items">-->
<!--                        <li class="app-task-list__item">-->
<!--              <span class="app-task-list__task-name">-->
<!--                Submit and pay-->
<!--              </span>-->
<!--                            <strong class="govuk-tag govuk-tag&#45;&#45;grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ol>

            <a class="govuk-link govuk-!-margin-bottom-2 govuk-!-display-block" href="confirmation-page.html">Tell us about another offence </a><br>
            <a class="govuk-button" href="confirmation-page.html">Continue</a>

        </div>
    </div>
</div>
<script src="/public/javascripts/custodial-data-3.js"></script>
{% endblock %}