{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="#" class="govuk-back-link">Back</a>
            <div id="errorContainer" class="govuk-!-margin-top-4">

            </div>
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                <span class="govuk-caption-xl">Custodial sentence information</span>
                Enter the offence outcomes
            </h1>
            <p> Remand has been recorded on this court case against the offences listed below.</p>

            <p>Enter the outcomes for these offences. You can add more offences later.</p>

<!--            <h2 class="govuk-heading-m">Court case details</h2>-->
<!--            <div class="remand-court-case-card">-->
<!--                <dl id="" class=" govuk-summary-list govuk-!-margin-left-2">-->

<!--                <div class="govuk-summary-list__row">-->
<!--                    <dt class="govuk-summary-list__key">-->
<!--                        Court-->
<!--                    </dt>-->
<!--                    <dd class="govuk-summary-list__value ">-->
<!--                        Birmingham Crown Court-->
<!--                    </dd>-->
<!--                </div>-->
<!--                <div class="govuk-summary-list__row">-->
<!--                    <dt class="govuk-summary-list__key">-->
<!--                        Court date-->
<!--                    </dt>-->
<!--                    <dd class="govuk-summary-list__value">-->
<!--                        3 Nov 2022-->
<!--                    </dd>-->
<!--                </div>-->
<!--                <div class="govuk-summary-list__row">-->
<!--                    <dt class="govuk-summary-list__key">-->
<!--                        Case reference-->
<!--                    </dt>-->
<!--                    <dd class="govuk-summary-list__value">-->
<!--                        T20221234-->
<!--                    </dd>-->
<!--                </div>-->
<!--                <div class="govuk-summary-list__row">-->
<!--                    <dt class="govuk-summary-list__key">-->
<!--                        Number of counts-->
<!--                    </dt>-->
<!--                    <dd class="govuk-summary-list__value">-->
<!--                       3-->
<!--                    </dd>-->
<!--                </div>-->
<!--            </dl>-->
<!--            </div>-->
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="app-task-list__section">
                Offence details
            </h2>

            <div class="govuk-inset-text">
                You need to result the following offences:
            </div>

            <ul class=" offence-list app-task-list__items govuk-!-padding-left-0">
            </ul>
            <a id="remandOffenceListButton" class="govuk-button" href="confirmation-page.html">Continue</a>
        </div>
    </div>
</div>
<script src="/public/javascripts/data-store-4.js"></script>
{% endblock %}