{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                <span class="govuk-caption-xl">Custodial sentence information</span>
                Check custodial sentence information
            </h1>

            <h2 class="govuk-heading-m">Court details</h2>

            <dl id="court-details" class="govuk-summary-list govuk-!-margin-bottom-9">

            </dl>

            <h2 class="govuk-heading-m">Sentence details</h2>

            <div class="sentence-block">
                <div class="govuk-grid-column-full govuk-!-margin-top-4">
                    <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 5</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        Fail to comply with an animal by-product requirement
                    </h4>
                    <p class="govuk-body-s">Committed on  Invalid  </p>
                    <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row govuk-body-s">
                            <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                            <td class="govuk-table__cell">CJA03 Standard Determinate Sentence</td>
                        </tr>
                        <tr class="govuk-table__row govuk-body-s">
                            <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                            <td class="govuk-table__cell"> Invalid  </td>
                        </tr>
                        <tr class="govuk-table__row govuk-body-s">
                            <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                            <td class="govuk-table__cell"> 0 years 0 months 0 weeks 0 days
                            </td>
                        </tr>
                        <tr class="govuk-table__row govuk-body-s firstcc">
                            <th scope="row" class="govuk-table__header sentence-table-header">Concurrent or consecutive</th>
                            <td class="govuk-table__cell">to be served: Consecutive to Count 2
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <a class="govuk-button govuk-button--secondary">
                    Tell us more
                </a>
            </div>

            <a class="govuk-button" href="confirmation-page.html">Continue</a>

        </div>
    </div>
</div>
<script src="/public/javascripts/custodial-data-3.js"></script>
{% endblock %}