{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">21 March 1986</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
    <div class="govuk-width-container">
        <a href="#" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form action="/form-handler" method="post" novalidate>

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                        What was the outcome?
                                    </h1>
                                </legend>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input outcome-category" id="where-do-you-live" name="outcome" type="radio" value="Guilty" data-route="sentence-detail-3">
                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                            Guilty imprisonment
                                        </label>
                                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                            This is when a case has resulted in a custodial sentence.
                                        </div>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input outcome-category" id="where-do-you-live-2" name="outcome" type="radio" value="guilty non custodial" data-route="offences-from-remand" data-aria-controls="guilty-nc">
                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                            Guilty Non custodial
                                        </label>
                                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                            This includes community order,
                                            fine,
                                            conditional discharge,
                                            suspended imprisonment.
                                        </div>
                                    </div>
                                    <div class="govuk-radios__conditional" id="guilty-nc">
                                        <div class="govuk-form-group ">
                                            <label class="govuk-label" for="contact-by-email">
                                                Select the outcome
                                            </label>
                                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name" name="changed-name" type="radio" value="Community Order">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name">
                                                        Community Order
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name-2" name="changed-name" type="radio" value="Fine">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                        Fine
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name-2" name="changed-name" type="radio" value="Conditional discharge">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                        Conditional discharge
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name-2" name="changed-name" type="radio" value="Suspended Imprisonment">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                        Suspended Imprisonment
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input outcome-category" id="where-do-you-live-3" name="outcome" type="radio" value="Not-guilty" data-route="offences-from-remand" data-aria-controls="not-guilty">
                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                            Not Guilty
                                        </label>
                                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                            This includes
                                            dismissed,
                                            acquitted,
                                            discontinuance
                                        </div>
                                    </div>
                                    <div class="govuk-radios__conditional" id="not-guilty">
                                        <div class="govuk-form-group ">
                                            <label class="govuk-label" for="contact-by-email">
                                                Select the outcome
                                            </label>
                                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name" name="changed-name" type="radio" value="Dismissed">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name">
                                                        Dismissed
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name-2" name="changed-name" type="radio" value="Acquitted">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                        Acquitted
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name-2" name="changed-name" type="radio" value="Discontinuance">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                        Discontinuance
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input outcome-category" id="outcome-4" name="outcome" type="radio" value="Other" data-route="offences-from-remand" data-aria-controls="other-options">
                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                            Other
                                        </label>
                                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                            This includes lie on file
                                        </div>
                                    </div>
                                    <div class="govuk-radios__conditional" id="other-options">
                                        <div class="govuk-form-group ">
                                            <label class="govuk-label" for="contact-by-email">
                                                Select the outcome
                                            </label>
                                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name-2" name="changed-name" type="radio" value="Lie on file">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                        Lie on file
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input outcome-sub-category" id="changed-name-2" name="changed-name" type="radio" value="Not recorded on warrant">
                                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                        Not recorded on warrant
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <a id="outcome-button" class="govuk-button">
                            Continue
                        </a>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/data-store-4.js"></script>
{% endblock %}