{% extends "version-1/dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                <span class="govuk-caption-xl">Add a remand warrant</span>
                Enter warrant details
            </h1>
            <!-- warrant date  -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <label class="govuk-fieldset__legend govuk-label--s">
                        Date of warrant
                    </label>
                    <div id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                    </div>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
            <!-- court name -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="sort">
                    Court name
                </label>
                <select class="govuk-select" id="sort" name="sort">
                    <option value="published">Court name</option>
                    <option value="updated" selected>Court name<</option>
                    <option value="views">Court name<</option>
                    <option value="comments">Court name<</option>
                </select>
            </div>

            <!-- court reference -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="event-name">
                    What is the case reference?
                </label>
                <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text">
            </div>
            <!-- basis of remand-->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="sort">
                    Basis of remand
                </label>
                <select class="govuk-select" id="remand" name="sort">
                    <option value="published">Remand at magistrates</option>
                    <option value="updated" selected>Remand at crown court</option>
                    <option value="views">Convicted</option>
                </select>
            </div>
            <!--Hearing type-->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="sort">
                    What was the hearing type?
                </label>
                <select class="govuk-select" id="hearing-type" name="sort">
                    <option value="published">Bail application</option>
                    <option value="updated" selected>Breach hearing</option>
                    <option value="views">Expedited Breach Hearing</option>
                    <option value="comments">Court Appearance</option>
                    <option value="comments">Court Review</option>
                </select>
            </div>
            <!--Hearing outcome-->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="sort">
                    What was the outcome?
                </label>
                <select class="govuk-select" id="hearing-outcome" name="sort">
                    <option value="published">Remand in Custody (Bail Refused)</option>
                    <option value="updated" selected>Mental Health Commit to Crown Court for Restriction (Remand to Prison)</option>
                    <option value="views">Remand in Custody Ancillary Results</option>
                    <option value="comments">Remand in Custody after Bail Appeal by Prosecutor</option>
                    <option value="comments">Remand in Custody to Customs Detention</option>
                    <option value="comments">Remand in Custody after Bail Appeal by Prosecutor</option>
                    <option value="comments">Remand in Custody with Direction to Release on Bail</option>
                    <option value="comments">Civil Remand</option>
                </select>
            </div>
            <!-- next hearing -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <label class="govuk-fieldset__legend govuk-label--s">
                        When was the court date?
                    </label>
                    <div id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                    </div>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
            <a href="add-offence-details.html" class="govuk-button">Continue</a>
        </div>
    </div>
</div>
{% endblock %}